.Question button[disabled] {
    color: rgba(0, 0, 0, .25) !important;
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none !important;
    border-bottom: 1px #ddd solid !important;
    cursor: not-allowed !important;
}

.Question > button {
    min-height: 40px;
    border: none;
    height: auto;
    white-space: pre-wrap;
    border-bottom: 1px #ddd solid;
    border-radius: 0;
    z-index: 10;
    color: #298bef !important;
}

.Question > button > span {
    display: block;
    text-align: center;
}

/* for the skip button */
.Question > button[data-danger="true"] {
    color: #f5222d !important;
}

.Question > button[data-danger="true"]:hover {
    color: white !important;
}

.Question > button[data-danger="true"]:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

.Question > button:last-child {
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.Selected {
    background-color: #1790ff;
    color: white;
}
