.ant-carousel > .slick-slider.slick-initialized {
    display: flex !important;
    padding-right: 5px;
}


.ant-badge {
    display: block;
    z-index: 99999;
}

.ant-badge > button {
    border-radius: 0 0 25px 25px;
}

.ant-card-cover {
    height: 100px;
}

.ant-card-body {
    padding: 0;
    height: calc(100% - 100px);
}

.ant-carousel .slick-initialized .slick-slide {
    opacity: 0.4;
    transition: opacity 0.5s !important;
    padding: 5px;
}

.ant-carousel .slick-slide {
    height: auto;
    padding-right: 5px;
}

.slick-current {
    opacity: 1 !important;
}


.ant-carousel .slick-dots li {
    /*this is because cps uses the slick lib and it overrides our width for the dots */
    width: auto !important;
    margin: 0 2px !important;
}

.ant-carousel .slick-dots li button {
    border-radius: 1px;
    font-size: 0;
    color: transparent;
    transition: all 0.5s;
}

.slick-slider .slick-initialized > button {
    color: transparent;
}

.ant-carousel .slick-prev, .ant-carousel .slick-next {
    background-color: transparent;
    position: absolute;
    display: block;
    height: 277px;
    width: 30px !important;
    line-height: 0;
    font-size: 0;
    color: transparent !important;
    top: 0;
    margin-top: 0px;
    padding: 0;
    border: 0;
    outline: none;
    z-index: 100;
    /*to not to use the slick-theme.css in cps */
    all: unset; /* no !important */
}

/*This to remove the css conflicts with slick-theme.min.css in cps group */
.slick-prev:before, .slick-next:before {
    all: unset;
}

.slick-dots li button:before {
    all: unset;
}

/********************************/

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
    right: 0;
    color: transparent;
    background-image: url("https://thesearchbase.com/static/images/next.png");
    /* no important */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slick-slider .slick-disabled,
.slick-slider .slick-disabled:hover,
.slick-slider .slick-disabled:focus {
    background-image: none !important;
    cursor: default !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
    left: 0;
    background-image: url("https://thesearchbase.com/static/images/back.png");
    /* no important */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ant-card-hoverable {
    cursor: default;
}


.slick-slide > div {
    height: 100% !important;
    display: flex !important;;
    align-items: center !important;;
    justify-content: center !important;;
}


/* Multiple selection text */
.Title {
    font-size: 15px;
}

.SubTitle {
    font-size: 14px;
}

.Paragraph {
    font-size: 13px;
    margin-bottom: 1rem;
}

.Solutions_Text {
    color: #cac8c8;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 25px;
}

.Solutions {
    position: relative;
    padding: 0;
    float: left;
    max-width: 100%;
    width: 100%;
}

.SkipButton {
    border-radius: 0 0 25px 25px !important;
}


.Card {
    width: 220px;
    height: 260px;
    border-radius: 5px;
    margin: auto;
}

.Card_Text {
    height: calc(100% - 32px);
    padding: 10px;
    overflow-y: auto;
}

.Card_Buttons > button {
    border: none;
    border-bottom: 1px #ddd solid;
    border-radius: 0;
    z-index: 10;
    color: #298bef;
}

.Card_Buttons > button:first-child {
    border-top: 1px #ddd solid;
}

.Card_Buttons > button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Solutions ul {
    bottom: -7px !important;
}

.Solutions ul button {
    background-color: #1890ff !important;
}


/* =================== */


/*BUTTONS*/

/* for the skip button */
.Solutions > button[data-danger="true"] {
    color: #f5222d !important;
}

.Solutions > button[data-danger="true"]:hover {
    color: white;
}

.Solutions > button[data-danger="true"]:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

/* for the not interested button */
.Solutions > button[data-warning="true"] {
    color: #eca415 !important;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
}

.Solutions > button[data-warning="true"]:hover {
    color: white !important;
    background-color: #eca415 !important;
    border-color: transparent !important;
}

.Solutions > button[data-warning="true"]:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

.Solutions > button[data-warning="true"]:disabled:hover {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

/* =================== */

.Solutions > button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* =================== */


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    .Card {
        width: 145px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 2) {
    .Card {
        width: 190px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .Card {
        width: 230px;
    }
}
