/* General backbone */
/*!* =================== *!*/
.Single_Solution {
    width: 275px;
    margin: 0 auto;
    height: calc(100% - 32px);
    padding: 20px 0;
}

.Solutions {
    position: relative;
    width: 100%;
    height: 100%;
}

.Solutions_Text {
    color: #cac8c8;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 25px;
}

.ant-carousel {
    height: calc(100% - 58px);
}

.slick-slider {
    height: 100%;
}

.slick-list {
    height: calc(100% - 25px);
}

.slick-track {
    height: 100%;
    width: 100%;
}

/*!* =================== *!*/


/*Card width*/
.slick-slide {
    width: 240px;
}


/*!* =================== *!*/

/*To make each card in the middle*/
.slick-slide > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*To put margin between each card*/
.ant-card {
    width: calc(100% - 10px);
    height: 100%;
    border-radius: 5px !important;
}

/*!* =================== *!*/


/*Card style*/
.ant-card-cover {
    height: 100px;
}

.ant-card-body {
    padding: 0 !important;
    height: calc(100% - 100px);
}

.Card_Text {
    height: calc(100% - 32px);
    padding: 10px;
    overflow-y: auto;
    color: black;
}

.Card_Buttons > button {
    border: none;
    border-bottom: 1px #ddd solid;
    border-radius: 0;
    z-index: 10;
    color: #298bef;
}

.Card_Buttons > button:first-child {
    border-top: 1px #ddd solid;
}

.Card_Buttons > button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Title {
    font-size: 15px;
}

.SubTitle {
    font-size: 14px;
}

.Paragraph {
    font-size: 13px;
    margin-bottom: 1rem;
}

.SkipButton {
    border-radius: 0 0 25px 25px !important;
    left: -3px;
    top: 3px;
    border: none !important;
}

.SkipButton[disabled] {
    pointer-events: none;
}


/* Opacity effect for non-active cards */
.ant-carousel .slick-initialized .slick-slide {
    opacity: 0.4;
    transition: opacity 0.5s;
}

.slick-current {
    opacity: 1 !important;
}

/* For submit button because we use badge as parent div */
.ant-badge {
    width: 100%;
    display: block;
    z-index: 99999;
}

.ant-badge > button {
    border-radius: 0 0 25px 25px;
}

.Solutions ul button {
    background-color: #1890ff !important;
}

/*!* =================== *!*/
/*Next & Prev Buttons */
/*Overried slick library*/

.ant-carousel .slick-prev:before,
.ant-carousel .slick-next:before {
    content: none !important;
}

.ant-carousel .slick-arrow.slick-prev {
    left: 0;
}

.ant-carousel .slick-arrow.slick-next {
    right: 0;
}

.slick-prev,
.slick-next {
    height: 277px !important;
    width: 30px !important;
    z-index: 100 !important;
}

/*!********************************!*/
.slick-slider.slick-initialized .slick-arrow.slick-next,
.slick-slider.slick-initialized .slick-arrow.slick-next:hover,
.slick-slider.slick-initialized .slick-arrow.slick-next:focus {
    color: transparent;
    background-image: url("https://thesearchbase.com/static/images/next.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.slick-slider.slick-initialized .slick-arrow.slick-next.slick-disabled,
.slick-slider.slick-initialized .slick-arrow.slick-next.slick-disabled:hover,
.slick-slider.slick-initialized .slick-arrow.slick-next.slick-disabled:focus {
    background-image: none;
    cursor: default;
}

.slick-slider.slick-initialized .slick-arrow.slick-prev,
.slick-slider.slick-initialized .slick-arrow.slick-prev:hover,
.slick-slider.slick-initialized .slick-arrow.slick-prev:focus {
    background-image: url("https://thesearchbase.com/static/images/back.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slick-slider.slick-initialized .slick-arrow.slick-prev.slick-disabled,
.slick-slider.slick-initialized .slick-arrow.slick-prev.slick-disabled:hover,
.slick-slider.slick-initialized .slick-arrow.slick-prev.slick-disabled:focus {
    background-image: none;
    cursor: default;
}

/*!********************************!*/


/*!* =================== *!*/
/*!*BUTTONS*!*/

/* for the skip button */
.Solutions > button[data-danger="true"] {
    color: #f5222d !important;
}

.Solutions > button[data-danger="true"]:hover {
    color: white;
}

.Solutions > button[data-danger="true"]:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

/* for the not interested button */
.Solutions > button[data-warning="true"] {
    color: #eca415 !important;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
}

.Solutions > button[data-warning="true"]:hover {
    color: white !important;
    background-color: #eca415 !important;
    border-color: transparent !important;
}

.Solutions > button[data-warning="true"]:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

.Solutions > button[data-warning="true"]:disabled:hover {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.Solutions > button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*!* =================== *!*/


/*!* ----------- iPhone 5, 5S, 5C and 5SE ----------- *!*/
/*!* Portrait and Landscape *!*/
/*@media only screen*/
/*and (min-device-width: 320px)*/
/*and (max-device-width: 320px)*/
/*and (-webkit-min-device-pixel-ratio: 2) {*/
/*    .slick-slide {*/
/*        width: 145px !important;*/
/*    }*/
/*}*/

/*!* ----------- iPhone 6, 6S, 7 and 8 ----------- *!*/

/*!* Portrait and Landscape *!*/
/*@media only screen*/
/*and (min-device-width: 375px)*/
/*and (max-device-width: 375px)*/
/*and (-webkit-min-device-pixel-ratio: 2) {*/
/*    .slick-slide {*/
/*        width: 190px !important;*/
/*    }*/
/*}*/

/*!* ----------- iPhone 6+, 7+ and 8+ ----------- *!*/

/*!* Portrait and Landscape *!*/
/*@media only screen*/
/*and (min-device-width: 414px)*/
/*and (max-device-width: 736px)*/
/*and (-webkit-min-device-pixel-ratio: 3) {*/
/*    .slick-slide {*/
/*        width: 230px !important;*/
/*    }*/
/*}*/
