
#TheSearchBase_Chatbot input[type="color"],
#TheSearchBase_Chatbot input[type="date"],
#TheSearchBase_Chatbot input[type="datetime"],
#TheSearchBase_Chatbot input[type="datetime-local"],
#TheSearchBase_Chatbot input[type="email"],
#TheSearchBase_Chatbot input[type="month"],
#TheSearchBase_Chatbot input[type="number"],
#TheSearchBase_Chatbot input[type="password"],
#TheSearchBase_Chatbot input[type="search"],
#TheSearchBase_Chatbot input[type="tel"],
#TheSearchBase_Chatbot input[type="text"],
#TheSearchBase_Chatbot input[type="time"],
#TheSearchBase_Chatbot input[type="url"],
#TheSearchBase_Chatbot input[type="week"],
#TheSearchBase_Chatbot select:focus,
#TheSearchBase_Chatbot textarea {
    font-size: 16px;
}

#TheSearchBase_Chatbot .salaryDropdown {
    z-index: 99999999 !important;
}

.ant-input-search > input {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ant-input-search > .ant-input-suffix > .ant-input-search-button {
    border-radius: 0;
    border-bottom-right-radius: 5px;
}

.ant-upload,
.ant-upload > button {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ant-upload-list {
    position: relative;
    bottom: 70px;
    width: 96%;
    left: 10px;
}

.ant-progress-outer {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    padding: 0 10px;
}

