.col_intro{
    text-align: center;
}

.col_intro h1{
    font-weight: bold;
    font-size: 2em;
    color: #444444;
}

.col_intro hr{
    background-color: #9254de;
    max-width: 100px;
    height: 3px;
}

.col_intro h2{
    color: #444444;
    font-size: 1.1em;
}

.section {
    line-height: normal;
    padding: 80px 0;
}

.section_features_intro{
    padding-top: 80px;
}

@media (max-width: 991.98px) {
    .section {
        padding: 40px 0;
    }
    .col_intro h1{
        font-size: 1.8em;
    }
}