@import "~antd/lib/style/themes/default";
@import "~antd/lib/style/mixins/index";
@import "~antd/lib/Layout/style/index.less";
@import "~antd/lib/Menu/style/index.less";

@primary-color: @purple-5;
@layout-header-background: white;

.ant-layout {
  transition: all .2s;
}
