blinker==1.4
click==6.7
Flask==0.12.2
flask-API
Flask-Mail==0.9.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
virtualenv==15.1.0
Werkzeug==0.14.1
stripe==1.79.1
booleano==1.1a1
Shapely==1.6.4.post1
bcrypt
cryptography