.wrapper {
    padding: 1em 1em;
    min-height: 100vh;
    color: #848484;
}

.row_steps{
    width: auto;
    padding: 10px 0 30px 0;
}

.col_desc {
    align-self: center;
    color: #848484;
}

.col_desc .title{
    text-align: center;
    color: #444444;
    font-weight: bolder;
    font-size: 1.5em;
    padding-bottom: 0;
}

.col_desc hr {
    text-align: center;
    background-color: #9254de;
    max-width: 45px;
    margin: .75em auto;
    height: 3px;
}

.col_desc .list {
    text-align: center;
    color: #848484;
    font-weight: bold;
    flex-grow: 1;
}

.col_desc .list li {
    margin: .5em 0;
}

.col_desc .list li:first-child {
    margin-top: 0;
}

.col_desc .list li:last-child {
    margin-bottom: 0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.title {
    color: #444444;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 1em;
    text-align: center;
}

.input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #adadad;
}

.input:focus {
    box-shadow: none;
    border-color: #9254de;
}

.has_val {
    border-color: #9254de;
}

.submit {
    margin-top: 3em;
    border: solid transparent 0;
    border-radius: 7px;
    padding: 8px 20px;
    background-color: #9254de;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.submit:hover {
    background-color: #9C7DED;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.submit:not(:disabled):not(.disabled):active {
    background-color: #9C7DED;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.submit:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 107, 219, .5);
}

.submit:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 107, 219, .5);
}

.sign_up {
    margin-top: 1em;
    font-size: .8em;
    text-align: center;
    color: #909090;
}

.sign_up a {
    font-size: 1em;
    margin: 0 .2em;
    text-decoration: none;
    font-weight: bold;
    color: #B2B2B2;
}

.navigation {
    margin-top: 1em;
    color: white;
    align-self: center;
    text-align: center;
}

.navigation ul {
    font-size: 0.8em;
    justify-content: space-around;
    display: flex;
    flex-flow: row;
    align-self: center;
}

.navigation ul li {
    padding: 0 1em;
}

.navigation a {
    text-decoration: none;
    color: white;
}


@media (max-width: 1200px) {
    .form_wrapper {
        margin: 0 3%;
    }
}

@media (max-width: 992px) {
    .form_wrapper {
        margin: 0;
    }
}

@media (max-width: 575.98px) {
    .col_desc{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .col_desc .text1 {
        text-align: center;
        font-size: 1.5em;
    }

    .col_desc .text2 {
        text-align: center;
    }
}
