.form_item {
    transition: all .5s;
    font-weight: bold;
}

.form_item div {
    line-height: 2em;
}

.form_item label {
    font-size: 1.1em;
    font-weight: bold;
    color: #444444;

}

.card_input{
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
}

.card_input:hover{
    border-color: #b37feb;
    border-right-width: 1px !important;
}

.card_input:focus {
    border-color: #b37feb;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(146, 84, 222, 0.2);
}

.card_input:focus-within {
    border-color: #b37feb;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(146, 84, 222, 0.2);
}