ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  /* color: white; */
}

.him{
  background: #e53935;
  float: left;
}

.him{
  border-bottom-left-radius: 5px;
}

.bottom_left{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  margin-left: 10px;
}

#launch_button {
    background-image: url(../img/core-img/open-assistant-circle.png);
    /* color: white; */
    width: 100px;
    margin-left: 27px;
    height: 100px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    display: inline-block;
}

#launch_button:hover, #launch_button_appendix {
    cursor: pointer;
}

#launch_button_appendix {
    background-image: url(../img/core-img/open-assistant-bar.png);
    width: 237px;
    height: 94px;
    background-repeat: no-repeat;
    margin-left: -36px;
    margin-bottom: -76px;
    /* background-size: cover; */
    display: inline-block;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari 3-8 */
    transform: rotate(30deg);
    opacity: 0;
}
/*
    30 deg
     margin-left: -36px;
    margin-bottom: -76px;
    TO:
    0 deg
    width: 237px;
    height: 94px;
*/


#launch_button3 {
    display: inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    /* color: white; */
    background: none;
}

#chatbotIframe {
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*iFrame styling*/
#iframediv {
    opacity: 0;
}

#overChatbotIframeCloseButton {
    width: 67px;
    height: 31px;
    position: absolute;
    right: 0.5px;
    background-color: #9023dc;
    padding: 22.5px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    border-top-right-radius: 10px;
    color: white;
}

#overChatbotIframeCloseButton:hover {
    color: #9023dc;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    /*border-style: solid;
    border-width: 2px;
    border-color: #9948e6;*/
}

#chatbotIframe, #overChatbotIframe {
    box-shadow: 3px 3px 5px grey;
}

#overChatbotIframe {
    background-color: #e9ecef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #9023dc;
    color:white;
    font-weight:bold;
}

#overChatbotIframeImg {
    margin-left: 10px;
    width:62px;
}

#overChatbotIframeHeading {
    margin-left: 12px;
    margin-top: 20px;
    font-size: 30px;
}
