ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  /* color: white; */
}

.him{
  background: #e53935;
  float: left;
}

.him{
  border-bottom-left-radius: 5px;
}

.bottom_left{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  margin-left: 10px;
}

#launch_button{
    background-color: #002d62;
    color: white;

}

#launch_button3{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    /* color: white; */
    background: #ffffff;
}


/*iFrame styling*/
#chatbotIframe, #overChatbotIframe {
    box-shadow: 3px 3px 5px grey;
}

#overChatbotIframe {
    background-color: #e9ecef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#overChatbotIframeImg {
    margin-left: 10px;
}

#overChatbotIframeHeading {
    margin-left: 12px;
    margin-top: 20px;
    font-size: 30px;
}
