{% extends "admin/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/css/main.css">
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Change Password</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                    </div>
                  
                    <!-- Content should go here -->
                    <form action="/admin/changepassword" method="POST" enctype="multipart/form-data">
                        <br /><br />

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="password" id="password" name="currentPassword"
                                   placeholder="Old Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Required">
                            <input class="input100" type="password" id="password" name="newPassword" autocomplete="new-password"
                                   placeholder="New Password" onchange="validatePassword(this);">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Required">
                            <input class="input100 btn" type="password" id="confirmpassword" name="confirm-pass"
                                   placeholder="Confirm Password" onkeyup="checkPasswordWithoutAlert()" onchange="checkPassword()" disabled
                                   style="cursor:not-allowed;text-align: -webkit-auto;">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <!-- Submit button -->
                        <label id="feedbackP">{{msg}}</label>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn-disabled" id="submit" disabled>
                                Submit
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#exampleModal" hidden id="showError"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorText"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
<script>
    var errTitle = $("#errorTitle")
    var errText = $("#errorText")
    var errShow = $("#showError")
    var inputs = {
        password: false,
        passwordConf: false
    }
    function validatePassword(passwordElement) {
        var password = passwordElement.value
        if (password.length >= 8) {
            if (password.match(/^(?=.*[a-z|A-Z])(?=.*[A-Z])(?=.*\d).+$/) != null) {
                // sucess
                passwordElement.style.boxShadow = "0 0 9px 0px rgba(100, 185, 110, 1)"
                //give ability to confirm password
                $("#confirmpassword").removeAttr('disabled', '')
                $("#confirmpassword").css('cursor', '')
                $("#confirmpassword").removeClass('btn')
                return inputs.password = true;
            }
            else {
                passwordElement.style.boxShadow = "0 0 9px 0px #f44336"
                alertError('Password Error', 'Passwords must contain at least 1 lower and upper case letter. And 1 number.')
                return inputs.password = false
            }
        }
        else {
            passwordElement.style.boxShadow = "0 0 9px 0px #f44336"
            alertError('Password Error', 'Passwords must be at least 8 characters long.')
            return inputs.password = false
        }
    }
    function checkPassword() {
        pass = document.getElementById('password')
        passwordConf = document.getElementById('confirmpassword')
        submit = document.getElementById("submitB")
        if (password.value == passwordConf.value) {
            submit.disabled = false
            submit.classList.remove('login100-form-btn-disabled');
            submit.classList.add('login100-form-btn');
            passwordConf.style.boxShadow = "0 0 9px 0px rgba(100, 185, 110, 1)"
            inputs.passwordConf = true
        } else {
            alertError('Password Matching Error', 'Please match your passwords')
            submit.disabled = true
            inputs.passwordConf = false
        }
        for (var input of Object.entries(inputs)) {
            if (!input[1]) {
                submit.classList.add('login100-form-btn-disabled');
                submit.classList.remove('login100-form-btn');
                break
            }
        }
    }
    function checkPasswordWithoutAlert() {
        pass = document.getElementById('password')
        passwordConf = document.getElementById('confirmpassword')
        submit = document.getElementById("submit")
        if (password.value == passwordConf.value) {
            // sucess
            submit.disabled = false
            submit.classList.remove('login100-form-btn-disabled');
            submit.classList.add('login100-form-btn');
            passwordConf.style.boxShadow = "0 0 9px 0px rgba(100, 185, 110, 1)"
            inputs.passwordConf = true
        } else {
            // fail
            passwordConf.style.boxShadow = "0 0 9px 0px #f44336"
            submit.disabled = true
            inputs.passwordConf = false
        }
        for (var input of Object.entries(inputs)) {
            if (!input[1]) {
                submit.classList.add('login100-form-btn-disabled');
                submit.classList.remove('login100-form-btn');
                break
            }
        }
    }
    function alertError(name, text) {
        // clear previous error message
        errShow.html('')
        errText.html('')
        errTitle.html(name)
        errText.html(text)
        errShow.click()
    }
</script>
{% endblock %}
