<!DOCTYPE html>
<html lang="en">
<head>
	<title>Set Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/SL/Login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://www.thesearchbase.com/static/SL/Login/css/main.css">
<!--===============================================================================================-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-70419779-2');
</script>

<!-- Icon images -->
<link rel="apple-touch-icon" sizes="57x57" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.thesearchbase.com/static/img/core-img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://www.thesearchbase.com/static/img/core-img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.thesearchbase.com/static/img/core-img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://www.thesearchbase.com/static/img/core-img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.thesearchbase.com/static/img/core-img/favicon-16x16.png">
<link rel="manifest" href="https://www.thesearchbase.com/static/img/core-img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://www.thesearchbase.com/static/img/core-img/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="https://www.thesearchbase.com/static/SL/Login/images/img-01.png" alt="IMG">
                </div>

                <form id="setNewPassForm" class="login100-form validate-form" action="/account/resetpassword/{{payload}}" method="post">
                    <span class="login100-form-title">
                        New Password
                    </span>

                    Please enter your new password

                    <form action="/account/resetpassword/{{payload}}" method="POST" enctype="multipart/form-data">

                        <!-- User's details -->
                        <br />
                        <input value="{{email}}" name="email" hidden />

                        <div class="wrap-input100 validate-input" data-validate="Required">
                            <input class="input100" type="password" id="password" name="password" autocomplete="new-password"
                                   placeholder="Password" onchange="validatePassword(this);">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Required">
                            <input class="input100 btn" type="password" id="confirmpassword" name="confirmPassword"
                                   placeholder="Confirm password" onkeyup="checkPasswordWithoutAlert()" onchange="checkPassword()" disabled
                                   style="cursor:not-allowed;text-align: -webkit-auto;">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <!-- Submit button -->
                        <label id="feedbackP">{{msg}}</label>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn-disabled" id="submit" disabled>
                                Submit
                            </button>
                        </div>

                    </form>

                    <!--<div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Reset
                        </button>
                    </div>-->

                </form>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#exampleModal" hidden id="showError"></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorText"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="https://www.thesearchbase.com/static/SL/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://www.thesearchbase.com/static/SL/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="https://www.thesearchbase.com/static/SL/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://www.thesearchbase.com/static/SL/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://www.thesearchbase.com/static/SL/Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="https://www.thesearchbase.com/static/SL/Login/js/main.js"></script>
    <script>
        var errTitle = $("#errorTitle")
        var errText = $("#errorText")
        var errShow = $("#showError")

        var inputs = {
            password: false,
            passwordConf: false
        }

        function validatePassword(passwordElement) {
            var password = passwordElement.value

            if (password.length >= 8) {
                if (password.match(/^(?=.*[a-z|A-Z])(?=.*[A-Z])(?=.*\d).+$/) != null) {
                    // sucess
                    passwordElement.style.boxShadow = "0 0 9px 0px rgba(100, 185, 110, 1)"
                    //give ability to confirm password
                    $("#confirmpassword").removeAttr('disabled', '')
                    $("#confirmpassword").css('cursor', '')
                    $("#confirmpassword").removeClass('btn')
                    return inputs.password = true;
                }
                else {
                    passwordElement.style.boxShadow = "0 0 9px 0px #f44336"
                    alertError('Password Error', 'Passwords must contain at least 1 lower and upper case letter. And 1 number.')
                    return inputs.password = false
                }
            }
            else {
                passwordElement.style.boxShadow = "0 0 9px 0px #f44336"
                alertError('Password Error', 'Passwords must be at least 8 characters long.')
                return inputs.password = false
            }
        }

        function checkPassword() {
            pass = document.getElementById('password')
            passwordConf = document.getElementById('confirmpassword')
            submit = document.getElementById("submitB")
            if (password.value == passwordConf.value) {
                submit.disabled = false
                submit.classList.remove('login100-form-btn-disabled');
                submit.classList.add('login100-form-btn');
                passwordConf.style.boxShadow = "0 0 9px 0px rgba(100, 185, 110, 1)"
                inputs.passwordConf = true
            } else {
                alertError('Password Matching Error', 'Please match your passwords')
                submit.disabled = true
                inputs.passwordConf = false
            }
            for (var input of Object.entries(inputs)) {
                if (!input[1]) {
                    submit.classList.add('login100-form-btn-disabled');
                    submit.classList.remove('login100-form-btn');
                    break
                }
            }
        }

        function checkPasswordWithoutAlert() {
            pass = document.getElementById('password')
            passwordConf = document.getElementById('confirmpassword')
            submit = document.getElementById("submit")

            if (password.value == passwordConf.value) {
                // sucess 
                submit.disabled = false
                submit.classList.remove('login100-form-btn-disabled');
                submit.classList.add('login100-form-btn');
                passwordConf.style.boxShadow = "0 0 9px 0px rgba(100, 185, 110, 1)"
                inputs.passwordConf = true
            } else {
                // fail
                passwordConf.style.boxShadow = "0 0 9px 0px #f44336"
                submit.disabled = true
                inputs.passwordConf = false
            }

            for (var input of Object.entries(inputs)) {
                if (!input[1]) {
                    submit.classList.add('login100-form-btn-disabled');
                    submit.classList.remove('login100-form-btn');
                    break
                }
            }

        }

        function alertError(name, text) {
            // clear previous error message
            errShow.html('')
            errText.html('')

            errTitle.html(name)
            errText.html(text)
            errShow.click()
        }
    </script>

</body>
</html>
