.User {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #0589ff;
    border-radius: 25px;
    float: right;
    margin: 5px;
    max-width: 100%;
}

.User_IE11 {
    position: relative;
    padding: 10px 15px;
    color: white;
    background: #0589ff;
    border-radius: 25px;
    float: right;
    margin: 5px;
    max-width: 100%;
}


    .User:before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -2px;
        right: -7px;
        height: 20px;
        border-right: 20px solid #0589ff;
        border-bottom-left-radius: 16px 14px;
        -webkit-transform: translate(0, -2px);

    }

    .User:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -2px;
        right: -45px;
        width: 15px;
        height: 20px;
        background: #fafafa;
        border-bottom-left-radius: 10px;
        -webkit-transform: translate(-30px, -2px);
    }

.User > p {
    margin: 0;
    word-break: break-word;
    color: white;
}

.User_IE11 > p {
    margin: 0;
    word-break: break-word;
    color: white;
}

@keyframes Animate {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
}

.Animate {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    transform-origin: bottom right;
    animation-name: Animate;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 1s;
    animation-name: bounceIn;
}