.User {
  align-self: flex-end;
  position: relative;
  border-radius: 20px;
  display: flex;
}

.User_Message {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0589ff;
  border-radius: 20px;
  margin: 5px;
  max-width: 100%;
}

.User_Message > p {
  margin: 0;
  word-break: break-word;
  color: white;
  line-height: 21px;
}

.Rewind {

}
