.wrapper {
    height: 100%;
    text-align: center;

}

.value {
    height: 75%;
    color: #9254de;
    font-weight: bold;
    font-size: 2em;
}

.value_small {
    font-size: 1.5em;
}

.value_big {
    font-size: 5em;
}

.title {
    align-items: center;
    flex-flow: column;
    height: 25%;
    margin-top: 10px;
    color: #848484;
    text-align: center;
    font-size: .85em;
    transition: all 0.4s ease 0s;
}

.title_small {
    font-size: .75em;
}

.title_big {
    font-size: .9em;
}


@media (max-width: 991.98px) {
    .wrapper {
        margin-top: 1em;
    }

    .value_big {
        font-size: 4.5em;
    }
}

@media (max-width: 767.98px) {
    .value_big {
        font-size: 3.8em;
    }
}

@media (max-width: 575.98px) {
    .value_big {
        font-size: 3.1em;
    }
}

@media (max-width: 400px) {
    .value_big {
        font-size: 2.2em;
    }
}

