{% extends "admin/base.html" %}


{% block title %}Analytics{% endblock %}

{% block content %}
<style>
    .MainChartDiv {
        
    }

    .SecondaryChartDiv {
        
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Analytics
                    <small>Here are the statistics of your assistant</small>
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row" style="width: 72%; display:inline-block">
            <div class="card">
                <div class="card-body">
                    <h4 class="">Users Overtime</h4>
                    <canvas width="800" height="450" id="line-chart1"></canvas>
                </div>
            </div>
        </div>


        <!-- Small -->

        <div style="float:right; width:25%; height:auto">

        <div style="width: 70%;height:25%; display:inline-block">
            <div class="row">
                <div class="card" style="height:100%">
                    <div class="card-body">
                        <h4 class="">Total Users </h4>
                        <h1 id="totalUsersh1" style="text-align: center; margin-top: 45px; font-size:70px; color: #6610f2; ">0</h1>

                        <canvas id="line-chart1"></canvas>
                    </div>
                </div>
            </div>
            <br />

            <!--<div class="row">
                <div class="card" style="height:100%">
                    <div class="card-body">
                or total active users
                        <h4 class="">Avg. Time spent<small> (seconds)</small></h4>
                        <h1>0</h1>
                        <canvas id="line-chart1"></canvas>
                    </div>
                </div>
            </div>-->
        </div>
            </div>

        <!-- Small -->





        <br />

        <div class="row" style="width: 49.47%; display: inline-block;">
            <div class="card">
                <div class="card-body">
                    <h4 class="">Total Questions Answered</h4>
                        
                    <canvas width="800" height="450" id="bar-chart1"></canvas>
                </div>
            </div>
        </div>

        <div class="row" style="width: 49.47%; display: inline-block; margin-left: 1%;">
            <div class="card">
                <div class="card-body">
                    <h4 class="">Total Solutions Returned</h4>
                    <canvas width="800" height="450" id="bar-chart2"></canvas>
                </div>
            </div>
        </div>



        <div id="pasteDiv" class="row">


            <!-- Code for excel export of the data files-->
            <!--<li> Export to Excel</li>
        <br />
        <button id="btnExport" onclick="fnExcelReport();"> EXPORT</button>
        <br>
        <iframe id="txtArea1" style="display:none"></iframe>
        <br />
        <br />-->
            {#            <h2>Critical Data</h2>#}
            {#            <br />#}
            {#            <div class="analytics_line">
                #}
                {#                <!-- First chart -->#}
                {#                <!-- chart for the most searched for sector-->#}
                {#                <div style="width:350px; height:200px;">
                    #}
                    {#                    <p>Most searched for Sector</p>#}
                    {#                    <canvas id="mostSearchedSector" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {##}
                {#                <!-- Second chart -->#}
                {#                <!-- chart for the most searched for location-->#}
                {#                <div style="width:350px; height:200px;">
                    #}
                    {#                    <p>Most search for location</p>#}
                    {#                    <canvas id="mostSearchedLocation" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {##}
                {#                <!-- Second chart -->#}
                {#                <!-- chart for the most searched for job/solution-->#}
                {#                <div style="width:350px; height:200px;">
                    #}
                    {#                    <p>Most returned solution</p>#}
                    {#                    <canvas id="mostSearchedSolution" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {#
            </div>#}
            {##}
            {##}
            {#            <h2>General Data</h2>#}
            {#            <br />#}
            {#            <div class="analytics_line">
                #}
                {#                <!-- First chart -->#}
                {#                <div style="width:350px; height:200px;">
                    #}
                    {#                    <canvas id="assistantUsed" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {##}
                {#                <!-- Second chart -->#}
                {#                <div style="width:350px; height:200px;">
                    #}
                    {#                    <canvas id="questionsAnswerd" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {##}
                {#                <!-- Third chart -->#}
                {#                <div style="width:350px; height:200px;">
                    #}
                    {#                    <canvas id="productsReturned" style="width:350px; height:0px"></canvas>#}
                    {#
                </div>#}
                {#                <div class="clearfix"></div>#}
                {#
            </div>#}
            {#            <h2>Users over time</h2>#}
            {#            <br />#}
            {#            <div class="analytics_line">
                #}
                {#                <!-- First chart -->#}
                {#                <div style="width:700px; height:300px;">
                    #}
                    {#                    <canvas id="userOverTime" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {#                <div class="clearfix"></div>#}
                {##}
                {#                <div style="width:700px; height:300px;">
                    #}
                    {#                    <canvas id="userTimeSpent" style="width:350px; height:0px;"></canvas>#}
                    {#
                </div>#}
                {#                <div class="clearfix"></div>#}
                {#
            </div>#}
        </div>
    </div>
</div>
    {% endblock %}
    {% block naughtyScript %}
    {% endblock %}
{% block customJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>

<script src="/static/analytics/scripit.js"></script>
<script>
    $(document).ready(function () {
        console.log("JS is working...");
        //getAnalytics();
    });
</script>
    {% endblock %}
