{% extends "admin/base.html" %}

{% block title %}Analytics{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Analytics
                    <small>Here are the statistics of your assistant</small>
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="pasteDiv" class="row">
            <li> Export to Excel</li>
            <br />
            <button id="btnExport" onclick="fnExcelReport();"> EXPORT</button>
            <br>
            <iframe id="txtArea1" style="display:none"></iframe>
            <br />
            <br />
            <h2>Critical Data</h2>
            <br />
            <div class="analytics_line">
                <!-- First chart -->
                <br />
                <div style="width:350px; height:200px;">
                    <p>Most searched for Sector</p>
                    <canvas id="putcharthere6" style="width:350px; height:0px;"></canvas>
                </div>

                <!-- Second chart -->
                <div style="width:350px; height:200px;">
                    <p>Most search for location</p>
                    <canvas id="putcharthere7" style="width:350px; height:0px;"></canvas>
                </div>

                <!-- Second chart -->
                <div style="width:350px; height:200px;">
                    <p>Most returned solution</p>
                    <canvas id="putcharthere8" style="width:350px; height:0px;"></canvas>
                </div>
            </div>





            <h2>General Data</h2>
            <br />
            <div class="analytics_line">
                <!-- First chart -->
                <div style="width:350px; height:200px;">
                    <canvas id="putcharthere1" style="width:350px; height:0px;"></canvas>
                </div>

                <!-- Second chart -->
                <div style="width:350px; height:200px;">
                    <canvas id="putcharthere2" style="width:350px; height:0px;"></canvas>
                </div>

                <!-- Third chart -->
                <div style="width:350px; height:200px;">
                    <canvas id="putcharthere3" style="width:350px; height:0px"></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
            <h2>Users over time</h2>
            <br />
            <div class="analytics_line">
                <!-- First chart -->
                <div style="width:700px; height:300px;">
                    <canvas id="putcharthere4" style="width:350px; height:0px;"></canvas>
                </div>
                <div class="clearfix"></div>

                <div style="width:700px; height:300px;">
                    <canvas id="putcharthere5" style="width:350px; height:0px;"></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}

    {% block customJS %}
    <script src="/static/js/Chart.js"></script>
    <script>
        var periods = [];
        //  Start of the chart code
        var totalOpened = [];
        var totalQuestionsAnswered = [];
        var totalProductsReturned = [];
        {%for item in data %}
        //check if its a monthly record
        if ("{{item['DateTime']}}".includes("-")) {
            periods.push("{{item['DateTime']}}");
            totalOpened.push({{item['Opened']}})
            totalQuestionsAnswered.push({{ item['QuestionsAnswered']}})
            totalProductsReturned.push({{ item['ProductsReturned']}})
        }
        {% endfor %}
        var chartData = {
            labels: [1,2,3,4],
            datasets: [{
                label: 'Assistant Used',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(255,0,0)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [11,22,33,44],
                spanGaps: false
            }]
        }
        var chartdiv = document.getElementById("putcharthere1").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'bar',
        });

        //  End of the chart code

        var chartData = {
            labels: [1, 2, 3, 4],
            datasets: [{
                label: 'Questions Answered',
                fill: true,
                lineTension: 1,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(0,191,255)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [11, 22, 33, 44],
                spanGaps: false
            }]
        }
        var chartdiv = document.getElementById("putcharthere2").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'bar',
        });


        var chartData = {
            labels: [1, 2, 3, 4],
            datasets: [{
                label: 'Products Returned',
                fill: true,
                lineTension: 1,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(255,255,0)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [11, 22, 33, 44],
                spanGaps: false
            }]
        }
        var chartdiv = document.getElementById("putcharthere3").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'bar',
        });


        //  Start of the chart code
        var chartData = {
            labels: [1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14,15,16],
            datasets: [{
                label: 'Users Overtime',
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(50,205,50)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 0.5,
                pointHitRadius: 10,
                data: [13, 22, 5, 25,33,12,66,43,56,69, 66,2,30,25,50,150,78,68,44],
                spanGaps: false
            }]
        }

        var chartdiv = document.getElementById("putcharthere4").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'line',
        });

        //  End of the chart code

        //  Start of the chart code
        var chartData = {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            datasets: [{
                label: 'Users Overtime',
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(50,205,50)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 0.5,
                pointHitRadius: 10,
                data: [13, 22, 5, 25, 33, 12, 66, 43, 56, 69],
                spanGaps: false
            }]
        }

        var chartdiv = document.getElementById("putcharthere5").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'line',
        });
        //  End of the chart code


        //  Start of the chart code
        var chartData = {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            datasets: [{
                label: 'Users Overtime',
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(50,205,50)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 0.5,
                pointHitRadius: 10,
                data: [13, 22, 5, 25, 33, 12, 66, 43, 56, 69],
                spanGaps: false
            }]
        }

        var chartdiv = document.getElementById("putcharthere6").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'pie',
        });

        //  Start of the chart code
        var chartData = {
            labels: ['Technology', 'Finance', 'Engineering', 'Public'],
            datasets: [{
                label: 'Users Overtime',
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(50,205,50)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 0.5,
                pointHitRadius: 10,
                data: [13, 22, 5, 25],
                spanGaps: false
            }]
        }

        var chartdiv = document.getElementById("putcharthere8").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'pie',
        });

        //  Start of the chart code
        var chartData = {
            labels: ['Technology', 'Finance', 'Engineering', 'Public'],
            datasets: [{
                label: 'Users Overtime',
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgb(138,43,226)",
                borderColor: "rgb(50,205,50)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 0.5,
                pointHitRadius: 10,
                data: [13, 22, 30, 25],
                spanGaps: false
            }]
        }

        var chartdiv = document.getElementById("putcharthere7").getContext("2d");
        new Chart(chartdiv, {
            data: chartData,
            type: 'radar',
        });

        //Create table for Excel export
        var tableString = "<table><tr><th>Date</th><th>Assistant Opened</th><th>Questions Answered</th><th>Products Returned</th></tr>";
        {% for item in data %}
            tableString += "<tr>"
            {%for value in item%}
                tableString += "<td>{{value}}</td>"
            {%endfor%}
            tableString += "</tr>"
        {%endfor%}
        function fnExcelReport() {
            tab_text = tableString;
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//comment if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // comment if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // comment if you want input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
    {% endblock %}
