{% extends "admin/base.html" %}

 {% block headlinks %}
     <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

 {% endblock %}


{% block title %}Users{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Assistant Manager</h3>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <button type="button" class="btn btn-success" onclick="fillUserForm(edit=false)">Create new Assistant</button>
                    <div class="table-responsive">
                       <table id="usersTable" class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Assistant Name</th>
                                    <th>Status</th>
                                    <th>Activate / Deactivate</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if users|length > 0 %}
                                {% for user in users %}
                                <tr data-rowID={{ assistant.ID }}>
                                    <td data-type="assistant_id">{{ assistant.ID }}</td>
                                    <td data-type="assistant_name">{{ assistant.name }}</td>
                                    <td data-type="assistant_status">{{ assistant.status }}</td>

                                    <td>
                                        {% if user.Role.Name != 'Owner' %}
                                        <button type="button" class="btn btn-primary"
                                                data-toggle="modal"
                                                onclick="fillUserForm({{ user.ID }}, edit=true)">Activate</button>
                                        <button type="button" class="btn btn-danger" onclick="deleteUser({{ user.ID }})">Deactivate</button>

                                        {% else %}
                                        <button type="button" class="btn btn-primary" disabled>Activate</button>
                                        <button type="button" class="btn btn-danger" disabled>Deactivate</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}

                            </tbody>
                            <tfoot>
{#                                <tr>#}
{#                                    <th>ID</th>#}
{#                                    <th>Assistant Name</th>#}
{#                                    <th>Status</th>#}
{#                                    <th>Activate / Deactivate</th>#}
{#                                </tr>#}
                            </tfoot>
                        </table>
                    </div>
                </div>


        <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Roles</h3>
                    </div>
                </div>

                <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block customJS %}

    <!-- SweetAlert Library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     <!-- Script for editing users table -->
    <script src="../../static/users/script.js" type="text/javascript"></script>

    <script type="text/javascript">



    </script>


{% endblock %}