<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons for the Admin Page -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/favicon.ico"/>
    <link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://www.thesearchbase.com/static/img/core-img/admin_icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="TheSearchBase" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://www.thesearchbase.com/static/img/core-img/admin_icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="https://www.thesearchbase.com/static/img/core-img/admin_icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="https://www.thesearchbase.com/static/img/core-img/admin_icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="https://www.thesearchbase.com/static/img/core-img/admin_icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="https://www.thesearchbase.com/static/img/core-img/admin_icon/mstile-310x310.png" />


    <!-- Bootstrap -->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="/static/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/static/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="/static/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/static/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/static/build/css/custom.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="/static/css/admin.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

    {% block headlinks %}
    {% endblock %}




</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/admin/dashboard" class="site_title"> <img
                            src="/static/img/core-img/android-icon-72x72.png" width="42" height="42"><span> TheSearchBase</span></a>
                    <br/>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2 id="userWelcomeName">user</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                {% block sidenav %}
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/admin/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                                </li>
                                <li id="chatbots">
                                    <a><i class="fa fa-comments-o"></i> Assistants <span
                                            class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        {% if assistants|length > 0 %}
                                            {% for assistant in assistants %}
                                                <li><a>{{ assistant.Nickname }}<span
                                                        class="fa fa-chevron-down"></span></a>
                                                    <ul class="nav child_menu">
                                                        <li>
                                                            <a href="/admin/assistant/{{ assistant.ID }}/settings">Settings</a>
                                                        </li>
                                                        <li>
                                                            <a href="/admin/assistant/{{ assistant.ID }}/questions">Questions</a>
                                                        </li>
                                                        <li><a href="/admin/assistant/{{ assistant.ID }}/answers">Answers</a></li>
                                                        <!--<li><a href="/admin/templates">Templates</a></li>-->
                                                        <li>
                                                            <a href="/admin/assistant/{{ assistant.ID }}/products">
                                                                <i class="fa fa-database"></i>Products
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/admin/assistant/{{ assistant.ID }}/userinput">
                                                                <i class="fa fa-cloud"></i>User Input
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/admin/assistant/{{ assistant.ID }}/analytics">
                                                                <i class="fa fa-bar-chart"></i>Analytics
                                                            </a>
                                                        </li>
                                                           <li>
                                                            <a href="/admin/assistant/{{ assistant.ID }}/connect">
                                                                <i class="fa fa-plug"></i>Connection
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                                <li><a href="/admin/assistant/create">Create another assistant</a></li>
                                        {% else %}
                                            <li><a href="/admin/assistant/create">Create assistant</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-wrench"></i> Tools <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/admin/emoji-converter">Emoji Converter</a></li>
                                    </ul>
                                </li>
                                <!-- End of user Data Storage -->
                            </ul>
                        </div>
                        <div class="menu_section">

                            <h3>Account</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a>
                                        <i class="fa fa-gears"></i> Account Details <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li><a href="/admin/profile">Profile</a></li>
                                        <li id="users"><a href="/admin/users">Additional Users</a></li>
                                    </ul>
                                </li>
                                <li id="billing"><a><i class="fa fa-money"></i> Billing <span
                                        class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/admin/pricing">Pricing Tables</a></li>
                                        <li><a href="/admin/adjustments">Adjustments</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-life-saver"></i> Support <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/admin/support/general">General Support</a>
                                        <li>
                                            <a>Technical Support<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="/admin/support/docs">Documentation</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/support/setup">Getting setup</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/support/integration">Integration with your
                                                        site</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/admin/support/billing">Billing support</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                {% endblock %}

            </div>
        </div>

        <!-- top navigation -->
        {% block topnav %}
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="/static/images/img.jpg" alt=""><label id="userDropdownLabel">User</label>
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/admin/profile"> Profile</a></li>
                                    <li><a href="/admin/support/general">Help</a></li>
                                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                                   aria-expanded="false">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}
        <!-- /top navigation -->

        <!-- page content -->

        <!-- Modal -->
        <button type="button" data-toggle="modal" data-target="#exampleModal" hidden id="showError"></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="errorTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="errorText"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Okay</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <button type="button" data-toggle="modal" data-target="#exampleModal1" hidden id="successShow"></button>
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title bg-success" id="successTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="successText"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
              </div>
            </div>
          </div>
        </div>
        <script>
            window.onload = function(e){
                x=document.getElementsByClassName('right_col')[0]
                y=document.getElementById('flash')

                x.innerHTML = y.innerHTML + x.innerHTML
                y.innerHTML = ''
            }
        </script>
        <div id="flash" hidden>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>
        {% block content %}
        {% endblock %}


        <!-- footer content -->
        {% block footer %}
            <footer>
                <div class="pull-right">
                    TheSearchBase 2018 All Rights Reserved.</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        {% endblock %}
        <!-- /footer content -->
    </div>

    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/vendors/moment/min/moment.min.js"></script>
    <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/static/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.min.js"></script>
    <script type="text/javascript">
        var errTitle = $("#errorTitle")
        var errText = $("#errorText")
        var errShow = $("#showError")

        var successTitle = $("#successTitle")
        var successText = $("#successText")
        var successShow = $("#successShow")
        function alertError(name,text,type) {
            if (type=='success') {
                // clear previous error message
                successTitle.text('')
                successText.html('')

                successTitle.text(name)
                successText.html(text)
                successShow.click()

            }else {
                // clear previous error message
                errTitle.text('')
                errText.html('')

                errTitle.text(name)
                errText.html(text)
                errShow.click()
            }
        }

        //get user's name
        params = "";
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/admin/getadminpagesdata", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === 4) {
                if (xhttp.status === 200) {
                    res = JSON.parse(xhttp.responseText)
                    console.log(res)
                    document.getElementById("userWelcomeName").innerHTML = res.name
                    document.getElementById("userDropdownLabel").innerHTML = res.name

                    if (!res.EditChatbots)
                        $("#chatbots").hide();
                    if (!res.EditUsers)
                        $("#users").hide();
                    if (!res.AccessBilling)
                        $("#billing").hide();
                }
                else {
                    console.error(xhttp.statusText);
                }
            }
        };
        xhttp.send(params);



        // Only ask for user data when SessionStorage is empty for better performance
        if (sessionStorage.getItem('id') == null || sessionStorage.getItem('subID') == null){
            // Set SessionStorage which is similar to cookies in client-side
            $.get({
                    url: '/admin/userData',
                    contentType: 'application/json'

            }).done(function( res ) {
                
                sessionStorage.setItem('id', res.id);
                sessionStorage.setItem('firstname', res.firstname);
                sessionStorage.setItem('surname', res.surname);
                sessionStorage.setItem('email', res.email);
                sessionStorage.setItem('stripeID', res.stripeID);
                sessionStorage.setItem('subID', res.subID);

             }).fail(function( err ) {

               console.log(err)
             })
        } else {
            console.log("SessionStorage is already filled");
        }





    </script>
    {% block customJS %}
    {% endblock %}

</body>
</html>
