{% extends "admin/base.html" %}


{% block title %}Bot{% endblock %}
{% block headlinks %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.1/awesome-bootstrap-checkbox.css"/>
{% endblock %}
{% block content %}
    <style>
        .my-btn-default {
            background-color: #fff;
            border-color: #ccc;
            color: black;
        }

        .normalCursor {
            cursor: default !important;
            background-color: #fff !important;
        }

        .clickable {
            cursor: pointer;
        }

        .moveable {
            margin-left: -5px;
            padding: 5px;
            cursor: move;
        }

        .panel-heading span {
            margin-top: -20px;
            font-size: 15px;
        }

        .btn-default.focus, .btn-default:focus {
            background-color: #fff;
            border: 1px solid #ccc;
        }

        a.hover {
            background-color: #f5f5f5;
            border-color: #ccc;
            text-decoration: none;
        }

        .radio-group label {
            overflow: hidden;
        }

        .radio-group input {
            /* This is on purpose for accessibility. Using display: hidden is evil.
            This makes things keyboard friendly right out tha box! */
            height: 1px;
            width: 1px;
            position: absolute;
            top: -20px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .radio-group .not-active {
            background-color: #f5f5f5;
            color: black;
            border: 1px solid #ccc;
        }

        .abc-checkbox-info input[type="checkbox"]:checked + label::before, .abc-checkbox-info input[type="radio"]:checked + label::before {
            background-color: #660ff2;
            border-color: #a88ad9;
        }

        .form-control {
            height: 34px;
        }

    </style>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3 id="assistantName"></h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="x_panel">
            <div class="x_title">
                <h4>🤖 Bot Configuration</h4>
                <small>Showing all questions and answers with its sort</small>
            </div>
            <div class="x_conent">
                <ul id="draggablePanelList" class="list-unstyled">

                </ul>
            </div>
        </div>
    </div>

    <!-- Abdullah Hashim did below code to avoid error occured from custom.min.js file -->
    <form id="demo-form2"></form>
{% endblock %}



{% block customJS %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.5.0/js/bootstrap-checkbox.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        window.onload = function () {
            if (prev_handler)
                prev_handler();

            main();

            function main() {
                Promise.all([GET_data(), GET_options()]).then((res) => {
                    data = JSON.parse(res[0]).data;
                    options = JSON.parse(res[1]).data;
                    init_blocks_templates(options.blockTypes);
                    BlocksTypes = options.types;
                    render_page(data.assistant.name, options.botVersion);
                    render_blocks(data.blocks);
                    init_page();
                });
            }

            blocks_templates = {};
            BlocksTypes = [];

            function init_blocks_templates(blockTypes) {
                for (const blockType of blockTypes) {
                    args = [];
                    for (const key of Object.keys(blockType)) {
                        args.push({
                            [key]: blockType.valueOf(key)[key]
                        })
                    }
                    blocks_templates[blockType.name] = new BlocksTemplate(args);
                }
            }

            class BlocksTemplate {
                constructor(args) {
                    for (const arg of args) {
                        this[Object.keys(arg)[0]] = Object.values(arg)[0]
                    }
                }
            }

            function init_page() {
                // to collopse and expand the panel
                $(document).on('click', '.panel-heading', function (e) {
                    if ($(e.target).is('a') ||
                        $(e.target).is('input.form-control') ||
                        $(e.target).is('i.trash')
                    ) {
                        e.preventDefault();
                        return;
                    }
                    let $this = $(this);
                    if (!$this.hasClass('panel-collapsed')) {
                        $this.parents('.panel').find('.panel-body').slideUp();
                        $this.addClass('panel-collapsed');
                        $this.find('i.indicator').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    } else {
                        $this.parents('.panel').find('.panel-body').slideDown();
                        $this.removeClass('panel-collapsed');
                        $this.find('i.indicator').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    }
                });

                // to drag and drop the panels
                let panelList = $('#draggablePanelList');
                panelList.sortable({
                    // Only make the .panel-heading child elements support dragging.
                    // Omit this to make then entire <li>...</li> draggable.
                    handle: '.panel-heading',
                    update: function () {
                        arr = [];
                        $('.panel', panelList).each(function (index, elem) {
                            var $listItem = $(elem), newIndex = $listItem.index();
                            arr.push(buildQuestion($listItem, newIndex));
                        });
                        console.log(arr)
                    }
                });

                // to make the current type highlighted
                $("button.btn.btn-default.dropdown-toggle").on("click", function (e) {
                    $input = $(e.target).parent().parent().children().first().val();

                    $(e.target).siblings().first().children().each(function (i, element) {
                        let item = $(element).text();
                        if ($input === item) {
                            return $(element).children().first().addClass('hover')
                        }
                        $(element).children().first().removeClass()

                    });
                });

                // to change the textbox next to type dropdown
                $("ul.dropdown-menu.dropdown-menu-right").on("click", function (e) {
                    $input = $(e.target).parent().parent().parent().parent().children().first();
                    $input.val($(e.target).text());
                });

                i = 0
                // Input radio-group visual controls
                $('.radio-group label').on('click', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();

                    if ($(this).hasClass('not-active'))
                        $(this).removeClass('not-active');
                    else
                        $(this).addClass('not-active');

                });

                // Input radio-group visual controls
                $('i.trash').on('click', function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "Question will be removed completely from the system",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                $(e.target).parent().parent().parent().remove()
                                swal("Success!", "Question has been deleted successfully", "success")
                            }
                        });
                });

            }

            function GET_data() {
                return $.ajax({
                    url: 'bot/data',
                    type: "GET"
                }).done(function (res) {
                }).fail(function (res) {
                    let resJson = JSON.parse(res.responseText);
                    console.log(resJson)
                });

            }

            function GET_options() {
                return $.ajax({
                    url: '/admin/assistant/bot/options',
                    type: "GET"
                }).done(function () {
                }).fail(function (res) {
                    let resJson = JSON.parse(res.responseText);
                    console.log(resJson)
                });

            }


            function render_blocks(blocks) {

                function cookUpBlock(block_template, block) {
                    function getActionElement(actions) {
                        return "" +
                            "<div class=\"input-group col-md-6\">\n" +
                            "   <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\"\n" +
                            "          value=\"BLOCK_ACTION\">\n" +
                            "   <div class=\"input-group-btn\">\n" +
                            "       <button type=\"button\" class=\"btn btn-default dropdown-toggle\"\n" +
                            "               data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Action\n" +
                            "           <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "       </button>\n" +
                            "       <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(actions) +
                            "       </ul>\n" +
                            "   </div><!-- /btn-group -->\n" +
                            "</div><!-- /input-group -->\n"
                    }

                    function getValidationElement(validations) {
                        return "" +
                            "<div class=\"input-group col-md-6\">\n" +
                            "   <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\"\n" +
                            "          value=\"BLOCK_VALIDATION\">\n" +
                            "   <div class=\"input-group-btn\">\n" +
                            "       <button type=\"button\" class=\"btn btn-default dropdown-toggle\"\n" +
                            "               data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Validation\n" +
                            "           <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "       </button>\n" +
                            "       <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(validations) +
                            "       </ul>\n" +
                            "   </div><!-- /btn-group -->\n" +
                            "</div><!-- /input-group -->\n"
                    }

                    function getSubmitElemnt(storeInDB, id) {
                        let isDisabled = storeInDB ? '' : 'disabled';
                        return "" +
                            "<div class=\"col-md-1 pull-right inline\">\n" +
                            "    <div class=\"btn btn-default\">Save</div>\n" +
                            "</div>\n" +
                            "<div class=\"col-md-2 pull-right inline text-right\">\n" +
                            "    <div class=\"form-check abc-checkbox abc-checkbox-info abc-checkbox-circle\" style=\"margin-top: 9px\">\n" +
                            "        <input class=\"form-check-input\" id=\"" + id + "\" type=\"checkbox\" checked=\"\" " + isDisabled + ">\n" +
                            "        <label class=\"form-check-label\" for=\"" + id + "\"\n" +
                            "               style=\"padding-left: 10px;padding-top: 2px; text-align: -webkit-auto;\">\n" +
                            "            Save in DB\n" +
                            "        </label>\n" +
                            "    </div>\n" +
                            "</div>"
                    }

                    function getDropdownEelement(items) {
                        let elements = '';
                        for (item of items)
                            elements += "<li><a>" + item + "</a></li>\n"
                        return elements
                    }

                    function getRadioButtons(fileTypes, selectedFileTypes) {
                        let elements = '';
                        for (fileType of fileTypes) {
                            if (selectedFileTypes.includes(fileType)) {
                                elements += "<label class=\"btn my-btn-default btn-sm\" >" + fileType +
                                    "<input type=\"radio\" value=\"" + fileType + "\" name=\"fileType\"></label>";
                            } else
                                elements += "<label class=\"btn my-btn-default btn-sm not-active\" >" + fileType +
                                    "<input type=\"radio\" value=\"" + fileType + "\" name=\"fileType\"></label>"
                        }
                        return elements
                    }

                    function getFileUpload(fileTypes, fileSize, selectedFileTypes) {
                        return "" +
                            "<div class=\"input-group col-md-8\">\n" +
                            "  <span class=\"input-group-addon\">File Type:</span>\n" +
                            "  <div class=\"btn-group radio-group\">\n" +
                            getRadioButtons(fileTypes, selectedFileTypes) +
                            "  </div>\n" +
                            "</div>" +
                            "<small style='margin-top:-10px'>Max size: " + fileSize + "</small>"
                    }

                    function getBlockContent(template, block) {
                        template = template.replace('BLOCK_TYPE', block.type);
                        template = template.replace('BLOCK_TEXT', block.content.text);
                        template = template.replace('BLOCK_TEXT_EDITABLE', block.content.text);
                        template = template.replace('BLOCK_ACTION', block.content.action);
                        template = template.replace('BLOCK_VALIDATION', block.content.validation);
                        {#template = template.replace('BLOCK_CONTENT', JSON.stringify(block.content, 4, 4));#}
                        return template = template.replace('BLOCK_SUBMIT', getSubmitElemnt(block.storeInDB, block.id));


                        {#function getRadioButtons(fileTypes) {#}
                        {#    let elements = '';#}
                        {#    for (fileType of fileTypes)#}
                        {#        elements += "<label class=\"btn my-btn-default btn-sm not-active\" >" + fileType +#}
                        {#            "<input type=\"radio\" value=\"" + fileType + "\" name=\"fileType\"></label>"#}
                        {#    return elements#}
                        {# } #}

                        {#if (block.type === "File Upload")#}
                        {#    return getBlockElement(block.content.text) +#}
                        {#        getActionElement(block.content.action, options.FileUploadType.actions) +#}
                        {#        getSubmitElemnt(false, block.id);#}

                        {#if (block.type === "User Input")#}
                        {#    return getBlockElement(block.question)+#}
                        {#           getActionElement(block.action,options.userInputType.actions) +#}
                        {#           getValidationElement(block.validation, options.userInputType.validations)+#}
                        {#           getSubmitElemnt(false,block.id);#}
                        {##}
                        {#if (block.type === "Predefined Answers")#}
                        {#    return getBlockElement(block.question) +#}
                        {#           getSubmitElemnt(true,block.id);#}
                    }

                    function getTemplate(block_template, block) {
                        templateHTML =
                            "<li class=\"panel panel-default\">\n" +
                            "    <div class=\"panel-heading\">\n" +
                            "        <div class=\"panel-title\">\n" +
                            "            <span class=\"moveable\" style='color:#660ff2'><i class=\"glyphicon glyphicon-menu-hamburger\"></i></span>\n" +
                            "            <b>BLOCK_TEXT</b>\n" +
                            "        </div>\n" +
                            "        <span class=\"pull-right clickable\" style='color:#660ff2;margin-left:15px'><i class=\"trash glyphicon glyphicon-trash\"></i></span>\n" +
                            "        <span class=\"pull-right clickable\" style='color:#660ff2'><i class=\"indicator glyphicon glyphicon-chevron-down\"></i></span>\n" +
                            "        <div class=\"col-xs-11  col-sm-5 col-md-4 pull-right\" style=\"margin-top: -30px;margin-right:-9px\">\n" +
                            "            <div class=\"input-group\">\n" +
                            "                <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\" value=\"BLOCK_TYPE\">" +
                            "                <div class=\"input-group-btn\">\n" +
                            "                    <button type=\"button\" class=\"btn btn-default dropdown-toggle\" data-toggle=\"dropdown\"\n" + "" +
                            "                            aria-haspopup=\"true\" aria-expanded=\"false\">" +
                            "                            Type <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "                    </button>\n" +
                            "                    <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(BlocksTypes) +
                            "                    </ul>\n" +
                            "                </div><!-- /btn-group -->\n" +
                            "            </div><!-- /input-group -->\n" +
                            "        </div><!-- /.col-lg-3 -->\n" +
                            "    </div>\n" +
                            // Block text
                            "    <div class=\"panel-body\">\n" +
                            "       <div class=\"input-group col-md-6\">\n" +
                            "         <span class=\"input-group-addon\">Question:</span>\n" +
                            "         <input type=\"text\" class=\"form-control\"\n" +
                            "           placeholder=\"Question\"\n" +
                            "           aria-describedby=\"basic-addon1\"\n" +
                            "           value=\"BLOCK_TEXT_EDITABLE\">\n" +
                            "       </div>\n" +
                            // placeholders
                            "       BLOCK_ACTION" +
                            "       BLOCK_VALIDATION" +
                            "       BLOCK_FILE_TYPE" +
                            "       BLOCK_SUBMIT" +
                            "    </div>\n" +
                            "</li>";


                        if (block_template.name == "File Upload")
                            templateHTML = templateHTML.replace('BLOCK_FILE_TYPE', getFileUpload(block_template.typesAllowed, block_template.fileMaxSize, block.content.fileTypes));
                        else
                            templateHTML = templateHTML.replace('BLOCK_FILE_TYPE', '');


                        if (block_template.name == "File Upload" || block_template.name == "User Input")
                            templateHTML = templateHTML.replace('BLOCK_ACTION', getActionElement(block_template.actions));
                        else
                            templateHTML = templateHTML.replace('BLOCK_ACTION', '');

                        if (block_template.name == "User Input")
                            templateHTML = templateHTML.replace('BLOCK_VALIDATION', getValidationElement(block_template.validations));
                        else
                            templateHTML = templateHTML.replace('BLOCK_VALIDATION', '');

                        return templateHTML;
                    }

                    blockHTML = getTemplate(block_template, block);
                    return blockHTML = getBlockContent(blockHTML, block)
                    // generate block then feed it
                }

                if (blocks.length) {
                    // collects all available qTypes
                    qTypes = [];
                    Object.entries(options).forEach(([x, y]) => {
                        y.name ? qTypes.push(y.name) : ''
                    });

                    let elements = '';
                    for (block of blocks)
                        elements += cookUpBlock(blocks_templates[block.type], block)
                    $("#draggablePanelList").html(elements);
                }
                else $("#draggablePanelList").html("<h2>Sorry there are no blocks for this bot 🙁</h2>");
            }

            function render_page(assistantName, botVersion) {
                $("#assistantName").html(
                    "Assistant: " + assistantName +
                    "<span class=\"pull-right h5\">Bot version: " + botVersion + "</span>"
                )
            }

            function buildQuestion(element, index) {
                let question = element.children().first().children().first().children().next().text();
                return new QuestionsModel(1, 'Type', question, ['PNG', 'JPG'], 'go to next', null, index);
            }

            class QuestionsModel {
                constructor(id, type, question, fileTypes, action, questionIdToGo, order) {
                    this.id = id;
                    this.type = type;
                    this.question = question;
                    this.fileTypes = fileTypes;
                    this.action = action;
                    this.questionIdToGo = questionIdToGo;
                    this.order = order
                }
            }
        }
    </script>
{% endblock %}
