{% extends "admin/base.html" %}


{% block title %}Bot{% endblock %}
{% block headlinks %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.1/awesome-bootstrap-checkbox.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"/>
    <link rel="stylesheet" href="/../../static/tagify/tagify.css">
{% endblock %}
{% block content %}
    <style>
        .my-btn-default {
            background-color: #fff;
            border-color: #ccc;
            color: black;
        }

        .normalCursor {
            cursor: default !important;
            background-color: #fff !important;
        }

        .clickable {
            cursor: pointer;
        }

        .moveable {
            margin-left: -5px;
            padding: 5px;
            cursor: move;
        }

        .panel-heading span {
            margin-top: -20px;
            font-size: 15px;
        }

        .btn-default.focus, .btn-default:focus {
            background-color: #fff;
            border: 1px solid #ccc;
        }

        a.hover {
            background-color: #f5f5f5;
            border-color: #ccc;
            text-decoration: none;
        }

        .radio-group label {
            overflow: hidden;
        }

        .radio-group input {
            /* This is on purpose for accessibility. Using display: hidden is evil.
            This makes things keyboard friendly right out tha box! */
            height: 1px;
            width: 1px;
            position: absolute;
            top: -20px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .radio-group .not-active {
            background-color: #f5f5f5;
            color: black;
            border: 1px solid #ccc;
        }

        .abc-checkbox-info input[type="checkbox"]:checked + label::before, .abc-checkbox-info input[type="radio"]:checked + label::before {
            background-color: #660ff2;
            border-color: #a88ad9;
        }

        .form-control {
            height: 34px;
        }

        .addAnswer {
            font-size: 10pt;
            padding: 5px;
            background-color: #c4c4c4;
            border-radius: 100%;
            color: white;
        }
    </style>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3 id="assistantName"></h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="x_panel">
            <div class="x_title">
                <h4>🤖 Bot Configuration</h4>
                <small>Showing all questions and answers with its sort</small>
            </div>
            <div class="x_conent">
                <ul id="draggablePanelList" class="list-unstyled">
                    <li class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <span class="moveable" style="color:#660ff2"><i
                                        class="glyphicon glyphicon-menu-hamburger"></i></span>
                                <b>Do you smoke?</b>
                            </div>
                            <span class="pull-right clickable" style="color:#660ff2;margin-left:15px"><i
                                    class="trash glyphicon glyphicon-trash"></i></span>
                            <span class="pull-right clickable" style="color:#660ff2"><i
                                    class="indicator glyphicon glyphicon-chevron-down"></i></span>
                            <div class="col-xs-11  col-sm-5 col-md-4 pull-right"
                                 style="margin-top: -30px;margin-right:-9px">
                                <div class="input-group">
                                    <input type="text" style="height: 34px" class="form-control normalCursor"
                                           disabled="" aria-label="..." value="Question">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Type
                                            <span style="margin: 0" class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a>User Input</a></li>
                                            <li><a>Question</a></li>
                                            <li><a>File Upload</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-3 -->
                        </div>
                        <div class="panel-body">
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">Question:</span>
                                <input type="text" class="form-control" placeholder="Question"
                                       aria-describedby="basic-addon1" value="Do you smoke?">
                            </div>
                            Answers: <span class=" clickable" style="margin-bottom: 10px">
                                <i class="addAnswer glyphicon glyphicon-plus"></i>
                            </span>
                            <div class="answers" style="margin-top:10px;">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Answer -1</h3>
                                                <span class="pull-right clickable"
                                                      style="color:#660ff2;margin-left:15px">
                                                    <i class="trashAnswer glyphicon glyphicon-trash"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="input-group">
                                                    <label for="input">Answer:</label>
                                                    <input type="text" class="form-control" placeholder="Answer"
                                                           aria-describedby="basic-addon1" value="Yes I do">
                                                </div>

                                                <label for="input">Kewords:</label>
                                                <input name='tags' value=''>


                                                <label for=".input-group">Actions:</label>
                                                <div class="input-group">
                                                    <input type="text" style="height: 34px"
                                                           class="form-control normalCursor"
                                                           disabled="" aria-label="..." value="Question">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false"> Type
                                                            <span style="margin: 0" class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a>User Input</a></li>
                                                            <li><a>Question</a></li>
                                                            <li><a>File Upload</a></li>
                                                        </ul>
                                                    </div><!-- /btn-group -->
                                                </div><!-- /input-group -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1 pull-right inline">
                                <div class="btn btn-default">Save</div>
                            </div>
                            <div class="col-md-2 pull-right inline text-right">
                                <div class="form-check abc-checkbox abc-checkbox-info abc-checkbox-circle"
                                     style="margin-top: 9px">
                                    <input class="form-check-input" id="1" type="checkbox" checked="">
                                    <label class="form-check-label" for="1"
                                           style="padding-left: 10px;padding-top: 2px; text-align: -webkit-auto;">
                                        Save in DB
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Abdullah Hashim did below code to avoid error occured from custom.min.js file -->
    <form id="demo-form2"></form>
{% endblock %}

{% block customJS %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.5.0/js/bootstrap-checkbox.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script src="/../../static/tagify/tagify.js"></script>

    <script>
        window.onload = function () {
            if (prev_handler)
                prev_handler();

            main();

            blocks_templates = {};
            BlocksTypes = [];

            function main() {
                Promise.all([GET_data(), GET_options()]).then((res) => {
                    data = JSON.parse(res[0]).data;
                    options = JSON.parse(res[1]).data;
                    init_blocks_templates(options.blockTypes);
                    BlocksTypes = options.types;
                    render_page(data.assistant.name, options.botVersion);
                    render_blocks(data.blocks);
                    init_page();
                });
            }

            function init_blocks_templates(blockTypes) {
                for (const blockType of blockTypes) {
                    args = [];
                    for (const key of Object.keys(blockType)) {
                        args.push({
                            [key]: blockType.valueOf(key)[key]
                        })
                    }
                    blocks_templates[blockType.name] = new BlocksTemplate(args);
                }
            }

            class BlocksTemplate {
                constructor(args) {
                    for (const arg of args) {
                        this[Object.keys(arg)[0]] = Object.values(arg)[0]
                    }
                }
            }

            function init_page() {
                // to collopse and expand the panel
                $(document).on('click', '.panel-heading', function (e) {
                    if ($(e.target).is('a') ||
                        $(e.target).is('input.form-control') ||
                        $(e.target).is('i.trash') ||
                        $(e.target).is('i.trashAnswer')
                    ) {
                        e.preventDefault();
                        return;
                    }
                    let $this = $(this);
                    if (!$this.hasClass('panel-collapsed')) {
                        $this.parents('.panel').find('.panel-body').slideUp();
                        $this.addClass('panel-collapsed');
                        $this.find('i.indicator').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    } else {
                        $this.parents('.panel').find('.panel-body').slideDown();
                        $this.removeClass('panel-collapsed');
                        $this.find('i.indicator').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    }
                });

                // to drag and drop the panels
                let panelList = $('#draggablePanelList');
                panelList.sortable({
                    // Only make the .panel-heading child elements support dragging.
                    // Omit this to make then entire <li>...</li> draggable.
                    handle: '.panel-heading',
                    update: function () {
                        arr = [];
                        $('.panel', panelList).each(function (index, elem) {
                            var $listItem = $(elem), newIndex = $listItem.index();
                            arr.push(buildQuestion($listItem, newIndex));
                        });
                        console.log(arr)
                    }
                });

                // to make the current type highlighted
                $("button.btn.btn-default.dropdown-toggle").on("click", function (e) {
                    $input = $(e.target).parent().parent().children().first().val();

                    $(e.target).siblings().first().children().each(function (i, element) {
                        let item = $(element).text();
                        if ($input === item) {
                            return $(element).children().first().addClass('hover')
                        }
                        $(element).children().first().removeClass()

                    });
                });

                // to change the textbox next to type dropdown
                $("ul.dropdown-menu.dropdown-menu-right").on("click", function (e) {
                    $input = $(e.target).parent().parent().parent().parent().children().first();
                    $input.val($(e.target).text());
                });

                // Input radio-group visual controls
                $('.radio-group label').on('click', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();

                    if ($(this).hasClass('not-active'))
                        $(this).removeClass('not-active');
                    else
                        $(this).addClass('not-active');

                });

                // Add answer
                $('.addAnswerClick').on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    addAnswer($(e.target).parent().parent().children('.answers'));
                });

                // Input radio-group visual controls
                $('i.trash').on('click', function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "Question will be removed completely from the system",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                $(e.target).parent().parent().parent().remove()
                                swal("Success!", "Question has been deleted successfully", "success")
                            }
                        });
                });
                // Input radio-group delete answer
                $('i.trashAnswer').on('click', function (e) {
                    let hasAnswer = $(e.target).parent().parent().parent().children().last().children().first().children().last().val();
                    if (hasAnswer) {
                        swal({
                            title: "Are you sure?",
                            text: "Answer will be removed completely from the system",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willDelete) => {
                                temp = $(e.target).parent().parent().parent().parent().parent().parent();
                                if (willDelete) {
                                    $(e.target).parent().parent().parent().parent().remove();
                                    swal("Success!", "Answer has been deleted successfully", "success")
                                }
                                // run answers restructure function
                                answersRestructure(temp)
                            });
                    } else {
                        temp = $(e.target).parent().parent().parent().parent().parent().parent();
                        $(e.target).parent().parent().parent().parent().remove();
                        // run answers restructure function
                        answersRestructure(temp)
                    }
                });

                // init tags
                $('input[name=tags]').each((i, input) => {
                    if (!$(input).hasClass('tagified')) {
                        new Tagify(input);
                        $(input).addClass('tagified')
                    }
                });

                // change type of block
                $('.dropdown-menu.dropdown-menu-right > li').on('click', (e) => {
                    $target = $(e.target);
                    let isTargetType = $target.parent().parent().parent().children().first().text().includes('Type');
                    let hasData = $target.parent().parent().parent().parent().parent().parent().siblings().last().children().first().children().last().val()

                    if (isTargetType && hasData) {
                        swal({
                            title: "Are you sure?",
                            text: "Old block will be removed completely from the system",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willUpdate) => {
                                if (willUpdate) {
                                    let newTemplateName = $target.text();

                                    $blockBody = $target.parent().parent().parent().parent().parent().parent().siblings().last();
                                    $blockBody.html(render_blocks_change(newTemplateName));
                                    init_page();
                                }
                            });
                    } else {
                        let newTemplateName = $target.text();
                        $blockBody = $target.parent().parent().parent().parent().parent().parent().siblings().last();
                        $blockBody.html(render_blocks_change(newTemplateName));
                        init_page();
                    }
                });
            }

            function init_answers_panels() {
                $('i.trashAnswer').on('click', function (e) {
                    let hasAnswer = $(e.target).parent().parent().parent().children().last().children().first().children().last().val();
                    if (hasAnswer) {
                        swal({
                            title: "Are you sure?",
                            text: "Answer will be removed completely from the system",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willDelete) => {
                                temp = $(e.target).parent().parent().parent().parent().parent().parent();
                                if (willDelete) {
                                    $(e.target).parent().parent().parent().parent().remove();
                                    swal("Success!", "Answer has been deleted successfully", "success")
                                }
                                // run answers restructure function
                                answersRestructure(temp)
                            });
                    } else {
                        temp = $(e.target).parent().parent().parent().parent().parent().parent();
                        $(e.target).parent().parent().parent().parent().remove();
                        // run answers restructure function
                        answersRestructure(temp)
                    }
                });
                // init tags
                $('input[name=tags]').each((i, input) => {
                    if (!$(input).hasClass('tagified')) {
                        new Tagify(input);
                        $(input).addClass('tagified')
                    }
                });
                // to change the textbox next to type dropdown
                $("ul.dropdown-menu.dropdown-menu-right").on("click", function (e) {
                    $input = $(e.target).parent().parent().parent().parent().children().first();
                    $input.val($(e.target).text());
                });
                // to make the current type highlighted
                $("button.btn.btn-default.dropdown-toggle").on("click", function (e) {
                    $input = $(e.target).parent().parent().children().first().val();

                    $(e.target).siblings().first().children().each(function (i, element) {
                        let item = $(element).text();
                        if ($input === item) {
                            return $(element).children().first().addClass('hover')
                        }
                        $(element).children().first().removeClass()

                    });
                });

            }

            function addAnswer(target) {
                let element = $("<div class=\"col-sm-4\">  <div class=\"panel panel-default\">\n" +
                    "    <div class=\"panel-heading\">\n" +
                    "      <h3 class=\"panel-title\"></h3>\n" +
                    "      <span class=\"pull-right clickable\"\n" +
                    " style=\"color:#660ff2;margin-left:15px\">\n" +
                    "        <i class=\"trashAnswer glyphicon glyphicon-trash\"></i>\n" +
                    "      </span>\n" +
                    "    </div>\n" +
                    "<div class=\"panel-body\">\n" +
                    "      <div class=\"input-group\">\n" +
                    "        <label for=\"input\">Answer:</label>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"Answer\"\n" +
                    "               aria-describedby=\"basic-addon1\" value=\"\">\n" +
                    "      </div>      <label for=\"input\">Kewords:</label>\n" +
                    "      <input name='tags' value=''>\n" +
                    "      <label for=\".input-group\">Actions:</label>\n" +
                    "      <div class=\"input-group\">\n" +
                    "        <input type=\"text\" style=\"height: 34px\"\n" +
                    "               class=\"form-control normalCursor\"\n" +
                    "               disabled=\"\" aria-label=\"...\" value=\"\">\n" +
                    "        <div class=\"input-group-btn\">\n" +
                    "          <button type=\"button\"\n" +
                    "                  class=\"btn btn-default dropdown-toggle\"\n" +
                    "                  data-toggle=\"dropdown\" aria-haspopup=\"true\"\n" +
                    "                  aria-expanded=\"false\"> Action\n" +
                    "             <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                    "          </button>\n" +
                    "          <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                    "<li><a>Go To Next Block</a></li>\n" +
                    "<li><a>Go To Specific Block</a></li>\n" +
                    "          </ul>\n" +
                    "        </div><!-- /btn-group -->\n" +
                    "      </div><!-- /input-group -->\n" +
                    "    </div>\n" +
                    "  </div>\n" +
                    "</div></div></div>");

                let rows = $(target).children();
                let isAdded = false;
                rows.each((i, row) => {
                    let rowChildrenLength = $(row).children().length;
                    if (rowChildrenLength < 3) {
                        $(row).append(element);
                        isAdded = true
                    }
                });
                if (!isAdded) {
                    $answers = $(rows).parent();
                    $answers.append("<div class='row'></div>");

                    $answers.children().last().append(element);
                }

                // Input radio-group visual controls
                $('.radio-group label').on('click', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();

                    if ($(this).hasClass('not-active'))
                        $(this).removeClass('not-active');
                    else
                        $(this).addClass('not-active');

                });
                answersRestructure(target);
                init_answers_panels();
            }

            function answersRestructure(target) {
                let rows = $(target).children();

                // push all in array
                let answersElements = [];
                rows.each((i, row) => {
                    let $rowChildren = $(row).children();
                    $rowChildren.each((i, answer) => {
                        answersElements.push(answer)
                    })
                });

                // clear .answers
                $answers = $(rows).parent();
                $answers.html('');

                function appendAnswerElement(i) {
                    $(answersElements[i]).find('.panel-title').html(`Answer- ${(i + 1)}`);
                    $answers.children().last().append(answersElements[i]);
                }

                let rowSize = 0;
                $answers.append("<div class='row'></div>");
                for (let i = 0; i < answersElements.length; i++) {
                    if (rowSize < 3) {
                        appendAnswerElement(i);
                        rowSize++;
                    }
                    else {
                        $answers.append("<div class='row'></div>");
                        appendAnswerElement(i);
                        rowSize = 1;

                    }

                }
                init_answers_panels();

            }

            function GET_data() {
                return $.ajax({
                    url: 'bot/data',
                    type: "GET"
                }).done(function (res) {
                }).fail(function (res) {
                    let resJson = JSON.parse(res.responseText);
                    console.log(resJson)
                });

            }

            function GET_options() {
                return $.ajax({
                    url: '/admin/assistant/bot/options',
                    type: "GET"
                }).done(function () {
                }).fail(function (res) {
                    let resJson = JSON.parse(res.responseText);
                    console.log(resJson)
                });

            }

            function render_blocks(blocks) {
                function cookUpBlock(block_template, block) {

                    function getActionElement(actions) {
                        return "" +
                            "<div class=\"input-group col-md-6\">\n" +
                            "   <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\"\n" +
                            "          value=\"BLOCK_ACTION\">\n" +
                            "   <div class=\"input-group-btn\">\n" +
                            "       <button type=\"button\" class=\"btn btn-default dropdown-toggle\"\n" +
                            "               data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Action\n" +
                            "           <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "       </button>\n" +
                            "       <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(actions) +
                            "       </ul>\n" +
                            "   </div><!-- /btn-group -->\n" +
                            "</div><!-- /input-group -->\n"
                    }

                    function getValidationElement(validations) {
                        return "" +
                            "<div class=\"input-group col-md-6\">\n" +
                            "   <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\"\n" +
                            "          value=\"BLOCK_VALIDATION\">\n" +
                            "   <div class=\"input-group-btn\">\n" +
                            "       <button type=\"button\" class=\"btn btn-default dropdown-toggle\"\n" +
                            "               data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Validation\n" +
                            "           <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "       </button>\n" +
                            "       <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(validations) +
                            "       </ul>\n" +
                            "   </div><!-- /btn-group -->\n" +
                            "</div><!-- /input-group -->\n"
                    }

                    function getSubmitElemnt(storeInDB, id) {
                        let isDisabled = storeInDB ? '' : 'disabled';
                        return "" +
                            "<div class=\"col-md-1 pull-right inline\">\n" +
                            "    <div class=\"btn btn-default\">Save</div>\n" +
                            "</div>\n" +
                            "<div class=\"col-md-2 pull-right inline text-right\">\n" +
                            "    <div class=\"form-check abc-checkbox abc-checkbox-info abc-checkbox-circle\" style=\"margin-top: 9px\">\n" +
                            "        <input class=\"form-check-input\" id=\"" + id + "\" type=\"checkbox\" checked=\"\" " + isDisabled + ">\n" +
                            "        <label class=\"form-check-label\" for=\"" + id + "\"\n" +
                            "               style=\"padding-left: 10px;padding-top: 2px; text-align: -webkit-auto;\">\n" +
                            "            Save in DB\n" +
                            "        </label>\n" +
                            "    </div>\n" +
                            "</div>"
                    }

                    function getDropdownEelement(items) {
                        let elements = '';
                        for (item of items)
                            elements += "<li><a>" + item + "</a></li>\n"
                        return elements
                    }

                    function getRadioButtons(fileTypes, selectedFileTypes) {
                        let elements = '';
                        for (fileType of fileTypes) {
                            if (selectedFileTypes.includes(fileType)) {
                                elements += "<label class=\"btn my-btn-default btn-sm\" >" + fileType +
                                    "<input type=\"radio\" value=\"" + fileType + "\" name=\"fileType\"></label>";
                            } else
                                elements += "<label class=\"btn my-btn-default btn-sm not-active\" >" + fileType +
                                    "<input type=\"radio\" value=\"" + fileType + "\" name=\"fileType\"></label>"
                        }
                        return elements
                    }

                    function getFileUpload(fileTypes, fileSize, selectedFileTypes) {
                        return "" +
                            "<div class=\"input-group col-md-8\">\n" +
                            "  <span class=\"input-group-addon\">File Type:</span>\n" +
                            "  <div class=\"btn-group radio-group\">\n" +
                            getRadioButtons(fileTypes, selectedFileTypes) +
                            "  </div>\n" +
                            "</div>" +
                            "<small style='margin-top:-10px'>Max size: " + fileSize + "</small>"
                    }

                    function getAnswersElement(actions, answers) {
                        //////////////////////// Generate answers templates
                        let rowSize = 0;

                        let $answers = $("<div class='answers' style='margin-top:10px'></div>");

                        $answers.append($("<div class='row'></div>"));
                        for (let i = 0; i < answers.length; i++) {
                            if (rowSize < 3) {
                                answerTemplate = $(getAnswerTemplate(actions));
                                answerTemplate.find('.panel-title').html(`Answer- ${(i + 1)}`);
                                answerTemplate = answerTemplate[0].outerHTML.replace('KEYWORDS_VALUES', answers[i].keywords.join(', '));
                                answerTemplate = answerTemplate.replace('ANSWER_ACTION', answers[i].action);
                                answerTemplate = answerTemplate.replace('ANSWER_VALUE', answers[i].answer.text);

                                $answers.children().last().append(answerTemplate);

                                rowSize++;
                            }
                            else {
                                $answers.children().append($("<div class='row'></div>"));

                                answerTemplate = $(getAnswerTemplate(actions));
                                answerTemplate.find('.panel-title').html(`Answer- ${(i + 1)}`);
                                answerTemplate = answerTemplate[0].outerHTML.replace('KEYWORDS_VALUES', answers[i].keywords.join(', '));
                                answerTemplate = answerTemplate.replace('ANSWER_ACTION', answers[i].action);
                                answerTemplate = answerTemplate.replace('ANSWER_ACTION', answers[i].action);
                                $answers.children().last().append(answerTemplate);

                                rowSize = 1;
                            }
                        }

                        return $answers[0].outerHTML;
                    }

                    function getAddAnswerButton() {
                        return "Answers: <span class=\"addAnswerClick clickable\" style=\"margin-bottom: 10px\">\n" +
                            "<i class=\"addAnswer glyphicon glyphicon-plus\"></i>\n" +
                            "</span>"
                    }

                    function getAnswerTemplate(actions) {
                        // make the rows here then return div.answers with all answers
                        return "" +
                            "<div class=\"col-sm-4\">" +
                            "  <div class=\"panel panel-default\">\n" +
                            "    <div class=\"panel-heading\">\n" +
                            "      <h3 class=\"panel-title\">ANSWER_NUMBER</h3>\n" +
                            "      <span class=\"pull-right clickable\"\n style=\"color:#660ff2;margin-left:15px\">\n" +
                            "        <i class=\"trashAnswer glyphicon glyphicon-trash\"></i>\n" +
                            "      </span>\n" +
                            "    </div>\n" +
                            "<div class=\"panel-body\">\n" +

                            // ANSWER
                            "      <div class=\"input-group\">\n" +
                            "        <label for=\"input\">Answer:</label>\n" +
                            "        <input type=\"text\" class=\"form-control\" placeholder=\"Answer\"\n" +
                            "               aria-describedby=\"basic-addon1\" value=\"ANSWER_VALUE\">\n" +
                            "      </div>" +

                            // Keywords
                            "      <label for=\"input\">Kewords:</label>\n" +
                            "      <input name='tags' value='KEYWORDS_VALUES'>\n" +

                            // ACTIONS
                            "      <label for=\".input-group\">Actions:</label>\n" +
                            "      <div class=\"input-group\">\n" +
                            "        <input type=\"text\" style=\"height: 34px\"\n" +
                            "               class=\"form-control normalCursor\"\n" +
                            "               disabled=\"\" aria-label=\"...\" value=\"ANSWER_ACTION\">\n" +
                            "        <div class=\"input-group-btn\">\n" +
                            "          <button type=\"button\"\n" +
                            "                  class=\"btn btn-default dropdown-toggle\"\n" +
                            "                  data-toggle=\"dropdown\" aria-haspopup=\"true\"\n" +
                            "                  aria-expanded=\"false\"> Action\n" +
                            "             <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "          </button>\n" +
                            "          <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(actions) +
                            "          </ul>\n" +
                            "        </div><!-- /btn-group -->\n" +
                            "      </div><!-- /input-group -->\n" +

                            "    </div>\n" +
                            "  </div>\n" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                    }

                    function getBlockContent(template, block) {
                        template = template.replace('BLOCK_TYPE', block.type);
                        template = template.replace('BLOCK_TEXT', block.content.text);
                        template = template.replace('BLOCK_TEXT_EDITABLE', block.content.text);
                        template = template.replace('BLOCK_ACTION', block.content.action);
                        template = template.replace('BLOCK_VALIDATION', block.content.validation);

                        return template = template.replace('BLOCK_SUBMIT', getSubmitElemnt(block.storeInDB, block.id));
                    }

                    function getTemplate(block_template, block) {
                        templateHTML =
                            "<li class=\"panel panel-default\">\n" +
                            "    <div class=\"panel-heading\">\n" +
                            "        <div class=\"panel-title\">\n" +
                            "            <span class=\"moveable\" style='color:#660ff2'><i class=\"glyphicon glyphicon-menu-hamburger\"></i></span>\n" +
                            "            <b>BLOCK_TEXT</b>\n" +
                            "        </div>\n" +
                            "        <span class=\"pull-right clickable\" style='color:#660ff2;margin-left:15px'><i class=\"trash glyphicon glyphicon-trash\"></i></span>\n" +
                            "        <span class=\"pull-right clickable\" style='color:#660ff2'><i class=\"indicator glyphicon glyphicon-chevron-down\"></i></span>\n" +
                            "        <div class=\"col-xs-11  col-sm-5 col-md-4 pull-right\" style=\"margin-top: -30px;margin-right:-9px\">\n" +
                            "            <div class=\"input-group\">\n" +
                            "                <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\" value=\"BLOCK_TYPE\">" +
                            "                <div class=\"input-group-btn\">\n" +
                            "                    <button type=\"button\" class=\"blockType btn btn-default dropdown-toggle\" data-toggle=\"dropdown\"\n" + "" +
                            "                            aria-haspopup=\"true\" aria-expanded=\"false\">" +
                            "                            Type <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "                    </button>\n" +
                            "                    <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(BlocksTypes) +
                            "                    </ul>\n" +
                            "                </div><!-- /btn-group -->\n" +
                            "            </div><!-- /input-group -->\n" +
                            "        </div><!-- /.col-lg-3 -->\n" +
                            "    </div>\n" +
                            // Block text
                            "    <div class=\"panel-body\">\n" +
                            "       <div class=\"input-group col-md-6\">\n" +
                            "         <span class=\"input-group-addon\">Question:</span>\n" +
                            "         <input type=\"text\" class=\"form-control\"\n" +
                            "           placeholder=\"Question\"\n" +
                            "           aria-describedby=\"basic-addon1\"\n" +
                            "           value=\"BLOCK_TEXT_EDITABLE\">\n" +
                            "       </div>\n" +

                            // placeholders
                            "       BLOCK_ADD_ANSER_BUTTON" +
                            "       BLOCK_ANSWERS" +
                            "       BLOCK_ACTION" +
                            "       BLOCK_VALIDATION" +
                            "       BLOCK_FILE_TYPE" +
                            "       BLOCK_SUBMIT" +
                            "    </div>\n" +
                            "</li>";


                        if (block_template.name == "File Upload")
                            templateHTML = templateHTML.replace('BLOCK_FILE_TYPE', getFileUpload(block_template.typesAllowed, block_template.fileMaxSize, block.content.fileTypes));
                        else
                            templateHTML = templateHTML.replace('BLOCK_FILE_TYPE', '');


                        if (block_template.name == "File Upload" || block_template.name == "User Input")
                            templateHTML = templateHTML.replace('BLOCK_ACTION', getActionElement(block_template.actions));
                        else
                            templateHTML = templateHTML.replace('BLOCK_ACTION', '');

                        if (block_template.name == "User Input")
                            templateHTML = templateHTML.replace('BLOCK_VALIDATION', getValidationElement(block_template.validations));
                        else
                            templateHTML = templateHTML.replace('BLOCK_VALIDATION', '');

                        if (block_template.name == "Question") {
                            templateHTML = templateHTML.replace('BLOCK_ANSWERS', getAnswersElement(block_template.actions, block.content.answers));
                            templateHTML = templateHTML.replace('BLOCK_ADD_ANSER_BUTTON', getAddAnswerButton());
                        }
                        else {
                            templateHTML = templateHTML.replace('BLOCK_ANSWERS', '');
                            templateHTML = templateHTML.replace('BLOCK_ADD_ANSER_BUTTON', '');
                        }

                        return templateHTML;
                    }

                    blockHTML = getTemplate(block_template, block);
                    return blockHTML = getBlockContent(blockHTML, block)
                    // generate block then feed it
                }

                if (blocks.length) {
                    let elements = '';
                    for (block of blocks)
                        elements += cookUpBlock(blocks_templates[block.type], block)
                    $("#draggablePanelList").html(elements);
                }
                else $("#draggablePanelList").html("<h2>Sorry there are no blocks for this bot 🙁</h2>");
            }

            function render_blocks_change(block_template) {
                function cookUpBlock(block_template, block) {

                    function getActionElement(actions) {
                        return "" +
                            "<div class=\"input-group col-md-6\">\n" +
                            "   <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\"\n" +
                            "          value=\"\">\n" +
                            "   <div class=\"input-group-btn\">\n" +
                            "       <button type=\"button\" class=\"btn btn-default dropdown-toggle\"\n" +
                            "               data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Action\n" +
                            "           <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "       </button>\n" +
                            "       <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(actions) +
                            "       </ul>\n" +
                            "   </div><!-- /btn-group -->\n" +
                            "</div><!-- /input-group -->\n"
                    }

                    function getValidationElement(validations) {
                        return "" +
                            "<div class=\"input-group col-md-6\">\n" +
                            "   <input type=\"text\" style=\"height: 34px\" class=\"form-control normalCursor\" disabled aria-label=\"...\"\n" +
                            "          value=\"\">\n" +
                            "   <div class=\"input-group-btn\">\n" +
                            "       <button type=\"button\" class=\"btn btn-default dropdown-toggle\"\n" +
                            "               data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Validation\n" +
                            "           <span style=\"margin: 0\" class=\"caret\"></span>\n" +
                            "       </button>\n" +
                            "       <ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                            getDropdownEelement(validations) +
                            "       </ul>\n" +
                            "   </div><!-- /btn-group -->\n" +
                            "</div><!-- /input-group -->\n"
                    }

                    function getSubmitElemnt(storeInDB, id) {
                        let isDisabled = storeInDB ? '' : 'disabled';
                        return "" +
                            "<div class=\"col-md-1 pull-right inline\">\n" +
                            "    <div class=\"btn btn-default\">Save</div>\n" +
                            "</div>\n" +
                            "<div class=\"col-md-2 pull-right inline text-right\">\n" +
                            "    <div class=\"form-check abc-checkbox abc-checkbox-info abc-checkbox-circle\" style=\"margin-top: 9px\">\n" +
                            "        <input class=\"form-check-input\" id=\"" + id + "\" type=\"checkbox\" checked=\"\" " + isDisabled + ">\n" +
                            "        <label class=\"form-check-label\" for=\"" + id + "\"\n" +
                            "               style=\"padding-left: 10px;padding-top: 2px; text-align: -webkit-auto;\">\n" +
                            "            Save in DB\n" +
                            "        </label>\n" +
                            "    </div>\n" +
                            "</div>"
                    }

                    function getDropdownEelement(items) {
                        let elements = '';
                        for (item of items)
                            elements += "<li><a>" + item + "</a></li>\n"
                        return elements
                    }

                    function getRadioButtons(fileTypes) {
                        let elements = '';
                        for (fileType of fileTypes)
                            elements += "<label class=\"btn my-btn-default btn-sm not-active\" >" + fileType +
                                "<input type=\"radio\" value=\"" + fileType + "\" name=\"fileType\"></label>"

                        return elements
                    }

                    function getFileUpload(fileTypes, fileSize) {
                        return "" +
                            "<div class=\"input-group col-md-8\">\n" +
                            "  <span class=\"input-group-addon\">File Type:</span>\n" +
                            "  <div class=\"btn-group radio-group\">\n" +
                            getRadioButtons(fileTypes) +
                            "  </div>\n" +
                            "</div>" +
                            "<small style='margin-top:-10px'>Max size: " + fileSize + "</small>"
                    }

                    function getAnswersElement() {
                        //////////////////////// Generate answers templates
                        let rowSize = 0;
                        let $answers = $("<div class='answers' style='margin-top:10px'></div>");
                        $answers.append($("<div class='row'></div>"));
                        return $answers[0].outerHTML;
                    }

                    function getAddAnswerButton() {
                        return "Answers: <span class=\"addAnswerClick clickable\" style=\"margin-bottom: 10px\">\n" +
                            "<i class=\"addAnswer glyphicon glyphicon-plus\"></i>\n" +
                            "</span>"
                    }

                    function getTemplate(block_template) {
                        templateHTML =
                            // Block text
                            "<div class=\"panel-body\">\n" +
                            "    <div class=\"input-group col-md-6\">\n" +
                            "         <span class=\"input-group-addon\">Question:</span>\n" +
                            "         <input type=\"text\" class=\"form-control\"\n" +
                            "                placeholder=\"Question\"\n" +
                            "                aria-describedby=\"basic-addon1\"\n" +
                            "                value=''>\n" +
                            "    </div>\n" +

                            // placeholders
                            "       BLOCK_ADD_ANSER_BUTTON" +
                            "       BLOCK_ANSWERS" +
                            "       BLOCK_ACTION" +
                            "       BLOCK_VALIDATION" +
                            "       BLOCK_FILE_TYPE" +
                            getSubmitElemnt(true, 'x') +
                            "</div>\n";
                        if (block_template.name == "File Upload")
                            templateHTML = templateHTML.replace('BLOCK_FILE_TYPE', getFileUpload(block_template.typesAllowed, block_template.fileMaxSize));
                        else
                            templateHTML = templateHTML.replace('BLOCK_FILE_TYPE', '');


                        if (block_template.name == "File Upload" || block_template.name == "User Input")
                            templateHTML = templateHTML.replace('BLOCK_ACTION', getActionElement(block_template.actions));
                        else
                            templateHTML = templateHTML.replace('BLOCK_ACTION', '');

                        if (block_template.name == "User Input")
                            templateHTML = templateHTML.replace('BLOCK_VALIDATION', getValidationElement(block_template.validations));
                        else
                            templateHTML = templateHTML.replace('BLOCK_VALIDATION', '');

                        if (block_template.name == "Question") {
                            templateHTML = templateHTML.replace('BLOCK_ANSWERS', getAnswersElement(block_template.actions));
                            templateHTML = templateHTML.replace('BLOCK_ADD_ANSER_BUTTON', getAddAnswerButton());
                        }
                        else {
                            templateHTML = templateHTML.replace('BLOCK_ANSWERS', '');
                            templateHTML = templateHTML.replace('BLOCK_ADD_ANSER_BUTTON', '');
                        }

                        return templateHTML;
                    }


                    return getTemplate(block_template, block);
                }

                return cookUpBlock(blocks_templates[block_template]);
            }


            function render_page(assistantName, botVersion) {
                $("#assistantName").html(
                    "Assistant: " + assistantName +
                    "<span class=\"pull-right h5\">Bot version: " + botVersion + "</span>"
                )
            }
        }
    </script>
{% endblock %}
