{% extends "admin/base.html" %}

{% block title %}Connection{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <!-- top tiles -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:1800px;">
                    <div class="col-md-12">
                        <h3> Connecting your assistant. </h3>
                        <p> To Connect your assistant, you must paste the pre-made code into any part of your HTML
                            source code between the
                            <xmp>
                                <body>
                            </xmp>
                            element.
                        </p>
                        <xmp>
                            <!-- Importing CSS file -->
                            <link href="/static/pop-up/pop.css" rel="stylesheet">

                            <div class="bottom_left" id="contents1">
                                <div id="contents1" style="display:none;">
                                    <iframe src="http://www.thesearchbase.com/chatbot/nameofyourcompany" width="350"
                                            height="350"></iframe>
                                </div>
                                <ul>
                                    <li class="him" href="#"
                                        onclick="document.getElementById('contents1').style.cssText = ''">Launch
                                        Assistant
                                    </li>
                                </ul>
                            </div>

                        </xmp>
                        <p> Once you have pasted this, into the html page that you wish to use your assistant on, you're
                            live.</p>
                        <br/>
                        <h4> CSS </h4>
                        <p> If you would like to have control the appearance of your assistant, you can also paste some
                            extra code into your CSS and make changes</p>
                        <xmp>
                            ul{
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            }

                            ul li{
                            display:inline-block;
                            clear: both;
                            padding: 20px;
                            border-radius: 30px;
                            margin-bottom: 2px;
                            font-family: Helvetica, Arial, sans-serif;
                            color: white;
                            }

                            .him{
                            background: #6610f2;
                            float: left;
                            z-index: 1000;
                            }

                            .him{
                            border-bottom-left-radius: 5px;
                            z-index: 1000;
                            }

                            .bottom_left{
                            position: fixed;
                            bottom: 0;
                            left: 0;
                            margin: 20px;
                            margin-left: 10px;
                            z-index: 1000;
                            }
                        </xmp>
                        <br/>
                        <h4> Javascript (This is used for analytics) </h4>
                        <p> If you would like to optimal control over your assistant and make big changes, you you can
                            download our <strong><a href="">Js</a></strong> file or paste it as a script in your
                            website.</p>
                        <xmp>

                            <script>
                                var opened = false;
                                var frame = document.getElementById("iframediv");
                                frame.style = "display:none";
                                document.getElementById("launch_button").addEventListener("click", function () {
                                    if (!opened) {
                                        frame.style = "display:block";
                                        opened = true;
                                    } else {
                                        frame.style = "display:none";
                                        opened = false;
                                    }
                                });
                            </script>

                        </xmp>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top tiles -->
        <br/>
    </div>
{% endblock %}
