{% extends "admin/base.html" %}

{% block title %}Connection{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <!-- top tiles -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:400px;">
                    <div class="col-md-12">
                        <h3> Connecting your assistant. </h3>
                        <p>
                            To Connect your assistant, you must paste the pre-made code into any part of your HTML source code.
                        </p>
                        <xmp style="margin-left:-200px">
                            <script src="https://www.thesearchbase.com/userdownloads/integration.js" data-name="tsb-widget" data-id={{ assistantID }} async defer></script>
                        </xmp>

                        <p> To deploy your assistant, simply copy the line above and paste it in the page in which you would like your bot to operate in.</p>
                        <p><strong>
                        For better performance, paste the line of code within the elements within the code of your website.
                        <xmp style="margin-left:-200px">
                            <body>
                                <The line above goes here>
                            </body>
                        </xmp>
                        </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top tiles -->
        <br/>
    </div>
{% endblock %}
