{% extends "admin/base.html" %}

{% block title %}Connection{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <!-- top tiles -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <style>
                        legend {
                            padding: 3px 6px;
                        }

                        input {
                            margin: .4rem;
                        }

                    </style>
                    <fieldset>
                        <legend class="h3">Choose circle and icon colors</legend>

                        <div style="display: -webkit-inline-box;">

                            <div style="margin: 10px">
                                <input type="color" id="icon" name="color"
                                       value="#ffffff"/>
                                <label for="icon">Icon</label>
                            </div>

                            <div style="margin: 10px">
                                <input type="color" id="circle" name="color"
                                       value="#4B5B71"/>
                                <label for="circle">Circle</label>
                            </div>
                        </div>

                    </fieldset>

                </div>
                <div class="x_panel" style="height:500px;">
                    <div class="col-md-12">
                        <legend class="h3">Connecting your assistant.</legend>
                        <p>
                            To Connect your assistant, you must paste the pre-made code into any part of your HTML source code.
                        </p>

                        <strong>
                            <textarea style="width:600px; height:90px;" id="URL_id" readonly>
<script src="https://www.thesearchbase.com/userdownloads/integration.js" data-name="tsb-widget" data-id={{ assistantID }} data-icon="#fff" data-circle="#4B5B71" async defer></script></textarea>
                        </strong>
                        <br />
                        <br />


                        <p> To deploy your assistant, simply copy the line above and paste it in the page in which you would like your bot to operate in.</p>

                        <button onclick="copyURL()" class="btn btn-success">Copy URL</button>
                        <br />
                        <button onclick="testIntegration()" class="btn btn-success">Test Assistant Pop Up</button>
                        <div id="integratePaste"></div>
                        <h5>The pop up will appear after the time set just like it would on your website.</h5>
                        <br />
                        <br />

                        <p>
                            <strong>
                                For better performance, paste the line of code within the elements within the code of your website.
                                <xmp style="margin-left:-200px">
                                    <body>
                                        <The line above goes here>
                                    </body>
                                </xmp>
                            </strong>
                        <strong>Note: </strong>It is important to notify users about their use with the chatbot. You can do this by adding this in your 'terms & conditions' <br />
                            page or by asking them through the chatbot that they are happy for you to collect their data.
                        </p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top tiles -->
        <br/>
    </div>
{% endblock %}


{% block customJS %}
    <script>
        window.onload = function () {
            if (prev_handler)
                prev_handler();

            let $script = $('<script src=\"https://www.thesearchbase.com/userdownloads/integration.js\" data-name=\"tsb-widget\" data-id={{ assistantID }} data-icon="#fff" data-circle="#4B5B71" async defer>');

            $('input#icon').on('change', (e) => {
                $script.attr('data-icon', $('input#icon').val());
                $('#URL_id').first().text($script[0].outerHTML)
            })

            $('input#circle').on('change', (e) => {
                $script.attr('data-circle', $('input#circle').val());
                $('#URL_id').first().text($script[0].outerHTML)
            })


        }

        function copyURL() {
            /* Get the text field */
            var copyText = document.getElementById("URL_id");

            /* Select the text field */
            copyText.select();

            /* Copy the text inside the text field */
            document.execCommand("copy");
        }

        var script = undefined;
        function testIntegration(){
            var paste = document.getElementById("URL_id").value;
            // console.log(paste);
            //document.getElementById("integratePaste").innerHTML = "";
            // document.getElementById("integratePaste").append(paste);
            try{
              document.getElementsByTagName('body').lastChild.remove();
            } catch{
              
            }
            console.log(paste.split("data-icon=\"")[1].split("\"")[0])
            $("#TSB-container").remove();
            script = document.createElement('script');
            script.src = 'https://www.thesearchbase.com/userdownloads/integration.js';
            script.setAttribute("data-name", "tsb-widget");
            script.setAttribute("data-id", "{{ assistantID }}");
            script.setAttribute("data-icon", paste.split("data-icon=\"")[1].split("\"")[0]);
            script.setAttribute("data-circle", paste.split("data-circle=\"")[1].split("\"")[0]);
            script.type = 'text/javascript';
            document.getElementsByTagName('body')[0].appendChild(script);
        }
    </script>


{% endblock %}
