{% extends "admin/base.html" %}

{% block title %}Conversations Templates{% endblock %}

{% block content %}
    <div class="right_col" role="main">

        <div class="x_content">

            <p>All of the Data Collected</p>

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <!-- Beginning of data -->
                    <tr id="tableHeadingUIn" class="headings">
                        <th class="column-title">Template ID</th>
                        <th class="column-title">Use</th>
                        <th class="column-title">Template Name</th>
                        <th class="column-title">Template Size</th>
                        <th class="column-title">Download</th>
                        <th class="column-title no-link last">
                            <span class="nobr">Install</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                    <!-- End of data -->
                    </thead>

                    <tbody id="tBodyUIn">
                    <!-- Start -->
                    <tr class="even pointer">
                        <td class=" ">00001</td>
                        <td class=" ">Recruitment</td>
                        <td class=" ">Data Collection</td>
                        <td class=" ">23.4 MB</td>
                        <td class=" "><strong><a href="https://www.thesearchbase.com">Download</a></strong></td>
                        <td class=" last"><a href="#">View Conversation</a></td>
                    </tr>
                    <!-- End -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
