{% extends "admin/base.html" %}

{% block title %}Data Storage{% endblock %}

{% block content %}
    <div class="right_col" role="main">

        <div class="x_content">

            <p>All of the Data Collected</p>

            <button onclick="fnExcelReport()">Export Excel</button>
            <br />
            Note: You can click the column heading to sort it.
            <div id="tBodyUIn"></div>

        </div>
    </div>
{% endblock %}

{% block customJS %}
<script src="/static/js/sortTable.js"></script>
<script>
    var currentLength = 0;
    var maxLength = 0;
    var tableString = "";
    console.log("{{data}}")
    {%if not data %}
    $("#tBodyUIn").append("<h3>You currently have no data on record.</h3>");
    {%endif%}

    {%for record in data %}
    currentLength = 0;
    {%for value in record['data']['collectedInformation'] %}
    currentLength++;
    {% endfor %}
    if (currentLength > maxLength) { maxLength = currentLength; }
    {%endfor%}

    var headings = "";
    for (var i = 0; i < maxLength; i++) {
        headings += "<th style=\"cursor: pointer;\" onclick=\"sortTable(0)\" class=\"column-title\">Data</th>";
    }

    tableString = "<table id=\"tableSort\" class=\"table table-striped jambo_table bulk_action\"><thead>\
                            <tr id=\"tableHeadingUIn\" class=\"headings\">"+ headings +"</tr></thead>\
                            <tbody id=\"tBodyUIn\">";
    var filename = undefined;
    {%for record in data %}
        tableString += "<tr><td></td>"
        {%for value in record['data']['collectedInformation'] %}
            {%if '&FILE_UPLOAD&' in value['input'] %}
                filename = "{{record['filePath']}}";
                console.log(filename);
                tableString += "<td><a href=\"/static"+"{{route}}".split("static")[1]+"/" + filename + "\" download=\"" + filename + "\">" + filename + "</a></td>"
            {%else%}
                tableString += "<td>{{value['input']}}</td>"
            {%endif%}
        {% endfor %}
        tableString += "</tr>"
    {% endfor %}

    tableString += "</tbody></table>";
    $("#tBodyUIn").append(tableString);

    sortTable(1);

    function fnExcelReport() {
        tab_text = tableString;
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//comment if you want links in the table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // comment if you want images in the table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // comment if you want input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>
{% endblock %}
