{% extends "admin/base.html" %}

{% block title %}Data Storage{% endblock %}

{% block content %}
    <div class="right_col" role="main">

        <div class="x_content">

            <p>All of the Data Collected</p>

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <!-- Beginning of data -->
                    <tr id="tableHeadingUIn" class="headings">
                        <!--<th class="column-title">Storage ID</th>
                        <th class="column-title">Date Stored </th>
                        <th class="column-title">Name </th>
                        <th class="column-title">Email </th>
                        <th class="column-title">Telephone </th>
                        <th class="column-title">CV </th>
                        <th class="column-title no-link last">
                            <span class="nobr">Action</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>-->
                    </tr>
                    <!-- End of data -->
                    </thead>

                    <tbody id="tBodyUIn">
                    <!-- Start -->
                    <!--<tr class="even pointer">
                      <td class=" ">00001</td>
                      <td class=" ">May 23, 2018 11:47:56 PM </td>
                      <td class=" ">Mehdi Este</td>
                      <td class=" ">contact@thesearchbase.com</td>
                      <td class=" ">072364262</td>
                      <td class=" "><a href="#">File Here</a></td>
                      <td class=" last"><a href="#">View</a></td>
                    </tr>-->
                    <!-- End -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
<script>
    var tableHeading = $("#tableHeadingUIn");
    tableHeading.append("<th class=\"column-title\">Record ID</th>");
    tableHeading.append("<th class=\"column-title\">Date</th>");
    var numberOfHeaders = 0;
    var curNOH = 0;
    var emptyPlaces = 0;
    {%for item in data %}
        {%for record in item %}
            if ("{{record}}" != "") {
                curNOH++;
                curNOH += emptyPlaces;
                emptyPlaces = 0;
            } else {
                emptyPlaces++;
            }
        {% endfor %}
        if (curNOH > numberOfHeaders) {
            numberOfHeaders = curNOH;
        }
        curNOH = 0;
        emptyPlaces = 0;
    {% endfor %}
    for (var i = 1; i <= numberOfHeaders - 2; i++) {
        tableHeading.append("<th class=\"column-title\">Data " + i + "</th>");
    }
    var tableBody = $("#tBodyUIn");
    var i = 0;
    var ii = 0;
    var appendString = "";
    {%for item in data %}
        i++;
        ii = 0;
        appendString += "<tr id=\"" + i + "\" class=\"even pointer\">";
        {%for record in item %}
            ii++;
            if (ii <= numberOfHeaders) {
                appendString += "<td id=\"" + i + "_" + ii + "\" class=\" \" >{{record}}</td >";
            }
        {%endfor%}
        appendString += "</tr>";
        tableBody.append(appendString);
        appendString = "";
    {%endfor%}
</script>
{% endblock %}
