{% extends "admin/base.html" %}

{% block title %}Assistant{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3> Controlling your bot</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>Settings</h1>
                            <ul class="nav navbar-right panel_toolbox"></ul>
                            <div class="clearfix"></div>
                            <br>
                            <form action="/admin/assistant/{{ id }}/settings" method="POST"
                                  enctype="multipart/form-data">
                                <h4>
                                    Enter a nickname for your assistant to easily identify it in the dashboard.<span class="required">*</span>
                                </h4>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input value="{{ nickname }}" name="nickname" type="text"
                                           id="nickname"
                                           required="required" class="form-control col-md-5 col-xs-10">
                                </div>
                                <br>
                                <br>
                                <br>

                                <h4>Enter your welcome message <span class="required">*</span></h4>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input value="{{ message }}" name="welcome-message" type="text"
                                           id="welcome-message"
                                           required="required" class="form-control col-md-5 col-xs-10">
                                </div>
                                <br>
                                <br>
                                <br>

                                <!--<h4>Select the assistant category.</h4>
    <select id="category-select">
        <option value="recruitment">Recruitment</option>
        <option value="property">Property</option>
    </select>
    <br>
    <br>
    <br>-->


                                <h4>Would you like the chat bot to automatically open for the user?</h4>
                                <label class="switch">
                                    <input id="switch-autopop" name="switch-autopop" type="checkbox"
                                           onclick="switchchecked()"
                                           {% if autopop !=0.0 %} checked {% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <br>
                                <br>
                                <div id="popup-time"
                                     {% if autopop==0.0 %}
                                     hidden
                                     {% endif %}>
                                    <h4>
                                        How long should the chat bot wait before opening?
                                        <small> *Time in Seconds</small>
                                    </h4>
                                    <input name="timeto-autopop" style="width:70px"
                                           class="form-control col-md-5 col-xs-10"
                                           id="bot_time" type="number"
                                           value="{{ autopop }}">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <!-- Submit button -->
                                <button class="btn btn-success">Submit</button>
                                <br />
                                <br />
                                <br />
                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="lead">
                                        <p> Deactivating and activating assistants controls how many active assistants you currently have.</p>
                                        {%if active == "True"%}
                                        <a style="background-color:grey; border-color: grey;" class="btn btn-primary btn-sm" href="/admin/assistant/active/False/{{id}}" role="button">Deactivate Assistant</a>
                                        {%else%}
                                        <a style="background-color:limegreen; border-color: limegreen;" class="btn btn-primary btn-sm" href="/admin/assistant/active/True/{{id}}" role="button">Activate Assistant</a>
                                        {%endif%}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="lead">
                                        <p> Warning: Deleting your assistant will delete everything associated with it!</p>
                                        <a style="background-color:red; border-color: red;" class="btn btn-primary btn-sm"  href="/admin/assistant/delete/{{id}}" role="button">Delete Assistant</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
    <script>
        function switchchecked() {
            show = document.getElementById("switch-autopop").checked;
            document.getElementById("popup-time").hidden = !show;
        }

        // Not being used at the moment
        function deleteAssistant(id) {



             swal({
                  title: "Are you sure?",
                  text: "Assistant and all its associated data will be removed completely!",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {

                    $.ajax({
                        url: '/admin/assistant/' + id,
                        type: "DELETE",
                    }).done(function (res) {
                        console.log(res);
                        swal("Success!", "Assistant has been deleted successfully", "success").then((value) => {
                          document.location.reload()
                        });
                    }).fail(function (res) {
                        let resJson = JSON.parse(res.responseText);
                        swal("Error!", resJson.msg, "error").then((value) => {
                             document.location.reload()
                        });
                    });

                  } else {
                    // When clicking the cancel button in the alert box
                  }
                });

        }

    </script>
{% endblock %}
