{% extends "admin/base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total clicks on your assistant</span>
                <div class="count">{{ stats[0] }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i> Total Solutions loaded</span>
                <div class="count">{{ stats[1] }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                    <div class="col-md-12">
                        <div class="jumbotron text-xs-center">
                            <h1 class="display-3">Welcome!</h1>
                            <p class="lead"><strong>Use your side navigation</strong> to navigate the website.</p>
                            <hr>
                            <p>
                                Need help getting setup? <a href="">Contact our team, we'll setup a personal session
                                with you.</a>
                            </p>
                            <p class="lead">
                                <a class="btn btn-primary btn-sm" href="/admin/assistant/create" role="button">
                                    Build my
                                    questions
                                </a>
                                <a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=OhrrKby-wHg&t=130s" role="button">
                                    Watch Setup Videos
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top tiles -->
        <br/>
    </div>
{% endblock %}

{% block customJS %}
    <script src="/static/js/cookies.js"></script>
    <script>
        document.getElementById("welcomeh2").innerHTML = getCookie("User Official");
    </script>
{% endblock %}
