{% extends "admin/base.html" %}

{% block title %}Price Plans{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="height:200px;">
                        <div class="x_title">
                            <h2>Your plan</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12">
                                <p class="lead">
                                <p> Controlling your plan</p> 
                                <a style="background-color:red; border-color: red;" class="btn btn-primary btn-sm" href="/" role="button">Cancel Subscription</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
