{% extends "admin/base.html" %}

{% block title %}Price Plans{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="height:700px;">
                        <div class="x_title">
                            <h2>Pricing Tables</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="row">

                                <div class="col-md-12">

                                    <!-- price element -->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="pricing">
                                            <div class="title">
                                                <h2>Starter Plan</h2>
                                                <h1>free</h1>
                                            </div>
                                            <div class="x_content">
                                                <div class="">
                                                    <div class="pricing_features">
                                                        <ul class="list-unstyled text-left">
                                                            <li><i class="fa fa-check text-success"></i> Free <strong>
                                                                For 14 days</strong></li>
                                                            <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong>
                                                                Sessions
                                                            </li>
                                                            <li><i class="fa fa-check text-success"></i> No <strong>credit
                                                                Card needed</strong></li>
                                                            <li><i class="fa fa-check text-success"></i> Setup <strong>
                                                                Support</strong></li>
                                                            <li><i class="fa fa-check text-success"></i>
                                                                <strong>99.9%</strong> up-time
                                                            </li>
                                                            <li><i class="fa fa-check text-success"></i>
                                                                <strong>Free </strong> Hosting & License
                                                            </li>
                                                            <li><i class="fa fa-times text-danger"></i> Limited <strong>
                                                                number of products</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="pricing_footer">
                                                    <a class="btn btn-success btn-block" role="button">Current <span> plan</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- price element -->

                                    <!-- price element -->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="pricing ui-ribbon-container">
                                            <div class="ui-ribbon-wrapper">

                                                <!-- Discount code - uncomment if needed -->
                                                <!-- <div class="ui-ribbon">
                                                  5% Off
                                                </div> -->

                                            </div>
                                            <div class="title">
                                                <h2>Basic plan</h2>
                                                <h1>£50</h1>
                                                <span>Per Month</span>
                                            </div>
                                            <div class="x_content">
                                                <div class="">
                                                    <div class="pricing_features">
                                                        <ul class="list-unstyled text-left">
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> 600 <strong>
                                                                    Solutions
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> 2 <strong>
                                                                    Databases
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Number of bots: <strong>
                                                                    2
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Setup <strong>
                                                                    Support
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>99.9%</strong> up-time
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>Additional Users: </strong>
                                                                5
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>Free </strong> Hosting & License
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>Commercial </strong>
                                                                License
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Cancel <strong>
                                                                    Anytime
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-times text-danger"></i>
                                                                <strong>Branding </strong> at the bottom
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="pricing_footer">
                                                    <a class="btn btn-info btn-block" role="button" href="check-out/plan_D3lp2yVtTotk2f">Buy <span> this plan</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- price element -->

                                    <!-- price element -->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="pricing">
                                            <div class="title">
                                                <h2>Advanced Plan</h2>
                                                <h1>£199</h1>
                                                <span>Per Month</span>
                                            </div>
                                            <div class="x_content">
                                                <div class="">
                                                    <div class="pricing_features">
                                                        <ul class="list-unstyled text-left">
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> 1500 <strong>
                                                                    Solutions
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> 3 <strong>
                                                                    Databases
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Number of bots: <strong>
                                                                    4
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Guided Setup <strong>
                                                                    Support
                                                                </strong>
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>99.9%</strong> up-time
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>Additional Users: </strong>
                                                                10
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>Free </strong> Hosting & License
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>Commercial </strong>
                                                                License
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Cancel <strong>
                                                                    Anytime
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>No Branding </strong> at the bottom
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-times text-danger"></i>
                                                                <strong>Extended </strong> Logic
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="pricing_footer">
                                                    <a class="btn btn-info btn-block" role="button" href="check-out/plan_D3lp9R7ombKmSO">Buy <span> this plan</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- price element -->

                                    <!-- price element -->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="pricing">
                                            <div class="title">
                                                <h2>Ultimate plan</h2>
                                                <h1>£399</h1>
                                                <span>Per Month</span>
                                            </div>
                                            <div class="x_content">
                                                <div class="">
                                                    <div class="pricing_features">
                                                        <ul class="list-unstyled text-left">
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>
                                                                    Unlimited

                                                                </strong>
                                                                solutions
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> 4 <strong>
                                                                    Databases
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Number of bots: <strong>
                                                                    4
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Full Setup <strong>
                                                                    Support
                                                                </strong>
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>99.9%</strong> up-time
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>Additional Users: </strong>
                                                                Unlimited
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>Free </strong> Hosting & License
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> <strong>Commercial </strong>
                                                                License
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i> Cancel <strong>
                                                                    Anytime
                                                                </strong>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>No Branding </strong> at the bottom
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>Extended </strong> Logic
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check text-success"></i>
                                                                <strong>Database </strong> import & <strong> Automatic </strong>scan.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="pricing_footer">
                                                    <a class="btn btn-info btn-block" role="button" href="check-out/plan_D3lpeLZ3EV8IfA">Buy <span> this plan</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- price element -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
