{% extends "admin/base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Adding New Products</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    Database 1 - All of the products are listed below
                                </p>

                                <!-- Start of welcome message -->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Upload an exisitng database that you have
                                                    <small>File Types: XML, JSON, SQL</small>
                                                </h2>
                                                <ul class="nav navbar-right panel_toolbox"></ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <br/>
                                                <form id="productFileForm" name="productFileForm"
                                                      enctype="multipart/form-data"
                                                      onsubmit="return uploadProductFile()">

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                               for="">
                                                            Upload your existing database <span
                                                                class="required">*</span>
                                                        </label>
                                                        <br/>
                                                        <br/>
                                                        <div>
                                                            <label for="productFile">Choose file to
                                                                upload</label><br>
                                                            <input type="file" id="productFile" name="productFile">
                                                        </div>
                                                        <br/>
                                                        <button id="NOQ-SubmitB" class="btn btn-success"
                                                                type="submit" value="submit">Upload Database
                                                        </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="/admin/assistant/{{ id }}/products" method="post" enctype="multipart/form-data">
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Delete</th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Brand</th>
                                                <th>Model</th>
                                                <th>Price</th>
                                                <th>Keyword/Use</th>
                                                <th>Discount</th>
                                                <th>URL</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            <!-- Row get inserted here -->
                                            </tbody>
                                        </table>
                                        <button type="submit" class="btn btn-success" value="Send">Save Updates
                                        </button>
                                        <button type="button" class="btn btn-success" id="addRow" value="Send">
                                            Add Row
                                        </button>
                                        <button type="button" class="btn btn-success" id="removeRow" value="Send">
                                            Delete
                                            Row
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
<script>
    var numberOfProducts = 0;
    {%for item in data%}
        numberOfProducts++;
    {%endfor%}
    var data = createArray(numberOfProducts);
    var i = 0;
    {%for item in data%}
        {%for product in item%}
            {%if product != None%}
                data[i].push("{{product}}");
            {%endif%}
        {%endfor%}
        i++;
    {%endfor%}
    i = 0;
    for (var c = 0; c < data.length; c++) {
        i++;
        $("#tbody").append("<tr id=\"tr" + String(i) + "\">\
      <td><input id=\"cb" + String(i) + "\" style=\"width: 30px;\" type=\"checkbox\" name=\"product_Delete" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][0] + "\" style=\"width: 50px;\" padding=\"3px\" margin=\"3px\" type=\"text\" name=\"product_ID" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][1] + "\" style=\"width: 90px;\" type=\"text\" name=\"product_Name" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][2] + "\" style=\"width: 90px;\" type=\"text\" name=\"product_Brand" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][3] + "\" style=\"width: 90px;\" type=\"text\" name=\"product_Model" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][4] + "\" style=\"width: 60px;\" type=\"text\" name=\"product_Price" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][5] + "\" style=\"width: 250px;\" type=\"text\" name=\"product_Keywords" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][6] + "\" style=\"width: 60px;\" type=\"text\" name=\"product_Discount" + String(i) + "\"></td>\
      <td><input value=\"" + data[c][7] + "\" style=\"width: 200px;\" type=\"text\" name=\"product_URL" + String(i) + "\"></td>\
    </tr>");
    }

    function AddRow() {
        i++;
        $("#tbody").append("<tr id=\"tr" + String(i) + "\">\
      <td><input id=\"cb" + String(i) + "\" style=\"width: 30px;\" type=\"checkbox\" name=\"product_Delete" + String(i) + "\"></td>\
      <td><input style=\"width: 50px;\" padding=\"3px\" margin=\"3px\" type=\"text\" name=\"product_ID" + String(i) + "\"></td>\
      <td><input style=\"width: 90px;\" type=\"text\" name=\"product_Name" + String(i) + "\"></td>\
      <td><input style=\"width: 90px;\" type=\"text\" name=\"product_Brand" + String(i) + "\"></td>\
      <td><input style=\"width: 90px;\" type=\"text\" name=\"product_Model" + String(i) + "\"></td>\
      <td><input style=\"width: 60px;\" type=\"text\" name=\"product_Price" + String(i) + "\"></td>\
      <td><input style=\"width: 250px;\" type=\"text\" name=\"product_Keywords" + String(i) + "\"></td>\
      <td><input style=\"width: 60px;\" type=\"text\" name=\"product_Discount" + String(i) + "\"></td>\
      <td><input style=\"width: 200px;\" type=\"text\" name=\"product_URL" + String(i) + "\"></td>\
    </tr>");
    }

    function RemoveRow() {
        for (var c = 1; c <= i; c++) {
            try {
                if (document.getElementById("cb" + String(c)).checked) {
                    document.getElementById("tr" + String(c)).remove();
                    c--;
                    for (var v = c; v <= i; v++) {
                        document.getElementsByName("product_Delete" + String(v + 1))[0].setAttribute("name", "product_Delete" + String(v));
                        document.getElementsByName("product_ID" + String(v + 1))[0].setAttribute("name", "product_ID" + String(v));
                        document.getElementsByName("product_Name" + String(v + 1))[0].setAttribute("name", "product_Name" + String(v));
                        document.getElementsByName("product_Brand" + String(v + 1))[0].setAttribute("name", "product_Brand" + String(v));
                        document.getElementsByName("product_Model" + String(v + 1))[0].setAttribute("name", "product_Model" + String(v));
                        document.getElementsByName("product_Price" + String(v + 1))[0].setAttribute("name", "product_Price" + String(v));
                        document.getElementsByName("product_Keywords" + String(v + 1))[0].setAttribute("name", "product_Keywords" + String(v));
                        document.getElementsByName("product_Discount" + String(v + 1))[0].setAttribute("name", "product_Discount" + String(v));
                        document.getElementsByName("product_URL" + String(v + 1))[0].setAttribute("name", "product_URL" + String(v));
                        i--;
                    }
                }
            }
            catch (exx) {
                // console.log("Skip " + String(c));
                console.log(exx);
            }
        }
    }

    document.getElementById("addRow").addEventListener("click", AddRow);
    document.getElementById("removeRow").addEventListener("click", RemoveRow);

    function createArray(rows) {
        var arrayRow = [];
        for (var i = 0; i < rows; i++) {
            arrayRow[i] = [];
        }
        return arrayRow;
    }

    function uploadProductFile() {
        var form = document.forms.namedItem("productFileForm");
        formData = new FormData(form);

        var xhttp = new XMLHttpRequest();
        var msg = "";
        xhttp.open("POST", "/admin/assistant/{{ id }}/products/file", true); // true is asynchronous
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === 4) {
                if (xhttp.status === 200) {
                    msg = xhttp.responseText;
                    window.location.reload();
                }
                else {
                    console.error(xhttp.statusText);
                    msg = "Error: other wierd response " + xhttp.status;
                }
                console.log(msg);
            }
        };
        xhttp.send(formData);
        return false;
    }
</script>
{% endblock %}
