{% extends "admin/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<!--<link rel="stylesheet" type="text/css" href="../static/SL/Login/css/main.css">-->
<link rel="stylesheet" type="text/css" href="../static/css/checkbox.css">
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Profile</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <!-- Account Details -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Your details
                            <small>You can update your details here.</small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="col-xs-2">
                            <div class="profile_img" style="margin-top: 25px">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="/static/images/img.jpg"
                                         alt="Avatar">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 profile_left">
                            <div id="outputDiv">
                                <form id="profileForm" action="/admin/profile" method="post">
                                    <div class="input-group" style="margin:10px 0 0 10px">
                                        <span class="input-group-addon">First and Last Name</span>
                                        <input type="text" class="form-control" id="names" name="names" value="{{user["Firstname"]}} {{user["Surname"]}}" />
                                    </div>

                                    <div class="input-group" style="margin:10px 0 0 10px">
                                        <span class="input-group-addon">Email</span>
                                        <input type="text" class="form-control" id="email" name="email" value="{{user["Email"]}}" readonly />
                                    </div>

                                    <div class="input-group" style="margin:10px 0 0 10px">
                                        <span class="input-group-addon">Company Name</span>
                                        <input type="text" class="form-control" id="companyName" name="companyName" value="{{company["Name"]}}" />
                                    </div>
                                    <br />
                                    <br />

                                    <!-- Start of data sharing-->
                                    <h2>Data Sharing Settings</h2>
                                    <p>
                                        Any data that you collect, process and store on TheSearchBase platform is kept secure and confidential at all times. The data that you collect is data
                                        that enables our software to work at its optimum level.
                                    </p>
                                    <hr>
                                    <h4>This part of the website enables you to control what settings you may share with us.</h4>
                                    <br />
                                    <!-- end of data sharing-->
                                    <!-- first check box-->
                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <label class="checkboxContainer" style="margin-bottom: 5px;">
                                            <strong>Newsletters</strong>
                                            {%if newsletters%}
                                            <input name="newsletters" value="newlettersON" type="checkbox" checked />
                                            {%else%}
                                            <input name="newsletters" value="newlettersON" type="checkbox" />
                                            {%endif%}
                                            <span class="checkmark"></span>
                                        </label>
                                        <p>
                                            We would like to keep you updated with the latest software updates and features available to you,
                                            If you decide to not subscribe you may miss on important features and announcements.
                                        </p>
                                    </div>
                                    <!-- end of first check box-->
                                    <!-- text information-->
                                    <br />
                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <label class="checkboxContainer" style="margin-bottom: 5px;">
                                            <strong>Statistical Assistant Notifications - 12 hour period</strong>
                                            {%if userSettings.UserInputNotifications%}
                                            <input name="notifications" value="notificationsON" type="checkbox" checked />
                                            {%else%}
                                            <input name="notifications" value="notificationsON" type="checkbox" />
                                            {%endif%}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <p>
                                        If allowed we will send you the number of new user records your assistants have stored every 8 hours.
                                    </p>
                                    <br />

                                    <p><strong>Erasing data</strong></p>
                                    <p>If you decide to stop using our platform, we will simply delete your information after a year of inactivity.</p>

                                    <br />

                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <label class="checkboxContainer" style="margin-bottom: 5px;">
                                            <strong>Tracking your data</strong>
                                            {%if userSettings.TrackingData%}
                                            <input name="tracking" value="trackingON" type="checkbox" checked />
                                            {%else%}
                                            <input name="tracking" value="trackingON" type="checkbox" />
                                            {%endif%}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <p>
                                        We do not in any way track your information for marketing purposes. However we would <strong>recommend</strong>
                                        allowing us to <strong>contact you if we see that there are ways we could enhance your bot or use of our software</strong>.
                                    </p>
                                    <br />


                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <label class="checkboxContainer" style="margin-bottom: 5px;">
                                            <strong>Technical Support</strong>
                                            {%if userSettings.TechnicalSupport%}
                                            <input name="techSupport" value="techSupportON" type="checkbox" checked />
                                            {%else%}
                                            <input name="techSupport" value="techSupportON" type="checkbox" />
                                            {%endif%}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <p>Let our team view your errors and problems in order for us to solve your issues.</p>
                                    <br />


                                    <div class="input-group" style="margin-bottom: 5px;">
                                        <label class="checkboxContainer" style="margin-bottom: 5px;">
                                            <strong>Account Specialist</strong>
                                            {%if userSettings.AccountSpecialist%}
                                            <input name="accountSpecialist" value="accountSpecialistON" type="checkbox" checked />
                                            {%else%}
                                            <input name="accountSpecialist" value="accountSpecialistON" type="checkbox" />
                                            {%endif%}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <p>
                                        Let our team contact you to help make recommendations as to how you can <strong>
                                            make your bots
                                            more successful and ways to collect more valuable data
                                        </strong>. If you don't have a sales specialist,
                                        we recommend you enable this so we can help you make the most of our software.
                                    </p>

                                    <!-- submit buttons-->
                                    <div class="input-group" style="margin:10px 0 0 10px">
                                        <button class="btn btn-success">Save</button>
                                        <a href="/admin/changepassword" class="btn btn-success">Change Password</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}

    {% block customJS %}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDExVDw_47y0U4kukU1A0UscjXE7qDTRhk&callback=initMap"></script>
<script>
    console.log("{{user}}")
</script>
    {% endblock %}
