{% extends "admin/base.html" %}

{% block title %}Solutions{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/checkbox.css">
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Adding New Solutions</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                Database 1 - All of the solutions thats your bot scans for are listed below.
                            </p>

                            <!-- Start of welcome message -->
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>
                                                Upload an existing database that you have
                                                <small>File Types: XML, JSON (coming soon)</small>
                                            </h2>
                                            <ul class="nav navbar-right panel_toolbox"></ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <form id="productFileForm" name="productFileForm"
                                                  enctype="multipart/form-data">

                                                <div class="form-group">
                                                    <div>
                                                        <label class="btn btn-success" for="productFile">
                                                            Choose file to
                                                            upload
                                                        </label><br><br />
                                                        <input type="file" id="productFile" name="solutionsFile" onchange="$('#fileDisplay').val($('#productFile').val())" style="display:none;" />
                                                        File: <input id="fileDisplay" style="border-style:none;cursor:auto;width:95%;" readonly />
                                                        <br />
                                                        <br />
                                                        File Type:
                                                        <select name="fileType">
                                                            <option value="RBDXML">RBD Xml File</option>
                                                        </select>
                                                    </div>
                                                    <br />
                                                    <button id="uploadButton" class="btn btn-success"
                                                            type="button" value="submit" onclick="uploadProductFile()">
                                                        Upload Database
                                                    </button>
                                                </div>
                                            </form>
                                            <br /><br />
                                            <div id="jobAlertsDiv">
                                                <h3>Job Alerts</h3>
                                                <p>
                                                    You can send emails to your clients when a new job suited for them has been added to your records.<br />
                                                    This can be done manually by clicking the button bellow or by ticking the box which will check<br />
                                                    and send them every time you update your data.
                                                </p>
                                                <label class="btn btn-success" onclick="sendSolutionAlerts()">Send Jobs</label>
                                                <p id="sendSolutionsMessage"></p>
                                                <br />
                                                <h4>Send Automatically</h4>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <label class="checkboxContainer" style="margin-bottom: 5px;">
                                                        On data update
                                                        
                                                        <input name="jobAlerts" value="jobAlerts" type="checkbox" {%if false%}checked{%endif%} onchange="changeAutoSolutionAlerts()"/>
                                                        
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                <p id="checkboxMessage"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2>Raw Data:</h2>
                                <div id="solutionsTableDiv">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Solution Modal -->
<div class="modal fade" id="solutionModal" tabindex="-1" role="dialog" aria-labelledby="solutionModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="solutionModalLongTitle">Solution Information</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="solutionForm">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputID">ID</label>
                        <input type="text" class="form-control" name="inputId" placeholder="FS5894">
                    </div>

                    <div class="form-group">
                        <label for="inputBigTitle">Major Title</label>
                        <input type="text" class="form-control" name="inputMajorTitle" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="inputSecondaryTitle">Secondary Title</label>
                        <input type="text" class="form-control" name="inputSecondaryTitle" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="inputSecondaryTitle">Short Description</label>
                        <input type="text" class="form-control" name="inputShortDescription" placeholder="">
                    </div>


                    <div class="form-group">
                        <label for="inputMoney">Money</label>
                        <input type="text" class="form-control" name="inputMoney" value="£0" placeholder="" onchange="validate(this)">
                    </div>

                    <div class="form-group">
                        <label for="inputKeywords">Keywords</label>
                        <input type="text" class="form-control" name="inputKeywords" placeholder="">
                    </div>


                    <div class="form-group">
                        <label for="inputURL">URL</label>
                        <input type="url" class="form-control" name="inputURL" placeholder="https://www.thesearchbase.com" onchange="validate(this)">
                    </div>




                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Solution Modal END -->
{% endblock %}

{% block customJS %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };

var assistantID = window.location.pathname.split('/')[3];

// Once the modal is closed, unbind all onSubmit handlers from the userForm
$(document).on('hide.bs.modal', '#solutionModal', function (e) {
    console.log('Unbind submit event.');
    $(document).off('submit', '#solutionForm');
});
    $("#solutionsTableDiv").append("{{data.Content}}");

    //document.getElementById('uploadButton').addEventListener('click',uploadProductFile)
    function uploadProductFile() {
        // TODO: validate the type of product before update
        // 1- if submit without adding file (done)
        // 2- submit with a wroung dataType (done)
        // 3- if there is backend response show it
        if ($("#productFile").val()) {
            if ($("#productFile").val().includes('json')
            ||  $("#productFile").val().includes('xml') ) {
                var form = document.forms.namedItem("productFileForm");
                formData = new FormData(form);
                var xhttp = new XMLHttpRequest();
                var msg = "";
                xhttp.open("POST", "/admin/assistant/{{ id }}/solutions/file", true); // true is asynchronous
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState === 4) {
                        if (xhttp.status === 200) {
                            msg = xhttp.responseText;
                            window.location.reload();
                        }
                        else {
                            console.error(xhttp.statusText);
                            msg = "Error: " + xhttp.status;
                        }
                        console.log(msg);
                    }
                };
                xhttp.send(formData);
                return false;
            }
            else
                alertError('Upload File Error','<h2>Data Type must be <b>json</b> or <b>xml</b></h2>')
        }
        else
            alertError('Upload File Error','<h2>There is no file to upload</h2>')
    }

    function sendSolutionAlerts() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/admin/assistant/{{ id }}/sendSolutionAlerts", true); // true is asynchronous
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === 4) {
                if (xhttp.status === 200) {
                    msg = xhttp.responseText;
                    $("#sendSolutionsMessage").text(msg);
                }
                else {
                    console.error(xhttp.statusText);
                    msg = "Error: " + xhttp.status;
                    $("#sendSolutionsMessage").text(msg);
                }
                console.log(msg);
            }
        };
        xhttp.send();
    }





    // helping functions
    function createArray(rows) {
        var arrayRow = [];
        for (var i = 0; i < rows; i++) {
            arrayRow[i] = [];
        }
        return arrayRow;
    }

</script>
{% endblock %}
