{% extends "publicBase.html" %}

{% block title %}Features{% endblock %}

{% block content %}
<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Why Choose us?</h2>
                    <h3></h3>
                    <p>Offering advancement to your team</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->
<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <br />
                    <br />
                    <h2>A new way of interacting with users</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome Features End ***** -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="special_description_img">
                    <img src="../static/img/bg-img/search.png" alt="Candidate Engagement">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                <div class="special_description_content">
                    <h2>Reduce Bounce Rates, Boost leads.</h2>
                    <p>
                        The average bounce rate on websites is 48.6%. Users with our chat bots have seen their bounce rates decrease to 17%.
                        The platform offers businesses the ability to interact with users at any time during the day, with pre-built questions and answers that don't require effort from users.
                    </p>
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="mailto:info@thesearchbase.com?subject=Arrange Demo&body=Hi, I would like to arrange a demo to see your software.">
                                <i class="fa"></i>
                                <p class="mb-0">Get Started</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Special Area End ***** -->
<!-- ***** Video Area Start ***** -->
<div class="video-section">
    <div class="section-heading text-center">
        <br />
        <br />
        <br />
        <br />
        <h2>Visual Demo</h2>
        <div class="line-shape"></div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Video Area Start -->
                    <div class="video-area" style="background-image: url(../static/img/bg-img/video.jpg);">
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/embed?v=toh2gwIWLEQ" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Video Area End ***** -->
<!-- ***** Cool Facts Area Start ***** -->
<section class="cool_facts_area clearfix">
    <div class="container">
        <div class="section-heading text-center">
            <h2>The Setup Process</h2>
            <div class="line-shape"></div>
        </div>
        <div class="row">
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="counter-area">
                        <h3><span class="counter">1</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-arrow-down-a"></i>
                        <p>Minute <br> Setup</p>
                    </div>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="counter-area">
                        <h3><span class="counter">5</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-happy-outline"></i>
                        <p>Lines <br> Of Code</p>
                    </div>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="counter-area">
                        <h3><span class="counter">10</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-person"></i>
                        <p>Clicks<br>To build</p>
                    </div>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                    <div class="counter-area">
                        <h3><span class="counter">20</span></h3>
                        <h3></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-ios-star-outline"></i>
                        <p>Seconds <br>To Capture leads</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Cool Facts Area End ***** -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="section-heading text-center">
        <h2>Complete CRM Integration</h2>
        <div class="line-shape"></div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="special_description_img">
                        <img src="../static/img/bg-img/crm.png" alt="CRM">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="special_description_content">
                        <h2>Fitting us into,<br /> your world</h2>
                        <p>
                            We have implemented our software with some of the world's leading CRM companies and continue to partner with more add more companies.
                            Talk to us to find if your CRM can be integrated for the ultimate level of automation.
                        </p>
                        <div class="app-download-area">
                            <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                <!-- Google Store Btn -->
                                <a href="mailto:info@thesearchbase.com?subject=Arrange Demo&body=Hi, I would like to arrange a demo to see your software.">
                                    <i class="fa"></i>
                                    <p class="mb-0">Get Started, For Free</p>
                                </a>
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2>Join our Monthly Membership</h2>
                    <p>Find the perfect plan for you — starting for free.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                    <a href="mailto:info@thesearchbase.com?subject=Arrange Demo&body=Hi, I would like to arrange a demo to see your software.">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->
{% endblock %}
