{% extends "publicBase.html" %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}
<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Terms & Conditions</h2>
                    <h3></h3>
                    <p>Rules we practice.</p>
                </div>
            </div>
        </div>

        <!-- ***** Wellcome Area End ***** -->

        <div class="policies">
            <br />
            <p> This website is operated by TheSearchBase Limited (we may refer to ourselves as "we", "our", or "us")<p>

                <div class="Policy_head">
                    <br />
                    <h4> Personal information </h4>
                </div>
                <div class="Policy_text">
            <p> Please read these Terms and Conditions carefully before you start using our software as a service as they will apply to your use of it. By using our platform, you confirm that you accept these Terms and agree to comply with them at all times when using our website.
                If you are using registered for a free trial for our services, the Terms and Conditions in this agreement will also govern that free trial. 
                If you do not accept these Terms, you may not use the Service. If we change these Terms we will notify you indefinitely. We may leave a note on the home page or send you an email. We will ensure you know of any changes that are taking place.</p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> About Us </h4>
        </div>
        <div class="Policy_text">
            <p> You can contact us at any time by emailing: info@thesearchbase.com </p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> The Service we Provide </h4>
        </div>
        <div class="Policy_text">
            <p>
                This software is licensed, not sold. You may use this software as described in this agreement. TheSearchbase Limited provides a platform for companies to create a virtual assistant for their website or business for multiple purposes. The platform can be used
                across all industries and sectors without any limitations. More accurately the service will allow you to:
            </p>
            <ul class="Policy_list">
                <li style="text-align:left" class="policy_list_margin">Create an assistant that can then be deployed to your website</li>
                <li style="text-align:left" class="policy_list_margin">Build your own questions and answers that will be used during the use of the assistant</li>
                <li style="text-align:left" class="policy_list_margin">Add products, services or what your business intends to provide visitors</li>
                <li style="text-align:left" class="policy_list_margin">Track how many visitors have used your deployed assistant and what they searched for.</li>
            </ul>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Mandatory Emails </h4>
        </div>
        <div class="Policy_text">
            <p>
                We hold the right to send you updates about our platform that are <strong>Critical</strong>.
                This excludes newsletters.
            </p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Access to our platform </h4>
        </div>
        <div class="Policy_text">
            <p> If for any reason the Site is unavailable at any time or for any period. From time to time, we may restrict access to all or some parts of the Site to users who have registered with us. </p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> User information </h4>
        </div>
        <div class="Policy_text">
            <p> In order to make your assistant work, we will require certain pieces of information to make the assistant work. We will never ask for more information than what is necessary. To deploy your assistant we will need:   </p>
            <ul class="Policy_list">
                <li style="text-align:left" class="policy_list_margin">Your website domain;</li>
                <li style="text-align:left" class="policy_list_margin">and for you to add some code to any part of your website.</li>
            </ul>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Accounts & Users </h4>
        </div>
        <div class="Policy_text">
            <p> We may refer to a user as a 'consultant', 'recruiter' or 'individual'.</p>
            <p> The login credentials for one user that has registered or added to the platform by their company may only be used by that unique individual. We are allowed to run audits & scripts to check how many active users from a single company are accessing the platform.
                it is forbidden to physically use a shared computer amongst your team or company to prevent the purchase of more licenses. If more than one individual uses the software with the same credentials (email & password) then we hold the right to
                file an invoice with the correct number of users.</p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Informing users about data collection </h4>
        </div>
        <div class="Policy_text">
            <p> With new European regulations(GDPR) surrounding data collection and data storage about users, we must inform the company/individual using our technology for data collection from the user, to inform the user that their data is being collected. This can be done in a few ways.   </p>
            <ul class="Policy_list">
                <li style="text-align:left" class="policy_list_margin">Explicitly informing the user in your chat, that data is being collected.</li>
                <li style="text-align:left" class="policy_list_margin">Extending your use policy and adding that any data entered to the chat bot will be collected and used..</li>
            </ul>
            <p>We take every precaution to ensure all of the data that is being for you, meets the new  data policy regulations. </p>

        </div>

        <div class="Policy_head">
            <br />
            <h4> Data Ownership </h4>
        </div>
        <div class="Policy_text">
            <p>
                Our platform enables you as a user to store information. It is your responsibility to understand what data you are collecting and for what purposes since you are the owner of the data. We do all we
                can do help prevent data being leaked and are working to comply with new European Regulations (GDPR).
            </p>
            <br />
            <p>To help our users, we are working on new technologies to </p>
            <ul class="Policy_list">
                <li style="text-align:left" class="policy_list_margin">Encrypting any data that you are storing.</li>
                <li style="text-align:left" class="policy_list_margin">Legally making sure that the user is informed when data is collected. </li>
            </ul>
        </div>

        <div class="Policy_head">
                <br />
                <h4> Restrictions </h4>
            </div>
            <div class="Policy_text">
            <p>You may not reduce the software we provide to human readble form, reverse enginner, dissassemble, merge, adapt or modify the software. </p>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<!-- Jquery-2.2.4 JS -->
<script src="../static/js/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../static/js/popper.min.js"></script>
<!-- Bootstrap-4 Beta JS -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- All Plugins JS -->
<script src="../static/js/plugins.js"></script>
<!-- Slick Slider Js-->
<script src="../static/js/slick.min.js"></script>
{% endblock %}
