.wrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1rem; /* Footer height */
}

.footer {
    padding: 5px 0;
    color: white;
    z-index: 30;
    background: #a865e1;
    /*background: linear-gradient(to top, #9254de, #5e61ca, #5273d7, #4785e3, #3f95ec);*/
    background: linear-gradient(to bottom, #a865e1, #9d69e5, #916ce8, #8570eb, #7773ed);
}


.wave {
    display: block;
    transform: translateY(5px);
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer .row {
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer .row:first-child {
    margin-bottom: 3em;
}


.footer .row .logo {
    display: inline;
    line-height: normal;
    font-weight: bold;
    cursor: pointer;
}

.footer .row .logo h1 {
    color: white;
    text-indent: .8em;
    font-weight: bold;
}

.footer .nav ul {
    line-height: 2.3em;
    font-size: .9em;
}

.footer .nav li:first-child {
    font-weight: 900;
    text-transform: uppercase;
}

.navigation_bottom {
    align-self: center;
    text-align: center;
}

.navigation_bottom ul {
    font-size: 0.85em;
    justify-content: space-around;
    display: flex;
    flex-flow: row;
}

.copyright {
    font-size: .75em;
    text-align: center;
}

.copyright h4 {
    color: white;
    line-height: 1.5em;
}

.social_icons {
    font-size: 1.4em;
    text-align: center;
}

.social_icons .icon {
    display: inline-block;
    margin: 0 10px;
}


@media (max-width: 767.98px) {
    .social_icons {
        margin-top: 0.5em;
    }
}

@media (max-width: 575.98px) {

    .navigation_bottom ul {
        justify-content: space-between;
        display: flex;
        flex-flow: column;
    }


    .navigation_bottom ul li {
        margin: .1em 0;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }

    .footer .logo {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .footer .row .logo h1 {
        text-indent: unset;
    }

    .footer .nav {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        place-items: center;
    }

}
