# serverless.yml

service: flask-app-serverless-test-1

provider:
  name: aws
  runtime: python3.7
  stage: dev
  region: eu-west-2

plugins:
  - serverless-wsgi
  - serverless-python-requirements

custom:
  pythonRequirements:
#    zip: true
    slim: true
#    layer: true
    useDownloadCache: true
    useStaticCache: true

  wsgi:
    app: thesearchbase.app
    packRequirements: false

functions:
  app:
    handler: wsgi_handler.handler
#    layers:
#      - {Ref: PythonRequirementsLambdaLayer}
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'


  sendConversationsNotifications:
    handler: services/scheduler_services.sendConversationsNotifications
#    layers:
#        - {Ref: PythonRequirementsLambdaLayer}
    events:
      - schedule: rate(1 hour)
