.Header {
    height: 60px;
    width: 100%;
    background-color: #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    /*-webkit-box-shadow: 0 14px 18px 1px #fafafa;*/
    /*box-shadow: 0 14px 18px 1px #fafafa;*/
    position: relative;
    z-index: 8;
}

.H3 {
    color: #1890ff;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
}

.AntdButton {
    margin: 3px;
}

.Danger:hover {
    color: #fff !important;
    background-color: #ff4d4f !important;
    border-color: #ff4d4f !important;
}

.Danger{
    color:red !important;
}

.BounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/*.Header > p {*/
/*height: 40px;*/
/*background-color: #2196F3;*/
/*border-top-left-radius: 5px;*/
/*border-top-right-radius: 5px;*/

/*}*/

/*@media (max-width: 490px) {*/
/*.Header {*/
/*border-top-left-radius: 0;*/
/*border-top-right-radius: 0;*/
/*}*/
/*}*/