.Input {
    position: absolute;
    z-index: 3;
    padding: 0 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    transition: bottom 0.5s;
    display: flex;
    height: 50px;
    bottom: 0;
}

.Input.WithOutSignature {
    bottom: 0;
}

.Visible {
    bottom: 40px;
    box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.1);
}

.RangePicker {
    width: 80% !important;
    margin: auto;
}

#TheSearchBase_Chatbot input {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}

#TheSearchBase_Chatbot input[type="text"]::placeholder {
    color: #666565 !important;
}

#TheSearchBase_Chatbot input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}

.antd-date-multi {
    position: relative;
}

.antd-date-multi > span {
    padding: 3px;
    border-radius: 3px;
    transition: background 0.5s, color 0.5s;
}

.antd-date-multi:hover > span {
    background: rgb(230, 247, 255);
    cursor: pointer;
}

.antd-date-multi:active > span {
    color: rgb(255, 255, 255);
    background: rgb(64, 169, 255);
}

.antd-date-multi.selected > span {
    background: rgb(186, 231, 255);
}

.antd-date-multi.fade > span {
    color: rgba(0, 0, 0, 0.25);
}

.antd-date-multi.disabled {
    background-color: rgb(224, 224, 224)
}

.antd-date-multi.range {
    background: rgba(186, 231, 255, 0.47)
}

.antd-date-multi.range-start {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.antd-date-multi.range-end {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.antd-date-multi.begin > span {
    background: rgb(186, 231, 255);
}

.antd-date-multi.finish > span {
    background: rgb(186, 231, 255);
}

.antd-date-multi.finish > span.delete-range {
    width: 10px;
    position: absolute;
    background-color: rgb(244, 67, 54);
    top: -6px;
    height: 10px;
}

.antd-date-multi.finish > span.delete-range::after {
    position: absolute;
    background-color: #fff;
    height: 1px;
    left: 1px;
    top: 4px;
    width: 8px;
    content: '';
    transform: rotate(45deg)
}

.antd-date-multi.finish > span.delete-range::before {
    position: absolute;
    background-color: #fff;
    height: 1px;
    left: 1px;
    top: 4px;
    width: 8px;
    content: '';
    transform: rotate(-45deg)
}

.Text {
    font-size: 16px;
    font-weight: 400;
    color: #647384;
    background: transparent !important;
    width: 100%;
    height: 100%;
    border: none;
    float: left;
}

.Text:focus {
    outline: none;
}

.Input > .DatePickerContainer {
    width: calc(100% - 40px);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: inherit;
}


#TheSearchBase_Chatbot_Input input.ant-calendar-input {
    font-size: 16px !important;
}

#TheSearchBase_Chatbot_Input input.ant-calendar-picker-input.ant-input {
    font-size: 16px !important;
}

.Input > .Submit {
    padding-top: 15px;
}

/* Smart phones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .ant-calendar-picker-container.DatepickerCalendar > .ant-calendar {
        width: calc(100vw - 76px) !important;
    }
}

.ant-calendar {
    width: 320px !important;
}

.Input > .InputContainer {
    width: calc(100% - 60px);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: inherit;
}

.Input > .InputContainer > .Slider {
    width: calc(100% - 80px)
}

.Input > .Text:focus {
    outline: none
}

.Input > .Text:disabled {
    cursor: not-allowed;
}

.SendIconActive {
    color: #1890ff;
    cursor: pointer;
}

.Actions > p {
    font-size: 14px !important;
}

.Input > .Actions {
    padding-top: 18px;
    margin-right: 5px;
}

.Input > .Actions > i.ClipIconActive {
    color: #1890ff;
    cursor: pointer;
}

.Input > .Actions > i > input[type=file] {
    display: none;
}

.Progress {
    width: 100%;
    padding: 0 40px;
}

.Settings {
    min-width: 70px
}

.Settings > .SettingsTitle {
    font-size: 16px;
}

.Settings .SettingsOption {
    font-size: 14px;
    font-weight: 400;
}


.DatepickerCalendar {
    z-index: 99999999 !important;
}

.Datepicker {
    width: 100%;
    display: inherit;
    align-items: center;
}

.Datepicker input {
    background: transparent;
    border: none;
}

.Datepicker i {
    top: 10px;
}
