.wrapper {
    padding: 4em 2em 0 2em;
}

.card {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    border: none;
    border-radius: 3px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 30px;
}

.col_item {
    border-right: #848484 1px dashed;
}

.col_item:last-child {
    border: none;
}

.row_buttons{
    align-items: center;
}

.col_compare_button {
    margin-top: 3em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.compare_button {
    width: 100%;
    text-transform: uppercase;
    border-radius: 2px;
    text-decoration: none;
    color: #9254de;
    border-color: #9254de;
    padding: 8px 20px;
    font-weight: bolder;
    font-size: .9em;
    transition: all 0.4s ease 0s, background-color 0.4s ease 0s;
}

.compare_button:hover {
    color: white;
    background: #9254de;
    border-color: #9254de;
}

.compare_button:not(:disabled):not(.disabled):active {
    color: white;
    background: #9254de;
    border-color: #9254de;
}

.compare_button:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 107, 219, .5);
}

.compare_button a {
    text-decoration: none;
    color: #9254de;
}

.enterprise_button {
    width: 100%;
    text-transform: uppercase;
    border-radius: 2px;
    text-decoration: none;
    color: white !important;
    border: solid transparent 0;
    padding: 8px 20px;
    font-weight: bolder;
    font-size: .9em;
    background-color: #9254de;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.enterprise_button:hover {
    background-color: #9C7DED;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.enterprise_button:not(:disabled):not(.disabled):active {
    background-color: #9C7DED;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.enterprise_button:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 107, 219, .5);
}

.enterprise_button:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 107, 219, .5);
}

.product_card_body{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.product_card_body div{
    width: 75%;
}

.product_card_body div h1{
    text-transform: uppercase;
    color: #444444;
    font-weight: 900;
    font-size: 1.2em;
}

.product_card_body div p{
    font-size: .9em;
    margin-top: .5em;
    color: #444444;
}

.product_card_body span{
    text-transform: uppercase;
    text-align: right;
    align-self: center;
    width: 25%;
    height: 100%;
    font-size: .8em;
    font-weight: bold;
}

.partners_wrapper{
    margin-top: 100px;
}

.table_wrapper {
    margin-top: 60px;
    text-align: center;
}

.table_wrapper h1 {
    text-align: center;
    color: #444444;
    font-size: 2em;
    font-weight: bold;
}

.table_wrapper hr {
    background-color: #9254de;
    max-width: 100px;
    height: 3px;
    margin: 15px auto;
}

.table_wrapper h4 {
    color: #726a84;
}

.table_wrapper a{
    margin-left: 5px;
    margin-right: 5px;
    color: #9254de;
    text-decoration: none;
}

.table_wrapper a:hover{
    color: #9C7DED;
}

.plans_table{
    margin-top: 40px;
}

@media (max-width: 767.98px) {
    .col_item {
        margin-bottom: 30px;
    }
}