.wrapper{
    color: #444444;
}

.div_num{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
}

.div_num span{
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
    color: #9254de;
}

.div_num hr{
    margin: 0 .5em;
    display: inline;
    background: #9254de;
    height: 3px;
    width: 48px;
}

.title{
    margin-bottom: 15px;
    font-size: 1.8em;
    letter-spacing: .5px;
    color: #444444;
}

.text{
    color: #767676;
    font-size: 1.2em;
}

@media (max-width: 991.98px) {
    .title{
        font-size: 1.7em;
    }
}