.Chatbot_Button {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    right: 30px;
}

.Chatbot_Button.Left {
    left: 30px !important;
    right: auto;
}

.Chatbot_Button.Right {
    right: 30px !important;
    left: auto;
}

.Chatbot_Button button {
    padding: 0 !important;
}
