.Signature {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: auto;
    justify-content: center;
    width: 100%;
    background-color: #fafafa;
    align-items: center;
    height: 40px;
    z-index: 4;
}

.Signature a {
    color: #673AB7;
    margin-left: 5px;
}

.Signature p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.Signature a:link {
    text-decoration: none;
}

.Signature a:visited {
    text-decoration: none;
}

.Signature a:hover {
    text-decoration: underline;
}

.Signature a:active {
    text-decoration: underline;
}
