

.text_col {
    line-height: normal;
    align-self: center;
}

.text_col .title_transient{
    color: #9254de;
    font-size: 2.3em;
    font-weight: bold;
}

.text_col .title{
    color: #9254de;
    margin-bottom: 1em;
    font-size: 2.3em;
    font-weight: lighter;
}

.text_col .subtitle{
    color: #726a84;
    margin-bottom: .75em;
}

.text_col .button {
    text-transform: uppercase;
    border-radius: 2px;
    text-decoration: none;
    color: #9254de;
    border-color: #9254de;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: .85em;
    font-weight: bolder;
    transition: all 0.4s ease 0s;
}

.text_col .button:hover {
    color: white;
    background: #9254de;
    border-color: #9254de;
}

.text_col .button a{
    transition: all 0.4s ease 0s;
}

.text_col .button:hover a {
    color: white;
}

.text_col .button:not(:disabled):not(.disabled):active {
    color: white;
    background: #9254de;
    border-color: #9254de;
}

.text_col .button:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 107, 219, .5);
}

.text_col .button a {
    text-decoration: none;
    color: #9254de;
}


@media (max-width: 991.98px) {

    .text_col .title_transient{
        font-size: 1.8em;
    }

    .text_col .title{
        margin-bottom: 1.1em;
        font-size: 1.8em;
    }

    .text_col .button{
        font-size: .9em;
    }
}

@media (max-width: 767.98px) {
    .text_col {
        margin-bottom: 3em;
        text-align: center;
    }

    .text_col .title_transient div{
        display: flex;
        align-items: center;
        flex-flow: column;
    }
}