{% extends "publicBase.html" %}

{% block title %}About us{% endblock %}

{% block content %}
<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>About us</h2>
                    <p>A sprint down memory lane</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->
<!-- ***** Special Area Start ***** -->
<br /><br />
<section class="special-area bg-white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>Next Generation Technology</h2>
                    <br />
                    <p>TheSearchbase is simply designed to help you make more sales, boost user interaction and revolutionise your website. The technology used is simply next-generation!</p>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ***** Special Area End ***** -->
<!-- Special Description Area -->
<div class="special_description_area bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="special_description_img">
                    <img src="../static/img/bg-img/teamwork.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                <div class="special_description_content">
                    <h2>Together,<br />until we succeed.</h2>
                    <p> Our team is here to help you reach your goals. We will help you get set up and get you started with everything that need to revolutionise your website. </p>
                    <!-- <p>TheSearchBase can be added to your website in less than 15 minutes. You simply register, design your own questions & answers then finally add your products. Your visitors will be able to use your Q&A engine instantly. </p> -->
                    <!-- <h2>What is TheSearchBase?</h2>
                    <p>TheSearchBase can be added to your website in less than 15 minutes. You simply register, design your own questions & answers then finally add your products. Your visitors will be able to use your Q&A engine instantly. </p> -->

                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="/signup">
                                <p class="mb-0"><span>Get me started</span> it's free!</p>
                            </a>
                        </div>
                        <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                            <!-- Apple Store Btn -->
                            <a href="/features">
                                <p class="mb-0"><span>Why does this work?</span> explain</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </section>
<!-- ***** Special Area End ***** -->
<!-- ***** Our Team Area Start ***** -->
<section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Our Team</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="../static/img/team-img/meh.jpg" alt="">
                        <div class="team-hover-effects">
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>Mehdi Este</h4>
{#                        <p>Sales & Management</p>#}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="../static/img/team-img/ton.jpg" alt="">
                        <div class="team-hover-effects">
                            <div class="team-social-icon">
                            </div>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>Evgeniy Tonchev</h4>
{#                        <p>Engineering & Management</p>#}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="../static/img/team-img/faisal.jpeg" alt="">
                        <div class="team-hover-effects">
                            <div class="team-social-icon">
                            </div>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>Faisal Juladan</h4>
{#                        <p>Engineering & Management</p>#}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="../static/img/team-img/abdullah.jpg" alt="">
                        <div class="team-hover-effects">
                            <div class="team-social-icon">
                            </div>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>Abdullah Hashim</h4>
{#                        <p>Engineering & Management</p>#}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="../static/img/team-img/gareth-morris.jpg" alt="">
                        <div class="team-hover-effects">
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>Gareth Morris</h4>
{#                        <p>Advisor</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Team Area End ***** -->
<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2>Join our Monthly Membership</h2>
                    <p>Find the perfect plan for you — revolutionise your website.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                    <a href="/signup">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->
{% endblock %}
