{% extends "publicBase.html" %}

{% block title %}Affiliate{% endblock %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Affiliate</h2>
                    <h3></h3>
                    <p>Partner with us and earn 10% commission.</p>
                </div>
            </div>
        </div>

        <!-- ***** Welcome Area End ***** -->

        <div class="Policy_head">
            <br />
            <h4> How you can earn </h4>
        </div>
        <div class="Policy_text">
            <p> Please read these Terms and Conditions carefully before you start selling our plans through your affiliate code.</p>
            <ul class="Policy_list">
                <li class="policy_list_margin" style="text-align:left">You will be paid at the end of every month once all of the existing customers from your affiliate link still use our platform.</li>
                <li class="policy_list_margin" style="text-align:left">Your pay may vary depending on the number of customers that use our platform.</li>
                <li class="policy_list_margin" style="text-align:left">Once your affiliate reference code has been created, it is your responsibility to keep it safe.</li>
                <li class="policy_list_margin" style="text-align:left">Track how many visitors have used your deployed assistant and what they searched for.</li>
            </ul>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Further Questions </h4>
        </div>
        <div class="Policy_text">
            <p>Register below and give us your basic information in the email. We will then start you with our affiliate program.</p>

            <div class="signup">
                <button href="mailto:thesearchbase@gmail.com?subject=Affiliate%20Registration" class="button button4">Register</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
