<html lang="en">
<head>
    <script src="http://localhost:3000/userdownloads/widget.js"
            data-name="tsb-widget"
            data-id="{{ assistantID }}"
            data-circle="#9254de"
            data-directLink
            async defer>

    </script>
</head>
<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    body {
        background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
        background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
        background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
        background: linear-gradient(-135deg, #c850c0, #4158d0);
    }

</style>

<body></body>
</html>
