{% extends "publicBase.html" %}

{% block title %}Data Collection{% endblock %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Smart Communication</h2>
                    <h3></h3>
                    <p>Using Smart Chatbot Technology to Collect Data</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <br />
                    <br />
                    <h2>Process Candidates, in Minutes</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome Features End ***** -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="special_description_img">
                    <img src="../static/img/bg-img/businessman.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                <div class="special_description_content">
                    <h2>Deep and Meaningful conversations</h2>
                    <p>
                        The average bounce rate for candidates whilst talking to recruiters is 57%!
                        Using chatbot technology, you can ask your clients smart and meaningful questions at a time that's convenient for everyone.
                        The data collected is then directly processed and added to your CRM for you to grow.
                    </p>
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="/signup">
                                <i class="fa"></i>
                                <p class="mb-0">Get Started</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Special Area End ***** -->
<!-- ***** Video Area Start ***** -->
<div class="video-section">
    <div class="section-heading text-center">
        <br />
        <br />
        <br />
        <br />
        <h2>Visual Demo</h2>
        <div class="line-shape"></div>
        <br />
        <div class="container">
            <video loop="loop" autoplay="autoplay" width="300" height="450" id="introVideo">
                <source src="../static/images/demo-of-data-collection.webm" type="video/webm">
            </video>
        </div>
    </div>
    <!-- ***** Video Area End ***** -->
    <!-- Special Description Area -->
    <div class="special_description_area mt-150">
        <div class="section-heading text-center">
            <h2>Candidate Profile</h2>
            <div class="line-shape"></div>
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="../static/img/bg-img/man.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>Understanding Candidates, with dimension.</h2>
                            <p>
                                Recruitment is all about thinking outside of the box. Take advantage of the ability to effectively use your time when communicating with candidates or clients.
                                Take immediate action with the data as soon as it is collected. All the data is also <strong>encrypted</strong> and fully GDPR compliant.
                            </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <a href="/signup">
                                        <i class="fa"></i>
                                        <p class="mb-0">Get Started, For Free</p>
                                    </a>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2>Join our Monthly Membership</h2>
                    <p>Find the perfect plan for you — starting for free.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                    <a href="/signup">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->
{% endblock %}
