{% extends "publicBase.html" %}

{% block title %}Data Collection{% endblock %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Data Collection</h2>
                    <h3></h3>
                    <p>Using chat technology to collect data</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <br />
                    <br />
                    <h2>Features our service offers</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome Features End ***** -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="special_description_img">
                    <img src="../static/img/bg-img/chat.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                <div class="special_description_content">
                    <h2>Interacting, made easy</h2>
                    <p>
                        The average bounce rate for a website is 57%. To help decrease that, companies are interacting more with their customers.
                        Using chat bot technology, you can ask your audience questions that collects data about them. You can then use that data for the growth of your business.
                    </p>
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="/signup">
                                <i class="fa"></i>
                                <p class="mb-0">Get Started</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Special Area End ***** -->
<!-- ***** Video Area Start ***** -->
<div class="video-section">
    <div class="section-heading text-center">
        <br />
        <br />
        <br />
        <br />
        <h2>Visual Demo</h2>
        <div class="line-shape"></div>
        <br />
        <div class="container">
            <video loop="loop" autoplay="autoplay" width="500" height="490" id="introVideo">
                <source src="../static/images/demo2.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <!-- ***** Video Area End ***** -->
    <!-- Special Description Area -->
    <div class="special_description_area mt-150">
        <div class="section-heading text-center">
            <h2>2048 Bit Encryption</h2>
            <div class="line-shape"></div>
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="../static/img/bg-img/database.svg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>Safely store data</h2>
                            <p>
                                Once data has been fully captured from the assistant, it is safely stored in a database that your company can view.
                                You can take immediate action with the data as soon as it is collected. All the data is also <strong>encrypted</strong> so no one will
                                be able to see it.
                            </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <a href="/signup">
                                        <i class="fa"></i>
                                        <p class="mb-0">Get Started, For Free</p>
                                    </a>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2>Join our Monthly Membership</h2>
                    <p>Find the perfect plan for you — starting for free.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                    <a href="/signup">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->
<!-- ***** Contact Us Area Start ***** -->
<section class="footer-contact-area section_padding_100 clearfix" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Get in touch with us!</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>We'll send you tips and tricks to sharpen your assistant to maximize your return.</p>
                </div>
                <div class="address-text">
                    <p><span>Address:</span> Clydesmuir Rd, Cardiff CF24 2QS</p>
                </div>
                <!--<div class="phone-text">
                    <p><span>Phone:</span> 029 0842 9032</p>
                </div>-->
                <div class="email-text">
                    <p><span>Email:</span> thesearchbase@gmail.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Form Start-->
                <div class="contact_from">
                    <form action="/send/mail" method="POST">
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="sendingName" id="name" placeholder="Your Name" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="sendingEmail" id="email" placeholder="Your E-mail" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="sendMessage" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <button type="submit" value="Send" class="btn submit-btn">Send Now</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
                <!-- End of form  -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
