<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Bot</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Pop-up Stylesheet -->
    <!-- <link href="/static/pop-up/pop.css" rel="stylesheet"> -->

    <!-- Responsive CSS -->
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!-- Core Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- <link href="/static/css/main.css" rel="stylesheet"> -->

    <!-- Responsive CSS -->
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!-- Jquery-2.2.4 JS -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="/static/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="/static/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="/static/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <!-- <script src="/static/js/active.js"></script> -->

    <!-- Emoji JS and CSS -->
    <script src="https://cdn.jsdelivr.net/npm/emojione@3.1.4/lib/js/emojione.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojione@3.1.4/extras/css/emojione.min.css"/>
    <!-- to use -> emojione.toImage(input) -> input = :emojiname: -> example -> emojione.toImage(:smile:) -->
    <!-- phone emojis also work -->
    <!-- :P :) or such are not suported -->
    <!-- https://demos.emojione.com/latest/jstoshort.html to look at their :emoji: name -->

</head>

<body id="chatbotBody">

    <div class="top_right">
        <img style="width:20px; height: 20px; margin: 10px; top: 0px; right: 0px; position: fixed;" src="/static/img/bg-img/Icons8-Windows-8-Computer-Hardware-Restart.ico" onclick="Reset()">
    </div>

    <div class="outerContainer">
        <div class="innerContainer">
            <div class="element">
                <!-- <div class="chat-box">
            <div class="open">Open
                <div class="box"> -->
                <center>
                    <ul id="messagesContainer">
                        <!-- paste here the yeyo -->
                    </ul>
                </center>
                <div id="separator">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div id="chatBottom"></div>
                </div>
                <footer id="chatFooter">
                    <div id="bottomContainer">
                        <div id="optionsDiv">
                        </div>
                        <!-- <ul> -->
                        <div id="ChatInputDiv">
                            <input placeholder="Please enter your message here..." onkeypress="handleEnter(event)" id="textMessage"><img src="/static/img/core-img/send.png" id="messageSubmitB" onclick="submitMessage('')" />
                        </div>
                        <!-- </ul> -->
                    </div>
                </footer>
            </div>
        </div>
    </div>
<!-- </div>
</div>
</div> -->

<script type="text/javascript">
    var oldPos = 0;
    var newPos = 0;
    var cancelScroll = false;
    var showChatBox = false;
    var params = "";
    var questionsAnswered = 0;
    var collectedInformation = [];
    var qType = "";
    var question = undefined;
    $(window).scroll(function ()
    {
        newPos = $(window).scrollTop();
        if (newPos + 3 < oldPos)
        {
            $('html, body').stop();
            cancelScroll = true;
        }
        oldPos = newPos;
    });
    jQuery.expr.filters.offscreen = function (el)
    {
        var rect = el.getBoundingClientRect();
        return (
            (rect.x + rect.width) > window.innerWidth
        );
    };
    var numberOfQuestions = 0;
    var chatInputDov = document.getElementById("ChatInputDiv");
    {%for item in data%}
        numberOfQuestions++;
    {%endfor%}
    var data = createArray(numberOfQuestions);
    var i = 0;
    {%for item in data%}
        {%for answer in item%}
            {%if answer != None and answer != ""%}
                data[i].push("{{answer}}");
            {%endif%}
        {%endfor%}
        i++;
    {% endfor %}
    var questionNumber = 0;
    var questionN = 0;
    // document.getElementById("submitMessage").addEventListener("click", );
    $("#messagesContainer").append("<div class='tsbDiv'><li class='TSBbot'>" + emojione.toImage("{{message}}") + "</li></div><br><br>");
    getNextQuestion("Next Question by Order");
    async function submitMessage(message)
    {
        cancelScroll = false;
        if (message == "")
        {
            message = document.getElementById("textMessage").value;
            if (message == "" || message.replace(/ /g , "") == ""){
                return 0;
            }
            $('#textMessage').val("");
        }
        $("#messagesContainer").append("<div class='ucDiv'><li id='newMessage' class='userChat'>" + emojione.toImage(message) + "</li></div>");
        $("#newMessage").animate({
            marginTop: "-=35px"
        }, "slow");
        if (!cancelScroll)
        {
            scrollTo("chatBottom");
        }
        document.getElementById('newMessage').id = 'oldMessage';
        $("#qAnswers").remove();
        chatInputDov.style = "display:none";
        await sleep(500);
        $("#messagesContainer").append("<div class='tsbDiv'><li class='TSBbot' id='thinkingGif'><img src='/static/images/typing.gif'></li></div>")
        $("#thinkingGif").animate({
            marginTop: "-=25px"
        }, "slow");
        if (!cancelScroll)
        {
            scrollTo("chatBottom");
        }
        await sleep(400 + Math.floor(Math.random() * 900));
        $("#thinkingGif").remove();
        if (question[0].split(";")[1] == "both" || question[0].split(";")[1] == "userInfoRetrieval") {
            collectedInformation.push((questionN + 1) + ";" + message);
            var thanks = "";
            switch (Math.round(Math.random() * 6)) {
                case 0:
                    thanks = "Thanks 😁";
                    break;
                case 1:
                    thanks = "Thank you 😃";
                    break;
                case 2:
                    thanks = "I'll remember that 😉";
                    break;
                case 3:
                    thanks = "Just one of the things that make you cool 😎";
                    break;
                case 4:
                    thanks = "Let me just write it down ✍️😊";
                    break;
                case 5:
                    thanks = "Give me a second to operate that information 😷";
                    break;
                case 6:
                    thanks = "Thanks 👊";
                    break;
            }
            $("#messagesContainer").append("<div class='tsbDiv'><li id='newMessage' class='TSBbot'>" + emojione.toImage(thanks) + "</li></div>");
            $("#newMessage").animate({
                marginTop: "-=35px"
            }, "slow");
            if (!cancelScroll) {
                scrollTo("chatBottom");
            }
            document.getElementById('newMessage').id = 'oldMessage';
            await sleep(300);
            $("#messagesContainer").append("<div class='tsbDiv'><li class='TSBbot' id='thinkingGif'><img src='/static/images/typing.gif'></li></div>")
            $("#thinkingGif").animate({
                marginTop: "-=25px"
            }, "slow");
            if (!cancelScroll) {
                scrollTo("chatBottom");
            }
            await sleep(400 + Math.floor(Math.random() * 500));
            $("#thinkingGif").remove();
        }
        if (!showChatBox)
        {
            for (var i = 0; i < question.length; i++)
            {
                if (question[i].split(";")[0] == message)
                {
                    getKeyWord(question[i].split(";")[1]);
                    getNextQuestion(question[i].split(";")[2])
                    return 0;
                }
            }
        }
        getNextQuestion("Next Question by Order");
        /*$("#messagesContainer").append("<div class='tsbDiv'><li id='newMessage' class='TSBbot'>I apologise but I need an answer from the showed ones in order to get you the best match</li></div>");
        $("#newMessage").animate({
            marginTop: "-=35px"
        }, "slow");
        if(!cancelScroll){
            scrollTo("chatBottom");
        }
        document.getElementById('newMessage').id = 'oldMessage';
        var answers = "<div id='qAnswers'>";
        for(var i=1; i<data[questionN].length; i++){
            answers+="<a class='answerOptions' id='option"+i+"' onclick=\"submitMessage('"+emojione.toImage(data[questionN][i].split(";")[0]+"')\">"+data[questionN][i].split(";")[0])+"</a>"
        }
        answers+="</div>"
        $("#optionsDiv").append(answers);
        checkOutsideElements();
        if(!cancelScroll){
            scrollTo("chatBottom");
        }*/
    }
    function SkipQuestion() {
        questionsAnswered--;
        getNextQuestion("Next Question by Order");
    }
    function getNextQuestion(action)
    {
        questionsAnswered++;
        $("#qAnswers").remove();
        if (question == undefined) {
            question = data[0];
        } else if (action.includes("Go to: ")) {
            for (var i = 0; i < data.length; i++) {
                if (action.split(": ")[1] == data[i][0].split(";")[0]) {
                    question = data[i];
                    questionN = i;
                }
            }
        } else if (action == "Get Solutions") {
            questionsAnswered--;
            sendData();
            SetRepeat();
            chatInputDov.style = "display:none";
            if (!cancelScroll)
            {
                scrollTo("chatBottom");
            }
            return 0;
        } else if (action == "Next Question by Order") {
            for (var i = 0; i < data.length; i++) {
                if (question == data[i]) {
                    question = data[i + 1];
                    questionN++;
                    if (question == undefined) {
                        questionsAnswered--;
                        sendData();
                        SetRepeat();
                        chatInputDov.style = "display:none";
                        if (!cancelScroll) {
                            scrollTo("chatBottom");
                        }
                        return 0;
                    }
                    break;
                }
            }
        } else if (action == "None") {
            return 0;
        }
        qType = question[0].split(";")[1];
        var answers = "<div id='qAnswers'>";
        if (question[0].split(";")[1] == "userInfoRetrieval") {
            showChatBox = true;
        } else {
            showChatBox = false;
        }
        for (var i = 1; i < question.length; i++)
        {
            if (showChatBox) {
                break;
            }
            answers += "<a class='answerOptions' id='option" + i + "' onclick=\"submitMessage('" + emojione.toImage(question[i].split(";")[0]) + "')\">" + emojione.toImage(question[i].split(";")[0]) + "</a>";
            showChatBox = false;
        }
        if (questionN == 2) {
            answers += "<a class='answerOptions' id='option" + i + "' onclick=\"SkipQuestion()\">Skip Question</a>";
        }
        answers += "</div>"
        $("#optionsDiv").append(answers);
        if (showChatBox)
        {
            chatInputDov.style = "display:block";
        }
        else
        {
            chatInputDov.style = "display:none";
        }
        $("#messagesContainer").append("<div class='tsbDiv'><li id='newMessage' class='TSBbot'>" + emojione.toImage(question[0].split(";")[0]) + "</li></div>");
        $("#newMessage").animate({
            marginTop: "-=35px"
        }, "slow");
        document.getElementById('newMessage').id = 'oldMessage';
        checkOutsideElements();
        if (!cancelScroll)
        {
            scrollTo("chatBottom");
        }
    }
    function SetRepeat()
    {
        $("#optionsDiv").append("<div style='text-align: center;' onclick=\"Reset()\" id='qAnswers'><a class='answerOptions' style='width:400px;'>Search Again</a></div>");
        checkOutsideElements();
    }
    function Reset()
    {
        cancelScroll = false;
        showChatBox = false;
        $("#qAnswers").remove();
        keywords = [];
        collectedInformation = [];
        questionsAnswered = 0;
        questionNumber = 0;
        questionN = -1;
        question = undefined;
        getNextQuestion("Next Question by Order");
    }
    function handleEnter(e)
    {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13')
        {
            submitMessage('');
        }
    }
    jQuery.expr.filters.offscreen = function (el)
    {
        var rect = el.getBoundingClientRect();
        return (
            (rect.x + rect.width) < 0
            || (rect.y + rect.height) < 0
            || (rect.x > window.innerWidth || rect.y > window.innerHeight)
        );
    };
    $(document).on('ready', function ()
    {
        $(".lazy").slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true
        });
    });
    keywords = []
    function getKeyWord(word)
    {
        for (var i = 0; i <= keywords.length - 1; i++)
        {
            if (word == keywords[i])
            {
                keywords.splice(i, 1);
                return 0;
            }
        }
        keywords.push(word);
    }
    function sendData()
    {
        var returnProducts = false;
        $("#messagesContainer").append("<div class='tsbDiv'><li class='TSBbot' id='thinkingGif'><img src='/static/images/typing.gif'></li></div>")
        $("#thinkingGif").animate({
            marginTop: "-=25px"
        }, "slow");
        params = "numberOfKeywords=" + keywords.length.toString();
        if (keywords.length > 0)
        {
            returnProducts = true;
            for (var i = 0; i <= keywords.length - 1; i++)
            {
                params += "&";
                params += 'keyword' + (i + 1).toString() + "=" + keywords[i];
            }
        }
        params += "&questionsAnswered=" + questionsAnswered.toString();
        if (collectedInformation.length > 0)
        {
            params += "&collectedInformation=" + collectedInformation[0]
            for (var i = 1; i <= collectedInformation.length - 1; i++)
            {
                params += "||" + collectedInformation[i];
            }
        }
        else
        {
            params += "&collectedInformation=None"
        }
        collectedInformation = [];
        questionsAnswered = 0;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/{{user}}", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onreadystatechange = function ()
        {
            if (xhttp.readyState === 4)
            {
                if (xhttp.status === 200)
                {
                    $("#thinkingGif").remove();
                    var data = xhttp.responseText;
                    cRD = $("#messagesContainer");
                    if (returnProducts) {
                        if (data == "We could not find anything that matched your search criteria. Please try different filter options.") {
                            cRD.append("<br><br><br><lable class='chatProducts'>We could not find<br>anything that matched your seach criteria. Please try different filter options.</lable><br><br><br>");
                        }
                        else {
                            resultdic = {};
                            var temparray = data.split("&&&");
                            for (var i = 0; i < temparray.length; i++) {
                                resultdic[i] = temparray[i].split("|||");
                            }
                            delete resultdic[(temparray.length - 1).toString()];
                            for (var i = 0; i < temparray.length - 1; i++) {
                                resultdic[i][4] = resultdic[i][4].replace("\\u00a3", "£");
                                // cRD.append("<div class='chatProducts'><img src=\""+resultdic[i][8]+"\"><br><lable>"+resultdic[i][1]+"</lable><br><label>"+resultdic[i][2]+"</label><br><label>"+resultdic[i][4]+"</label><br><label>"+resultdic[i][3]+" Square feet</label><br><button onclick='BuyProduct(resultdic["+i+"][7])' class='chatProducts_button' style='vertical-align:middle'><span>View </span></button></div><br>");
                                cRD.append("<center><div class='chatProducts'><lable>" + resultdic[i][1] + "</lable><br><label>" + resultdic[i][2] + "</label><br><label>" + resultdic[i][4] + "</label><br><label>" + resultdic[i][3] + " Square feet</label><br><button onclick='BuyProduct(resultdic[" + i + "][7])' class='chatProducts_button' style='vertical-align:middle'><span>View </span></button></div></center><br>");
                            }
                        }
                    } else {
                        cRD.append("<br><br><br><lable class='chatProducts'>" + emojione.toImage("Thank you for<br> your information. We will be in touch. :grin:") + "</lable><br><br><br>"); 
                    }
                }
                else
                {
                    console.error(xhttp.statusText);
                }
            }
        };
        xhttp.send(params);
    }
    function scrollTo(id)
    {
        $('html, body').stop();
        id = "#" + id
        $('html, body').animate({
            scrollTop: ($(id).offset().top)
        }, 2000);
    }
    function checkOutsideElements()
    {
        var offScreenElements = $(':offscreen');
        for (var z = 0; z < offScreenElements.length; z++)
        {
            var elementID = offScreenElements[z].outerHTML.split("id=\"")[1].split("\"")[0];
            $("<br><br>").insertBefore("#" + elementID);
            checkOutsideElements();
            return 0;
        }
    }
    function BuyProduct(link)
    {
        window.open(link);
    }
    function createArray(rows)
    {
        var arrayRow = [];
        for (var i = 0; i < rows; i++)
        {
            arrayRow[i] = [];
        }
        return arrayRow;
    }
    function sleep(ms)
    {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    // ORIGINAL
    // jQuery.expr.filters.offscreen = function(el) {
    //   var rect = el.getBoundingClientRect();
    //   return (
    //            (rect.x + rect.width) < 0
    //              || (rect.y + rect.height) < 0
    //              || (rect.x > window.innerWidth || rect.y > window.innerHeight)
    //          );
    // };
</script>
</body>

</html>