<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta property="og:title" content="Virtual Assistant Platform | TheSearchBase">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.thesearchbase.com/">
    <meta property="og:description"
          content="We serve as a platform that enables businesses and companies to build a virtual assistant and deploy it onto thier website. We use a clever question and answer format">

    <link rel="canonical" href="https://www.thesearchbase.com/">


    <!-- Title -->
    <title>TheSearchBase - Build A Virtual Assistant For Your Website</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Core Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Footer CSS -->
    <link href="../static/Footer/css/Footer-white.css" rel="stylesheet">

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-70419779-2');
    </script>

    <script type='application/ld+json'>
{
    "@context": "http://schema.org/",
    "@type": "WebSite",
    "name": "TheSearchbase",
    "alternateName": "the search base",
    "url": "www.thesearchbase.com"
}

    </script>

</head>

<body>
<!-- Preloader Start -->
<div id="preloader">
    <div class="colorlib-load"></div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header_area animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="/">TheSearchBase</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="ca-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
                                <li class="nav-item">
                                <!-- start of the drop down menu -->
                                <li class="dropdown">
                                    <a class="nav-link" data-toggle="dropdown" href="#">Uses</a>
                                    <span class="caret"></span>
                                    <ul class="dropdown-menu">
                                        <li><a href="/dataRetrival" style="color:#5f27a6;">Data Retrieval</a></li>
                                        <li><a href="/dataCollection" style="color:#5f27a6;">Data Collection</a></li>
                                        <!--<li><a href="/dataConsultant" style="color:#5f27a6;">Consultant Connection</a></li>-->
                                    </ul>
                                </li>
                                <!-- End of the drop down menu-->
                                <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                            </ul>
                            <div class="sing-up-button d-lg-none">
                                <!-- <a href="/signup">Sign up in</a> -->
                                <!-- Log in button -->
                                <a href="/signup">Sign up</a>
                            </div>
                        </div>
                        <!-- End of Menu-->
                    </nav>
                </div>
            </div>
            <!-- Signup btn -->
            <div class="col-12 col-lg-2">
                <div class="sing-up-button d-none d-lg-block">
                    <!-- <a href="#">Sign up in</a><br /> -->
                    <!-- Login button -->
                    <a href="/signup">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Convert, Direct and Grow</h2>
                    <p>Build And Deploy Your virtual Assistant in minutes</p>
                </div>
                <div class="get-start-area">

                    <!-- Form Start -->
                    <form action="/send/mailtop" method="post" class="form-inline">
                        <input type="email" class="form-control email" placeholder="name@company.com" name="user_email">
                        <button type="submit" value="Send" class="submit">Register Interest</button>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome thumb -->
    <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
        <!-- Video for the intro goes here-->
        <video loop="loop" autoplay="autoplay" width="200" height="190" id="introVideo" media="all and (max-width:480px)">
            <source src="../static/images/demo2.mp4" type="video/mp4">
        </video>
        <br />
        <br />
        <br />
    </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Special Area Start ***** -->
<section class="special-area bg-white section_padding_100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>Why Is It Special</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-mobile" aria-hidden="true"></i>
                    </div>
                    <h4>Boost customer interaction</h4>
                    <p>Having a tool that interacts with your customers, makes them more likely to make a purchase on
                        your website.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <i class="ti-ruler-pencil" aria-hidden="true"></i>
                    </div>
                    <h4>Powerful Design</h4>
                    <p>Design a powerful virtual assistant and connect with your visitors. Build as complex as you like
                        and start growing faster.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-settings" aria-hidden="true"></i>
                    </div>
                    <h4>Customizability</h4>
                    <p>Have total control on your assistant and customize it with any formula that you like. Add your
                        own original content.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Special Description Area -->
    <div class="special_description_area mt-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="special_description_img">
                        <img src="../static/img/bg-img/algorithm_icon.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="special_description_content">
                        <h2>Capture visitors, in seconds</h2>
                        <p>By integrating a virtual assistant into your website, you are powering your visitors with
                            endless possibilities. With direct interaction between you and the visitors, your business
                            can make conversions in seconds with less than 5 clicks.</p>
                        <div class="app-download-area">
                            <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                <!-- Google Store Btn -->
                                <!-- Add the demo link here -->
                                <!--<a href="#">
                                    <p class="mb-0"><span></span>Show me an example</p>
                                </a>-->
                            </div>
                            <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                <!-- Apple Store Btn -->
                                <a href="/features">
                                    <p class="mb-0"><span></span> Why will it benefit my business?</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Special Area End ***** -->

<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <h2>Awesome Features</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="ti-user" aria-hidden="true"></i>
                    <h5>Awesome Experience</h5>
                    <p>Create a live sales environment and drive your visitors to any goal that you have.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="ti-pulse" aria-hidden="true"></i>
                    <h5>Fast and Simple</h5>
                    <p>In today's websites there is a data crowd. Help your users find solutions in seconds
                        with simple user interface.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="ti-dashboard" aria-hidden="true"></i>
                    <h5>Clean Code</h5>
                    <p>Insert a few lines of code anywhere into your HTML code and you're ready to go.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="ti-palette" aria-hidden="true"></i>
                    <h5>Perfect Design</h5>
                    <p>Don't worry about ruining your website, your assistant will sit in the corner of your website
                        until it's called upon.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="ti-crown" aria-hidden="true"></i>
                    <h5>Ahead of competition</h5>
                    <p>Get light years ahead of your competition with an increased number of leads using artificial
                        intelligence.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="ti-headphone" aria-hidden="true"></i>
                    <h5>On line Support</h5>
                    <p>If you have any questions or need support setting up your assistant, email us and well show you a
                        demo and help you get set up.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ***** Awesome Features End ***** -->

<!-- ***** Video Area Start ***** -->
<div class="video-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Video Area Start -->
                <div class="video-area" style="background-image: url(../static/img/bg-img/video.jpg);">
                    <div class="video-play-btn">
                        <!-- Need to make this youtube link work -->
                        <a href="https://www.youtube.com/embed?v=tKpfnBC67is" class="video_btn"><i class="fa fa-play"
                                                                                                   aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Video Area End ***** -->

<!-- ***** Cool Facts Area Start ***** -->
<section class="cool_facts_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="counter-area">
                        <h3><span class="counter">34</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-arrow-down-a"></i>
                        <p>Demo <br> requests</p>
                    </div>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="counter-area">
                        <h3><span class="counter">26</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-happy-outline"></i>
                        <p>Happy <br> Clients</p>
                    </div>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="counter-area">
                        <h3><span class="counter">19</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-person"></i>
                        <p>Active <br>accounts</p>
                    </div>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                    <div class="counter-area">
                        <h3><span class="counter">22</span></h3>
                    </div>
                    <div class="cool-facts-content">
                        <i class="ion-ios-star-outline"></i>
                        <p>Positive <br>ratings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Cool Facts Area End ***** -->

<!-- ***** Special Area Start ***** -->
<section class="special-area bg-white section_padding_100" id="about">
    <!-- Special Description Area -->
    <div class="special_description_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="special_description_img">
                        <img src="../static/img/bg-img/compass.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="special_description_content">
                        <h2>Assist your visitors, <br / > build logic</h2>
                        <p> Whatever your business goals are, you can steer users in any direction and build logic that
                            works for you - The possibilities are infinite.</p>
                        <div class="app-download-area">
                            <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                <!-- Google Store Btn -->
                                <a href="/signup">
                                    <p class="mb-0"><span></span>Get me started</p>
                                </a>
                            </div>
                            <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                <!-- Apple Store Btn -->
                                <a href="/features">
                                    <p class="mb-0"><span></span> Tell me more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Special Area End ***** -->

<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2>Join us</h2>
                    <p>Get your assistant live, for free.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                    <a href="/signup">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->

<!-- ***** Contact Us Area Start ***** -->
<section class="footer-contact-area section_padding_100 clearfix" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Register your interest</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>We'll show you a demo as to how our platform can help your business. </p>
                </div>
                <div class="address-text">
                    <p><span>Address:</span> Clydesmuir Rd, Cardiff CF24 2QS</p>
                </div>
                <div class="phone-text">
                    <!--<p><span>Phone:</span> 029 0842 9032</p>-->
                </div>
                <div class="email-text">
                    <p><span>Email:</span> thesearchbase@gmail.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Form Start-->
                <div class="contact_from">
                    <form action="/send/mail" method="POST">
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="sendingName" id="name"
                                               placeholder="Your Name" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="sendingEmail" id="email"
                                               placeholder="Your E-mail" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="sendMessage" class="form-control" id="message" cols="30"
                                                  rows="4" placeholder="Your Message *" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <button type="submit" value="Send" class="btn submit-btn">Send Now</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
                <!-- End of form  -->
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Us Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer id="myFooter">
    <div class="container">
        <div class="footer-text">
            <h2>Tsb.</h2>
        </div>
        <ul>
            <li><a href="/about">About</a></li>
            |
            <li><a href="/termsandconditions">Terms & Conditions</a></li>
            |
            <li><a href="/privacy">Privacy Policy</a></li>
            |
            <li><a href="/affiliate">Affiliate</a></li>
            |
            <li><a href="https://www.trustpilot.com/evaluate/thesearchbase.com">Trustpilot</a></li>
        </ul>
        <p class="footer-copyright">Copyright TheSearchBase Ltd. 2018. All rights reserved.</p>
        <img src="../static/images/blue.png" height="40px" width="100px">
        <br/>
        <br/>


    </div>
</footer>
<!-- ***** Footer Area end ***** -->

<!-- Jquery-2.2.4 JS -->
<script src="../static/js/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../static/js/popper.min.js"></script>
<!-- Bootstrap-4 Beta JS -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- All Plugins JS -->
<script src="../static/js/plugins.js"></script>
<!-- Slick Slider Js-->
<script src="../static/js/slick.min.js"></script>
<!-- Footer Reveal JS -->
<script src="../static/js/footer-reveal.min.js"></script>
<!-- Active JS -->
<script src="../static/js/active.js"></script>

<script>
    document.getElementById('introVideo').play();
</script>


</body>

</html>
