<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Launch Assistant</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Pop-up Stylesheet -->
    <link href="../static/pop-up/pop.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70419779-2');
    </script>

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body background="../static/images/Recruitment.PNG" height="42" width="42">

    <div class="bottom_left" id="contents1">
      <ul>
        <div id="iframediv">
            <div id="overChatbotIframe">
                <img id="overChatbotIframeImg" src="../static/img/core-img/android-icon-72x72.png" /><a id="overChatbotIframeHeading">TheSearchBase</a>
            </div>
            <iframe frameBorder="0" id="chatbotIframe" src="https://thesearchbase.com/chatbot/Recruitment LTD" width="500" height="500"></iframe>
        </div>
        <li id="launch_button" class="him" href="#">Launch Assistant</li>
      </ul>
    </div>

    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="">

    </footer>
    <!-- ***** Footer Area end ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="../static/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="../static/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="../static/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="../static/js/active.js"></script>

    <script>
    var opened = false;
    var frame = document.getElementById("iframediv");
    var but = document.getElementById("launch_button");
    frame.style = "display:none";
    but.addEventListener("click", function(){
        if(!opened){
            frame.style = "display:block";
            but.innerHTML= "Close Assistant";
            opened=true;
        }else{
            frame.style = "display:none";
            but.innerHTML= "Launch Assistant";
            opened=false;
        }
    });
    </script>
</body>

</html>
