{% extends "publicBase.html" %}

{% block title %}Pricing{% endblock %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Pricing</h2>
                    <h3></h3>
                    <p>A brilliant product, at a fair price</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->

<div class="section-heading text-center">
    <br />
    <h2>Push your business higher</h2>
    <div class="line-shape"></div>
</div>

<!-- ***** Special Area Start ***** -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="special_description_img">
                    <img src="../static/img/bg-img/brainstorming.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                <div class="special_description_content">
                    <h2>A wide range of plans</h2>
                    <p>
                        Whatever your goals are, we have a plan for you. We can also offer a <strong>three month extended trail</strong> which gives you the opportunity to test your assistant for a longer duration of time.
                        We provide you with analytics which allows you to see how many users are using your assistant and exactly what they are looking for.
                    </p>
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="#">
                                <i class="fa"></i>
                                <p class="mb-0">Get Started</p>
                            </a>
                        </div>
                        <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
<!-- ***** Special Area End ***** -->
<!-- ***** Monthly Pricing Plane Area Start *****==== -->
<section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2>Monthly Pricing Plans</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-3">
                <!-- Package Price  -->
                <div class="single-price-plan active text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <h5>Trail Plan</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span></span>
                            <h4>14 Day Trial</h4>
                        </div>
                    </div>
                    <div class="package-description">
                        <p> Everything on the Ultimate plan</p>
                        <p>Free for 14 days</p>
                        <p>No Credit Card needed</p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="/signup">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <!-- Package Price  -->
                <div class="single-price-plan text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <h5>Basic Plan</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span>£</span>
                            <h4>50<span>/pm</span></h4>
                        </div>
                    </div>
                    <div class="package-description">
                        <p>Number of bots: 2</p>
                        <p>Up to 600 Solutions</p>
                        <p>Additional users: 5</p>
                        <p>Data Storage</p>
                        <p>Branding at the Top</p>
                        <p>Setup support</p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="/signup">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <!-- Package Price  -->
                <div class="single-price-plan text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <h5>Advanced Plan</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span>£</span>
                            <h4>199<span>/pm</span></h4>
                        </div>
                    </div>
                    <div class="package-description">
                        <p>Number of bots: 4</p>
                        <p>Up to 1500 Solutions</p>
                        <p>Additional users: 10</p>
                        <p>Data Storage</p>
                        <p>No Branding at the Top</p>
                        <p>Logical Questions </p>
                        <p>Database import</p>
                        <p>Extended Setup support</p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="/signup">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <!-- Package Price  -->
                <div class="single-price-plan text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <h5>Ultimate Plan</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span>£</span>
                            <h4>399<span>/pm</span></h4>
                        </div>
                    </div>
                    <div class="package-description">
                        <p>Number of bots: 10</p>
                        <p>Unlimited solutions storage</p>
                        <p>Additional users: Unlimited</p>
                        <p>Encrypted Data Storage</p>
                        <p>Database Import & Automatic scan </p>
                        <p>No branding at the bottom</p>
                        <p>Extended Logic</p>
                        <p>Full Setup support</p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a>Coming Soon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Monthly Pricing Plane Area End ***** -->
<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <br />
                    <br />
                    <h2>Price Promise</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="" aria-hidden="true"></i>
                    <h5>Cancel anytime</h5>
                    <p>You can leave when you want a join when you want.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="" aria-hidden="true"></i>
                    <h5>No hidden fees</h5>
                    <p>The price displayed is the price that you are charged. There are no hidden setup fees or unexpected payment increases.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="" aria-hidden="true"></i>
                    <h5>Price freeze</h5>
                    <p>Prize freeze means that the price set above will not change. The amount you see above is what you pay.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="" aria-hidden="true"></i>
                    <h5>Guarantee of services</h5>
                    <p>We work hard to ensure all our servers are running well to guarantee you the highest quality of service.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="" aria-hidden="true"></i>
                    <h5>Flexibility</h5>
                    <p>If you need something that is unique to your business, then we are happy to help. We can create something for you that best fits you.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="" aria-hidden="true"></i>
                    <h5>Try for an extended period of time.</h5>
                    <p>After all, if you're not yet convinced with our 3 month trail, we can supply you with an extension see if an assistant can be useful to your business.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome Features End ***** -->
{% endblock %}
