<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Privacy Policy</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Core Stylesheet -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70419779-2');
    </script>


</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">Tsb.</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/demo">Demo</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <!-- <a href="/signup">Sign up in</a> -->
                                    <!-- Log in button -->
                                    <a href="/signupform">Sign up</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                      <!-- <a href="#">Sign up in</a><br /> -->
                      <!-- Login button -->
                      <a href="/signupform">Sign up</a>
                     </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area2 clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Privacy Policy</h2>
                        <h3></h3>
                        <p>How we use your data.</p>
                    </div>
                </div>
            </div>

            <div class="policies">
              <br />
              <p> Giving our users the best exprince therfore we take matters such as privacy very seriosusly.
                 We apply our privacy policy across TheSearchBase's ecosystem. If you do not agree with our policy
                 you may not use our services.<p>

            <div class="Policy_head">
              <br />
              <h4> Personal information </h4>
            </div>
            <div class="Policy_text">
              <p> In order for you to make functional use of our services, we will need personal and company information.
              If you wish for your details not be shared with us where possible, you may skip the submition. However
              in required fields, you must provide us your information.</p>
            </div>

            <div class="Policy_head">
              <br />
              <h4> The use of your information </h4>
            </div>
            <div class="Policy_text">
              <p> By using our platform/website, you agree that we may collect, hold, process and use your information
              (including personal/company information) for the purposes of providing you with the Site Services and
            developing our business which includes (without limitation): </p>
            <ul>
              <li class="policy_list_margin">Informing you about the latest changes to the site, products, services or promotional offers
              that you might find intresting</li>
              <li class="policy_list_margin">To notify you about changes to the Service.</li>
              <li class="policy_list_margin">Communicating (and personalising such communication) with you</li>
              <li class="policy_list_margin">Conducting market research.</li>
              <li class="policy_list_margin">Carrying out technical and statistical analysis to measure the performance of our services and the Site.</li>
            </ul>
            <p> if you do cancel your account with us, we will delete all of your information promptly and securely that
              we hold about you. However we still hold the right to keep any Anonymous Data collected and continue to further use this
              information. </p>
            </div>

            <div class="Policy_head">
              <br />
              <h4> Sharing your data </h4>
            </div>
            <div class="Policy_text">
              <p> We may share your information with trusted suppliers that we continusely engage with to help us provide certian
              information inorder to help us provide certian functionality such as handling payments and subscriptions. We will use your
            data in reasonable endeavours to control and be responsible for the use of your information by such suppliers.</p>
            </div>

            <div class="Policy_head">
              <br />
              <h4> Keeping your personal Information secure </h4>
            </div>
            <div class="Policy_text">
              <p> The security of your personal/company information is our priority and we have both technical and physical procedures to
              keep your data secure at all times to help prevent any unautharised access, use or manipulation as Law in England. Once your
            data has been recived by us, we will run technical prodecdures and security features to try to prevent unauthorised access including:  </p>
              <ul class="Policy_list">
                <li class="policy_list_margin">by encrypting any Personal/Company Information which we transfer to Stripe</li>
                <li class="policy_list_margin">Agreement with Stripe to only use infomration that is needed and which you can have access to.</li>
                <li class="policy_list_margin">Only use the information nessecary to provide you the platform</li>
              </ul>
            </div>

            <div class="Policy_head">
              <br />
              <h4> Changes to our Privacy Policy </h4>
            </div>
            <div class="Policy_text">
              <p> In the instance that we do make changes to this policy, we will post the revised policy here with an updated message and a further email
              will be sent to inform you of the changes. </p>
            </div>
          </div>
        </div>
        <br />
        <br />
    </section>

    <!-- ***** Footer Area Start ***** -->
    <footer class="">

    </footer>
    <!-- ***** Footer Area end ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="../static/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="../static/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="../static/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="../static/js/active.js"></script>
</body>

</html>
