{% extends "publicBase.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Privacy Policy</h2>
                    <h3></h3>
                    <p>How we use your data.</p>
                </div>
            </div>
        </div>

        <div class="policies">
            <br />
            <p>
                Giving our users the best experience, therefore, we take matters such as privacy very seriously.
                We apply our privacy policy across TheSearchBase's ecosystem. If you do not agree with our policy you
                may not use our services.
            <p>

                <div class="Policy_head">
                    <br />
                    <h4> Personal information </h4>
                </div>
                <div class="Policy_text">
            <p> In order for you to make functional use of our services, we will need personal and company information. If you wish for your details not be shared with us where possible, you may skip the submission. However, in required fields, you must provide us with your information.</p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> The use of your information </h4>
        </div>
        <div class="Policy_text">
            <p> By using our platform/website, you agree that we may collect, hold, process and use your information (including personal/company information) for the purposes of providing you with the Site Services and developing our business which includes (without limitation): </p>
            <ul>
                <li style="text-align:left" class="policy_list_margin">Informing you about the latest changes to the site, products, services or promotional offers that you might find interesting</li>
                <li style="text-align:left" class="policy_list_margin">To notify you about changes to the Service.</li>
                <li style="text-align:left" class="policy_list_margin">Communicating (and personalising such communication) with you</li>
                <li style="text-align:left" class="policy_list_margin">Conducting market research.</li>
                <li style="text-align:left" class="policy_list_margin">Carrying out technical and statistical analysis to measure the performance of our services and the Site.</li>
            </ul>
            <p> If you do cancel your account with us, we will delete all of your information promptly and securely that we hold about you. However, we still hold the right to keep any Anonymous Data collected and continue to further use this information. </p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Sharing your data </h4>
        </div>
        <div class="Policy_text">
            <p> We may share your information with trusted suppliers that we continuously engage with to help us provide certain information in order to help us provide certain functionality such as handling payments and subscriptions. We will use your data in reasonable endeavours to control and be responsible for the use of your information by such suppliers.</p>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Keeping your personal Information secure </h4>
        </div>
        <div class="Policy_text">
            <p> The security of your personal/company information is our priority and we have both technical and physical procedures to keep your data secure at all times to help prevent any unauthorised access, use or manipulation as Law in England. Once your data has been received by us, we will run technical procedures and security features to try to prevent unauthorised access including:  </p>
            <ul class="Policy_list">
                <li style="text-align:left" class="policy_list_margin">by encrypting any Personal/Company Information which we transfer to Stripe</li>
                <li style="text-align:left" class="policy_list_margin">Agreement with Stripe to only use information that is needed and which you can have access to.</li>
                <li style="text-align:left" class="policy_list_margin">Only use the information necessary to provide you the platform</li>
            </ul>
        </div>

        <div class="Policy_head">
            <br />
            <h4> Changes to our Privacy Policy </h4>
        </div>
        <div class="Policy_text">
            <p> In the instance that we do make changes to this policy, we will post the revised policy here with an updated message and a further email will be sent to inform you of the changes. </p>
        </div>
    </div>
    </div>
    <br />
    <br />
</section>
{% endblock %}
