{% extends "publicBase.html" %}

{% block title %}Data Retrieval{% endblock %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="wellcome_area2 clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Data Scan</h2>
                    <h3></h3>
                    <p>Using AI to scan data for your users</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <br />
                    <br />
                    <h2>Scanning Data for Users</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome Features End ***** -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="special_description_img">
                    <img src="../static/img/bg-img/cycle.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                <div class="special_description_content">
                    <h2>Super Intelligent and Fast</h2>
                    <p>
                        Once you make your assistant, you can also supply it with a database of virtually anything that your company supplies. The assistant will then
                        specifically ask the user to direct them to the right area of your website. This process is not only interactive, it's also very fast.
                    </p>
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="/signup">
                                <i class="fa"></i>
                                <p class="mb-0">Get Started</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Special Area End ***** -->
<!-- ***** Video Area Start ***** -->
<div class="video-section">
    <div class="video-section">
    <div class="section-heading text-center">
        <br />
        <br />
        <br />
        <br />
        <h2>Visual Demo</h2>
        <div class="line-shape"></div>
        <br />
        <div class="container">
            <video loop="loop" autoplay="autoplay" width="300" height="450" id="introVideo">
                <source src="../static/images/Ashampoo_Snap_08%20December%202018_00h58m37s_003_.webm" type="video/webm">
            </video>
        </div>
    </div>
</div>
<!-- ***** Video Area End ***** -->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- ***** App Screenshots Area Start ***** -->
<section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Screenshots</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- App Screenshots Slides  -->
                <div class="app_screenshots_slides owl-carousel">
                    <div class="single-shot">
                        <img src="../static/img/scr-img/snip11.PNG" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="../static/img/scr-img/snip1.PNG" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="../static/img/scr-img/snip2.PNG" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="../static/img/scr-img/snip3.PNG" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="../static/img/scr-img/snip4.PNG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** App Screenshots Area End *****====== -->
<!-- Special Description Area -->
<div class="special_description_area mt-150">
    <div class="section-heading text-center">
        <h2>Advancement in Technology</h2>
        <div class="line-shape"></div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="special_description_img">
                        <img src="../static/img/bg-img/cpu.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="special_description_content">
                        <h2>AI to your advantage</h2>
                        <p>
                            Statistics show that 63% of questions companies get asked are all repeats. Using AI and Machine learning, you can train your bot with pre-set answers
                            for these questions which can help save your team hours in time every week. The assistant can deal with clients and internal members of a business.
                        </p>
                        <div class="app-download-area">
                            <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                <!-- Google Store Btn -->
                                <a href="/signup">
                                    <i class="fa"></i>
                                    <p class="mb-0">Get Started, For Free</p>
                                </a>
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2>Join our Monthly Membership</h2>
                    <p>Find the perfect plan for you — starting for free.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                    <a href="/signup">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->
{% endblock %}
