<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Demo</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Core Stylesheet -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Box stylesheets -->
    <link href="../static/css/box.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70419779-2');
    </script>


</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">Tsb.</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                              <ul class="navbar-nav ml-auto" id="nav">
                                  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/demo">Demo</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
                                  <!-- <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li> -->
                                  <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                              </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/login">Log in</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area2 clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>A Quick Demo</h2>
                        <p>Take the tour</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Here is a quick demo of our product</h2>
                        <br />
                        <p>This is what your visitor will see</p>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>
    <!-- ***** Special Area End ***** -->



    <!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
			 		</header>
				</div>
        <div class="">
				 <div id ="q1" class="">
           <div class="box-holder">
              <h2 style="text-align:center;">What will you use your computer for?</h2>
               <p style="text-align:center;">Please select one option.</p>
               <div class="row">
                 <div class="column" onclick="SetComputerUse('Business')">
                   <p class="image-box">Business</p>
                   <img class="icon-box" src="../static/img/icon-images/laptop.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('Everyday')">
                   <p class="image-box">Everyday Use</p>
                   <img class="icon-box" src="../static/img/icon-images/imac.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('VideoEditing')">
                   <p class="image-box">Graphic Design</p>
                   <img class="icon-box" src="../static/img/icon-images/editor.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('Gaming')">
                   <p class="image-box">Gaming</p>
                   <img class="icon-box" src="../static/img/icon-images/computer.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('Programming')">
                   <p class="image-box">Programming</p>
                   <img class="icon-box" src="../static/img/icon-images/computing.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('Study')">
                   <p class="image-box">Studying</p>
                   <img class="icon-box" src="../static/img/icon-images/ebook.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('Family')">
                   <p class="image-box">Family Computer</p>
                   <img class="icon-box" src="../static/img/icon-images/family.png">
                 </div>
                 <div class="column" onclick="SetComputerUse('')">
                   <p class="image-box">I don't know</p>
                   <img class="icon-box" src="../static/img/icon-images/question.png">
                 </div>
               </div>
            </div>
         </div>

				 <!-- Second set of questions -->
				<div id ="q2" class="">
          <div class="box-holder">
             <h2 style="text-align:center;">What is your budget?</h2>
              <p style="text-align:center;">Please select one option.</p>
             <div class="row">
               <div class="column" onclick="SetComputerBudget(0, 500)">
                 <p class="text-box">Less than £500</p>
               </div>
               <div class="column" onclick="SetComputerBudget(500, 1000)">
                 <p class="text-box">Between £500 and £1000</p>
               </div>
               <div class="column" onclick="SetComputerBudget(1000, 1500)">
                 <p class="text-box">Between £1000 and £1500</p>
               </div>
               <div class="column" onclick="SetComputerBudget(1500, 20000)">
                 <p class="text-box">More than £1500</p>
               </div>
             </div>
           </div>
				</div>

					<!-- Third set of questions -->
					<div id ="q3" class="">
            <div class="box-holder">
               <h2 style="text-align:center;">What do you prefer?</h2>
                <p style="text-align:center;">Please select one option.</p>
               <div class="row">
                 <div class="column" onclick="SetComputerPortable('Laptop')">
                   <p class="text-box">Laptop</p>
                 </div>
                 <div class="column" onclick="SetComputerPortable('Desktop')">
                   <p class="text-box">Desktop</p>
                 </div>
                 <div class="column" onclick="SetComputerPortable(null)">
                   <p class="text-box">I don't mind</p>
                 </div>
               </div>
             </div>
				  </div>

					 <!-- Fourth set of questions -->
					 <div id ="q4" class="">
             <div class="box-holder">
                <h2 style="text-align:center;">From the options, what is most important to you?</h2>
                 <p style="text-align:center;">Please select one option.</p>
                <div class="row">

                  <div class="column" onclick="SetComputerKeyFeature('BatteryLife')">
                    <p class="image-box">Good battery life</p>
                    <img class="icon-box" src="../static/img/icon-images/battery.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('Performance')">
                    <p class="image-box">Performance</p>
                    <img class="icon-box" src="../static/img/icon-images/startup.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('Display')">
                    <p class="image-box">Display Quality</p>
                    <img class="icon-box" src="../static/img/icon-images/analytics.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('ValueForMoney')">
                    <p class="image-box">Value for money</p>
                    <img class="icon-box" src="../static/img/icon-images/piggy-bank.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('UserFriendly')">
                    <p class="image-box">User Friendly</p>
                    <img class="icon-box" src="../static/img/icon-images/add-user.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('Durability')">
                    <p class="image-box">Durability</p>
                    <img class="icon-box" src="../static/img/icon-images/spanner.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('BuildQuality')">
                    <p class="image-box">High Build Quality</p>
                    <img class="icon-box" src="../static/img/icon-images/gear.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('Multipurpose')">
                    <p class="image-box">Multipurpose</p>
                    <img class="icon-box" src="../static/img/icon-images/swiss-army-knife.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('Futureproof')">
                    <p class="image-box">Futureproof</p>
                    <img class="icon-box" src="../static/img/icon-images/oculus-rift.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('4k')">
                    <p class="image-box">4K Display</p>
                    <img class="icon-box" src="../static/img/icon-images/4k.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('CustomerSupport')">
                    <p class="image-box">Customer Support</p>
                    <img class="icon-box" src="../static/img/icon-images/support.png">
                  </div>
                  <div class="column" onclick="SetComputerKeyFeature('Touchscreen')">
                    <p class="image-box">Touchscreen</p>
                    <img class="icon-box" src="../static/img/icon-images/touchscreen.png">
                  </div>
                </div>
              </div>
				    </div>
				   </div>
          </section>

		<!-- Found devices. These will have to be dynamic and the deivces that we retrive from the database. -->
			<div class="found-set1">
        <div class="text-holder">
				 <div id="a1" class="question_set1">
				    <div class="found_pc_section">
				 	   <h2 style="text-align:center" >These are the computers we found you</h2>
				 		<div id="computerResultDiv">
		 			 </div>
		 			</div>
          </div>
					 <div class="research-butto">
           <div class="text-holder">
					 <a href="#q1">Search Again</a>
           <br />
           <br />
           <br />
           <br />
           <br />
				  </div>
          </div>
			   </div>
			  </div>
        <br />

        <!-- End of found devices area -->

        <!-- ***** CTA Area Start ***** -->
        <section class="our-monthly-membership section_padding_50 clearfix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="membership-description">
                            <h2>Like what you found?</h2>
                            <p>Make an assistant for your own customers</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                            <a href="/signupform">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** CTA Area End ***** -->


    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                  <!-- Heading Text  -->
                  <div class="section-heading">
                      <h2>Get in touch with us!</h2>
                      <div class="line-shape"></div>
                  </div>
                  <div class="footer-text">
                      <p>We'll send you tips and tricks to sharpen your assistant to maximise your retrun.</p>
                  </div>
                  <div class="address-text">
                      <p><span>Address:</span> Clydesmuir Rd, Cardiff CF24 2QS</p>
                  </div>
                  <div class="phone-text">
                      <p><span>Phone:</span> 029 0842 9032</p>
                  </div>
                  <div class="email-text">
                      <p><span>Email:</span> contact@thesearchbase.com</p>
                  </div>
              </div>
                <div class="col-md-6">
                  <!-- Form Start-->
                  <div class="contact_from">
                      <form action="/send/mail" method="POST">
                          <!-- Message Input Area Start -->
                          <div class="contact_input_area">
                              <div class="row">
                                  <!-- Single Input Area Start -->
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <input type="text" class="form-control" name="sendingName" id="name" placeholder="Your Name" required>
                                      </div>
                                  </div>
                                  <!-- Single Input Area Start -->
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <input type="email" class="form-control" name="sendingEmail" id="email" placeholder="Your E-mail" required>
                                      </div>
                                  </div>
                                  <!-- Single Input Area Start -->
                                  <div class="col-12">
                                      <div class="form-group">
                                          <textarea name="sendMessage" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                      </div>
                                  </div>
                                  <!-- Single Input Area Start -->
                                  <div class="col-12">
                                      <button type="submit" value="Send" class="btn submit-btn">Send Now</button>
                                  </div>
                              </div>
                          </div>
                          <!-- Message Input Area End -->
                      </form>
                  </div>
                <!-- End of form  -->
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="">

    </footer>
    <!-- ***** Footer Area end ***** -->

    			<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script type="text/javascript">
		    $(document).on('ready', function() {
		      $(".lazy").slick({
		        lazyLoad: 'ondemand', // ondemand progressive anticipated
		        infinite: true
		      });
		    });
				var computerUse = ""; var minbudget = 0; var maxbudget = 0; var portable = false; var battery = 0; var keyFeature = "";
				// var keyFeatures = [];
				function SetComputerUse(c){
					computerUse = c;
					console.log(computerUse);
					scrollTo("q2");
				}
				function SetComputerBudget(c1, c2){
					minbudget = c1;
					maxbudget = c2;
					console.log(minbudget, maxbudget);
					scrollTo("q3");
				}
				function SetComputerPortable(c){
					portable = c;
					console.log(portable);
					scrollTo("q4");
				}
				function SetComputerBattery(c){
					if(battery == 10){
						battery = 0
					} else {
						battery = c;
					}
					scrollTo("a1");
					// keyFeature="";
					console.log(battery);
					DisplayComputers(computerUse, minbudget, maxbudget, portable, battery, keyFeature);
				}
				keyFeatures = [];
				function SetComputerKeyFeature(c){
					var pos = keyFeatures.indexOf(c);
					if(pos == -1){
						keyFeatures.push(c);
					} else {
						keyFeatures.splice(pos, 1);
					}
					console.log(keyFeatures);
					scrollTo("a1");
					DisplayComputers(computerUse, minbudget, maxbudget, portable, battery, keyFeatures);
				}
				// function SetComputerKeyFeature(c){
				// 	keyFeature = c;
				// 	console.log(keyFeature);
				// 	DisplayComputers(computerUse, minbudget, maxbudget, portable, battery, keyFeature);
				// }
				var compdic = {};
				function DisplayComputers(cu, minb, maxb, portable, battery, keyfeatures){
					console.log(cu, minb, maxb, portable, battery, keyfeatures);
	        params = 'compuse='+cu+'&minbudget='+minb+'&maxbudget='+maxb+'&portable='+portable+'&battery='+battery+'&keyfeatures='+keyfeatures;
	        var xhttp = new XMLHttpRequest();
	        xhttp.open("POST", '/GetComputers', true);
	        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	        xhttp.onreadystatechange = function() {
	          if (xhttp.readyState === 4) {
	            if (xhttp.status === 200) {
	              var data = xhttp.responseText;
								console.log(data);
                // [17] is link; [18] is image
								cRD = $("#computerResultDiv");
								cRD.empty();
								if(data == "We could not find Computers that matched your seach. Please try different filter options."){
									cRD.append("<br><h3>"+data+"</h3>");
								} else {
									compdic = {};
									var temparray = data.split(",");
									for(var i = 0; i < temparray.length; i++){
										compdic[i] = temparray[i].split("|");
									}
									delete compdic[(temparray.length - 1).toString()];
									for(var i = 0; i< temparray.length-1; i++){
										console.log(compdic[i]);
										cRD.append("<div onclick='BuyComputer(compdic["+i+"][18])' class='found_box1'><img src=\""+compdic[i][19]+"\"><br><lable>"+compdic[i][2]+" "+compdic[i][3]+"</lable><br /><lable>"+"Battery life(Hrs): "+compdic[i][4]+"</lable><br /><lable>"+"Screen size(Inch): "+compdic[i][5]+"</lable><br /><lable>"+"Weight(Kg): "+compdic[i][7]+"</lable><br /><lable>"
										+"now £"+compdic[i][6]+"</lable><br /> <button class=found_button style=vertical-align:middle><span>Buy </span></button><br /><lable>With</lable><br /> <img class=companyfoundlogo src=\""+compdic[i][20]+"\"></div>");
									}
									// <div onclick='BuyComputer(compdic["+i+"][14])' class='found_box1'><img src=\""+compdic[i][15]+"\"><br><a>"+compdic[i][2]+" "+compdic[i][3]+"</a><br /><a>Screen size(Inch): "+compdic[i][5]+"</a><br /><a>Battery life(Hrs):"+compdic[i][4]+"</a><br /><a> Weight(Kg): "compdic[i][7]+"</a><br /><a>"+compdic[i][13]+"% off now £"
									// +compdic[i][6]+"</a><br /> <button class=found_button style=vertical-align:middle><span>Buy </span></button></div>");
								}
								// <div class="box1">
				 				// 	<a>Dell XPS 13</a><br />
								// 	<a>£1300</a><br />
				 				// </div>
                // computerResultDiv
	            } else {
	              console.error(xhttp.statusText);
	            }
	          }
	        };
	        xhttp.send(params);
	        return false;
				}
				function scrollTo(id){
					id = "#" + id
					$('html, body').animate({
						scrollTop: ($(id).offset().top)
					}, 1000);
				}
				function BuyComputer(comp){
					window.open(comp.toString());
				}
		</script>

    <!-- Jquery-2.2.4 JS -->
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="../static/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="../static/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="../static/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="../static/js/active.js"></script>
</body>
</html>
