<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Terms & Conditions</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Core Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-70419779-2');
    </script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#64386b",
                        "text": "#ffcdfd"
                    },
                    "button": {
                        "background": "#f8a8ff",
                        "text": "#3f0045"
                    }
                },
                "theme": "edgeless",
                "position": "top",
                "content": {
                    "dismiss": "I Agree"
                }
            })
        });
    </script>


</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">TheSearchBase</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
                                    <li class="nav-item">
                                        <!-- start of the drop down menu -->
                                    <li class="dropdown">
                                        <a class="nav-link" data-toggle="dropdown" href="#">Uses</a>
                                        <span class="caret"></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="/dataRetrieval" style="color:#5f27a6;">Data Retrieval</a></li>
                                            <li><a href="/dataCollection" style="color:#5f27a6;">Data Collection</a></li>
                                            <!--<li><a href="/dataConsultant" style="color:#5f27a6;">Consultant Connection</a></li>-->
                                        </ul>
                                    </li>
                                    <!-- End of the drop down menu-->
                                    <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <!-- <a href="/signup">Sign up in</a> -->
                                    <!-- Log in button -->
                                    <a href="/signup">Sign up</a>
                                </div>
                            </div>
                            <!-- End of Menu-->
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                      <!-- <a href="#">Sign up in</a><br /> -->
                      <!-- Login button -->
                      <a href="/signup">Sign up</a>
                     </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area2 clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Terms & Conditions</h2>
                        <h3></h3>
                        <p>Rules we practice.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Wellcome Area End ***** -->

            <div class="policies">
                <br />
                <p> This website is operated by TheSearchBase Ltd (we may refer to ourselves as "we", "our", or "us")<p>

                    <div class="Policy_head">
                        <br />
                        <h4> Personal information </h4>
                    </div>
                    <div class="Policy_text">
                <p> Please read these Terms and Conditions carefully before you start using our software as a service as they will apply to your use of it. By using our platform, you confirm that you accept these Terms and agree to comply with them at all times when using our website. If you do not accept these Terms, you may not use the Service. If we change these Terms we will notify you indefinitely. We may leave a note on the home page or send you an email. Will will ensure you know of any changes that are taking place.</p>
            </div>

            <div class="Policy_head">
                <br />
                <h4> About Us </h4>
            </div>
            <div class="Policy_text">
                <p> You can contact us at any time by emailing: contact@thesearchbase.com </p>
            </div>

            <div class="Policy_head">
                <br />
                <h4> The Service we Provide </h4>
            </div>
            <div class="Policy_text">
                <p>
                    TheSearchbase provides a platform for companies to create a virtual assistant for their website or business for multiple purposes. The platform can be used
                    across all industries and sectors without any limitations. More accurately the service will allow you to:
                </p>
                <ul class="Policy_list">
                    <li style="text-align:left" class="policy_list_margin">Create an assistant that can then be deployed to your website</li>
                    <li style="text-align:left" class="policy_list_margin">Build your own questions and answers that will be used during the use of the assistant</li>
                    <li style="text-align:left" class="policy_list_margin">Add products, services or what your business intends to provide visitors</li>
                    <li style="text-align:left" class="policy_list_margin">Track how many visitors have used your deployed assistant and what they searched for.</li>
                </ul>
            </div>

            <div class="Policy_head">
                <br />
                <h4> When you must upgrade </h4>
            </div>
            <div class="Policy_text">
                <p>
                    We intend to keep our assistant for free as long as possible. However, if you and/or your company is generating more than £15,000 per year
                    through the assistant, you must upgrade to a paying plan.
                </p>
            </div>

            <div class="Policy_head">
                <br />
                <h4> Access to our platform </h4>
            </div>
            <div class="Policy_text">
                <p> If for any reason the Site is unavailable at any time or for any period. From time to time, we may restrict access to all or some parts of the Site to users who have registered with us. </p>
            </div>

            <div class="Policy_head">
                <br />
                <h4> User information </h4>
            </div>
            <div class="Policy_text">
                <p> In order to make your assistant work, we will require certain pieces of information to make the assistant work. We will never ask for more information than what is necessary. To deploy your assistant we will need:   </p>
                <ul class="Policy_list">
                    <li style="text-align:left" class="policy_list_margin">Your website domain;</li>
                    <li style="text-align:left" class="policy_list_margin">and for you to add some code to any part of your website.</li>
                </ul>
            </div>

            <div class="Policy_head">
                <br />
                <h4> Informing users about data collection </h4>
            </div>
            <div class="Policy_text">
                <p> With new European regulations(GDPR) surrounding data collection and data storage about users, we must inform the company/individual using our technology for data collection from the user, to inform the user that their data is being collected. This can be done in a few ways.   </p>
                <ul class="Policy_list">
                    <li style="text-align:left" class="policy_list_margin">Explicitly informing the user in your chat, that data is being collected.</li>
                    <li style="text-align:left" class="policy_list_margin">Extending your use policy and adding that any data entered to the chat bot will be collected and used..</li>
                </ul>
                <p>We take every precaution to ensure all of the data that is being for you, meets the new  data policy regulations. </p>

            </div>

            <div class="Policy_head">
                <br />
                <h4> Data Ownership </h4>
            </div>
            <div class="Policy_text">
                <p>
                    Our platform enables you as a user to store information. It is your responsibility to understand what data you are collecting and for what purposes since you are the owner of the data. We do all we
                    can do help prevent data being leaked and are working to comply with new European Regulations (GDPR).
                </p>
                <br />
                <p>To help our users, we are working on new technologies to </p>
                <ul class="Policy_list">
                    <li style="text-align:left" class="policy_list_margin">Encrypting any data that you are storing.</li>
                    <li style="text-align:left" class="policy_list_margin">Legally making sure that the user is informed when data is collected. </li>
                </ul>
            </div>
        </div>
        </div>
    </section>

    <!-- ***** Footer Area Start ***** -->
    <footer class="">

    </footer>
    <!-- ***** Footer Area end ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="../static/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="../static/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="../static/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="../static/js/active.js"></script>
</body>

</html>
