<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Terms & Conditions</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#884BDF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#884BDF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#884BDF">

    <!-- Icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Core Stylesheet -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70419779-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70419779-2');
    </script>


</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">Tsb.</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                              <ul class="navbar-nav ml-auto" id="nav">
                                  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/demo">Demo</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/signupform">Sign up</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                              </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/login">Log in</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area2 clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Terms & conditions</h2>
                        <h3></h3>
                        <p>Rules we practice.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Get in touch with us!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>We'll send you epic weekly blogs, whitepapers and things to make your app startup thrive, all FREE!</p>
                    </div>
                    <div class="address-text">
                        <p><span>Address:</span> Clydesmuir Rd, Cardiff CF24 2QS</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Phone:</span> 029 0842 9032</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> contact@thesearchbase.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="">

    </footer>
    <!-- ***** Footer Area end ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="../static/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="../static/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="../static/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="../static/js/active.js"></script>
</body>

</html>
