.wrapper {
    padding: 1em 1em;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #a865e1, #9d69e5, #916ce8, #8570eb, #7773ed);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #726a84;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    place-items: center;
}

.col_desc {
    align-self: center;
    color: white;
}

.col_desc .text1 {
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 0 0 .5em 0;
    font-size: 2em;
}

.col_desc .text2 {
    text-align: left;
    color: white;
    font-size: 1em;
}

.card {
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.title {
    color: #444444;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: .5em;
}

.sign_up {
    margin-top: 1em;
    font-size: .85em;
    text-align: center;
    color: #726a84;
}

.sign_up a {
    font-size: .96em;
    margin: 0 .2em;
    text-decoration: none;
    color: #9254de;
}

.navigation {
    margin-top: 1em;
    color: white;
    align-self: center;
    text-align: center;
}

.navigation ul {
    font-size: 0.8em;
    justify-content: space-around;
    display: flex;
    flex-flow: row;
    align-self: center;
}

.navigation ul li {
    padding: 0 1em;
}

.navigation a {
    text-decoration: none;
    color: white;
}


@media (max-width: 1200px) {
    .form_wrapper {
        margin: 0 3%;
    }
}

@media (max-width: 992px) {
    .form_wrapper {
        margin: 0;
    }
}

@media (max-width: 768.98px) {
    .col_desc{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .col_desc .text1 {
        text-align: center;
        font-size: 1.5em;
    }

    .col_desc .text2 {
        text-align: center;
    }
}
