
.Panel {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #fff;
}

.Panel_Body {
  height: 100%;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 50px;
  overflow-y: hidden;
}