.wrapper {
    padding: 1em 1em;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #a865e1, #9d69e5, #916ce8, #8570eb, #7773ed);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #726a84;
}

.row {
    flex-flow: column;
    align-items: center;
}

.desc {
    font-size: 3em;
    color: white;
}

.card {
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.title {
    color: #444444;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
}

.logo {
    text-align: center;
    display: block;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 4em;
    color: #9254de;
}

.logo .brand_title {
    color: #9254de;
    line-height: 0.5em;
    font-size: .95em;
    font-weight: bold;
}

.sign_up {
    margin-top: 4em;
    font-size: .85em;
    text-align: center;
    color: #726a84;
}

.sign_up a {
    font-size: .96em;
    margin: 0 .2em;
    text-decoration: none;
    color: #9254de;
}

.navigation {
    margin-top: 1em;
    color: white;
    align-self: center;
    text-align: center;
}

.navigation ul {
    font-size: 0.8em;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    align-self: center;
}

.navigation ul li {
    padding: 0 1em;
}

.navigation a {
    text-decoration: none;
    color: white;
}

@media (min-width: 992px) {
    .card, .navigation {
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media (min-width: 1200px) {
    .card, .navigation {
        margin-left: 4%;
        margin-right: 4%;
    }
}